﻿@using Mises.Web.ViewModels.Authors
@model BrowseViewModel

@{
    //Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="authors">
    <div class="intro">
        <span class="icon"></span>
        <h1>@Model.Title</h1>
        <p class="summary">Browse below or look up <input id="author-lookup" class="autocomplete" data-source="/authors/searchjson" data-target-base="/authors" /></p>
    </div>

    <div class="section alphabet">
        <ul>
            @foreach (var letter in Model.Alphabet)
            {
                <li>
                    @{
                        var single = (letter.Value == "1");
                        var title = @String.Format("{0} author{1} with a surname beginning with {2}", letter.Value, single ? "" : "s", letter.Text);

                        if (letter.Selected)
                        {
                            <span class="selected" title="@title">@letter.Text</span>
                        }
                        else if (letter.Value == "0")
                             {
                                 <span title="@String.Format("No authors with a surname beginning with {1}", letter.Value, letter.Text)">@letter.Text</span>
                             }
                             else
                             {
                                 @Html.RouteLink(letter.Text, "authors-browse", new {letter = letter.Text.ToLower()}, new {@class = "icon authors", title})
                                 ;
                             }
                    }
                </li>
            }
        </ul>
    </div>

    @{ Html.RenderPartial("Pagination", Model); }

    <div class="section vcards">
        @foreach (var author in Model.Items)
        {
            Html.RenderAction("DetailCard", "Authors", new {author});
        }
    </div>

    @{ Html.RenderPartial("Pagination", Model); }
</div>