﻿@using Mises.Domain.Extensions;
@{ Layout = null; }
@model Mises.Web.ViewModels.Authors.DetailViewModel

<div class="author vcard ui-widget ui-widget-content ui-corner-all">
	@if (Model.Featured != null) 
	{
		String routeurl = String.Empty;
		if (Model.Featured is Mises.Domain.Contracts.DocumentDTO)
		{
			routeurl = Url.RouteUrl("media-detail", new { id = Model.Featured.Id, slug = ((Mises.Domain.Contracts.DocumentDTO)Model.Featured).Title.ToSlug() });
		}
		else if (Model.Featured is Mises.Domain.Contracts.ArticleSummaryDTO)
		{
			routeurl = String.Format("/daily/{0}/{1}", Model.Featured.Id, ((Mises.Domain.Contracts.ArticleSummaryDTO)Model.Featured).Title.ToSlug()); /*TODO @Url.RouteUrl("article-detail", new { id = article.Id, slug = article.Title.ToSlug() })*/
		}
		<div class="featured">
			<h5><a title="Latest from this author..." href="@routeurl">Latest from this author...</a></h5>
			@if (Model.Featured is Mises.Domain.Contracts.DocumentDTO)
			{
				Html.RenderPartial("DocumentSummary", (Mises.Domain.Contracts.DocumentDTO)Model.Featured);
			}
			else if (Model.Featured is Mises.Domain.Contracts.ArticleSummaryDTO)
			{
				Html.RenderPartial("ArticleSummary", (Mises.Domain.Contracts.ArticleSummaryDTO)Model.Featured);
			}
		</div>
	}
	@if (!String.IsNullOrWhiteSpace(Model.PhotoUrl))
	{
		<img src="@Model.PhotoUrl" alt="@Model.FullName" class="photo" />
	}
	<h3 class="name">@Html.RouteLink(@Model.FullName, "author-detail", new { id = Model.Id, slug = Model.FullName.ToSlug() })</h3>
	<p class="bio desc">@MvcHtmlString.Create(Model.BioInfoHtml)</p>
	@if (Model.TotalCount > 0)
	{
	<p class="contributions-summary">
		@Html.RouteLink(String.Format("{0} contribution{1}", Model.TotalCount, Model.TotalCount > 1 ? "s" : String.Empty), "author-detail", new { id = Model.Id, slug = Model.FullName.ToSlug() })
		@if (Model.Documents.Items.Any()) {
			@:(includes
			Int32 videocount = Model.Documents.Counts.Video;
			Int32 audiocount = Model.Documents.Counts.Audio;
			//Int32 literaturecount = Model.Documents.Counts.Literature;
			if (Model.Documents.Counts.Video > 0)
			{
					@Html.RouteLink(String.Format("{0} video", videocount), "author-detail", new { id = Model.Id, slug = Model.FullName.ToSlug() });
                                                                                                                                  // @(audiocount + literaturecount > 0 ? ", " : ")");

            }


            if (audiocount > 0)
            {
					@Html.RouteLink(String.Format("{0} audio", audiocount), "author-detail", new { id = Model.Id, slug = Model.FullName.ToSlug() });
                                                               // @(literaturecount > 0 ? ", " : ")");

            }

      //@*if (literaturecount > 0)
      //{
      //	@Html.RouteLink(String.Format("{0} literature", literaturecount), "author-detail", new { id = Model.Id, slug = Model.FullName.ToSlug() });@:)
      //}*@
  }
		since @Model.CreatedDate.ToString("MMMM yyyy")
	</p>
	}
</div>