﻿@{ Layout = null; }
@using Mises.Web.ViewModels
@using Mises.Web.ViewModels.Authors
@using BrowseViewModel = Mises.Web.ViewModels.Media.BrowseViewModel
@model DetailViewModel
@{
            //Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div id="author">
    <h2 class="change">
        Look up another author
        <input id="author-lookup" class="autocomplete" data-source="/authors/searchjson"
            data-target-base="/authors" /></h2>
    <div class="intro">
        @if (!String.IsNullOrWhiteSpace(Model.PhotoUrl))
        {
            <img src="@Model.PhotoUrl" alt="@Model.FullName" class="photo" />
        }
        <h1>@Model.FullName</h1>
        @{ Html.RenderPartial("SocialToolbar", new SocialToolbarViewModel(String.Format("http://{0}/authors/{1}/{2}", Request.Url.Host, Model.Id, Model.FullName.ToSlug()))); /*TODO...surely a better way*/ }
        <p class="summary">
            @MvcHtmlString.Create(Model.BioInfoHtml)
        </p>
    </div>
    <div class="detail">
        @if (Model.Documents.TotalItems > 0)
        {
            var childVM = new BrowseViewModel(Model.Documents); //TODO switch '.Documents' and below '.Articles' to vm's to avoid this
            <h3>
                Media<span> (@childVM.GetMediaSummary())</span></h3>
            <div id="media-posts" class="post-type">
                @{ Html.RenderPartial("../Media/BrowsePartial", childVM); }
            </div>

            <h3>
                <a href="/media/author/@Model.Id/@Model.FullName.ToSlug()">See @(Model.FullName)'s full list of media.</a></h3>
        }
        @if (Model.Articles.TotalItems > 0)
        {
            <h3>
                Mises Daily<span> (@Model.Articles.TotalItems)</span></h3>
            <div id="article-posts" class="post-type">
                @{ Html.RenderPartial("../Articles/BrowsePartial", new Mises.Web.ViewModels.Articles.BrowseViewModel(Model.Articles)); }
            </div>

            <h3>
                <a href="/daily/author/@Model.Id/@Model.FullName.ToSlug()">See @(Model.FullName)'s full list of daily articles.</a></h3>
        }
        @if (Model.Documents.TotalItems > 0)
        {
            <h3>
                Publications<span> (@Model.Publications.TotalItems)</span></h3>
            <div id="Document-posts" class="post-type">
                @{ Html.RenderPartial("../Literature/BrowsePartial", new Mises.Web.ViewModels.Documents.BrowseViewModel(Model.Publications)); }
            </div>

            <h3>
                <a href="/literature.aspx?action=author&Id=@Model.Id">See @Model.FullName's full list
                    of publications.</a></h3>
        }
    </div>
</div>
