﻿@{
    ViewBag.ShowSidebar = false;
    Page.Title = "Mises Authors";
}
<script type="text/javascript">
 //   $("#tabs").tabs({ spinner: 'Loading..<img src="/css/images/ui-anim_basic_16x16.gif">' });

</script>
<h1>
    Mises Authors</h1>
<div id="tabs" style="width: 1000px;">
    <ul>
        <li><a href="/daily/authors?notheme=1"><span>Daily Authors</span></a></li>
        <li><a href="/literature.aspx?action=author&notheme=1"><span>Literature Authors</span></a></li>
        <li><a href="/media.aspx?action=author&notheme=1"><span>Media Authors</span></a></li>
        <li><a href="/authors/browse?notheme=1"><span>Browse Authors</span></a></li>
    </ul>
    <div id="title">
    </div>
</div>
