﻿@using Mises.Web.ViewModels.Media
@model AudioPlayerViewModel
@{ Layout = null; }
<div class="player audio">
    @if (Model.CanPlayNatively)
    {
        <audio preload="auto" controls="controls">
            <source src="@Model.Url" type="@Model.MimeType" />
        </audio>
    }
    else
    {
    @*<div class="audio-object-wrapper">
		<object data="@Model.Url" type="application/x-mplayer2">
			<param name="autoStart" value="false">
		</object>
	</div>*@
        <embed type="application/x-shockwave-flash" flashvars="audioUrl=@Model.Url" src="/Content/audio-player.swf" width="400" height="27" quality="best"></embed>
    }
</div>