﻿@using System.Linq
@using Mises.Domain.Contracts
@using Mises.Web.ViewModels.Media
@model DetailViewModel
@{ Layout = null; }
<div class="widget media">
    @*TODO currently expects the preference to exist - no checking or fallback etc*@
    @*TODO audio (literature? others?)*@
    @switch (Model.Preference)
    {
        case MediaPreferenceTypes.Video:
            Html.RenderPartial("Media/VideoPlayer", new VideoPlayerViewModel(Request.Browser, Model.Media.OfType<VideoDTO>().GetBestFormat()));
            break;
        case Mises.Domain.Contracts.MediaPreferenceTypes.Audio:
            Html.RenderPartial("Media/AudioPlayer", new Mises.Web.ViewModels.Media.AudioPlayerViewModel(Request.Browser, Enumerable.OfType<Mises.Domain.Contracts.AudioDTO>(Model.Media).GetBestFormat()));
            break;
    }
    <div class="info">
        <h3>@Model.Title</h3>
        @if (Model.Category != null)
        {
            <h4>
                @Html.RouteLink(MvcHtmlString.Create(Model.Category.Name).ToHtmlString(), "category-detail", new {id = Model.Category.Id, slug = Model.Category.Name.ToSlug()})
            </h4>
        }
        <p>@Model.CreatedDate.ToString("D") by @{ Html.RenderPartial("AuthorLinksPartial", Model.Authors); }</p>
        <p class="omega">@MvcHtmlString.Create(Model.DescriptionHtml)</p>
    </div>
</div>