﻿@using Mises.Domain.Contracts
@using Mises.Web.ViewModels.Media
@model VideoPlayerViewModel
@{ Layout = null; }
<div class="player video">
    @*<ul>
	<li>IsMobileDevice: @Model.Browser.IsMobileDevice  </li>
	<li>MobileDeviceModel: @Model.Browser.MobileDeviceModel  </li>
	<li>Browser: @Model.Browser.Browser  </li>
	<li>ScreenPixelsHeight: @Model.Browser.ScreenPixelsHeight  </li>
</ul>*@
    @if (Model.IsYoutubeClip)
    {
        <iframe title="YouTube video player" src="//www.youtube.com/embed/@Model.Url" frameborder="0" allowfullscreen>
        </iframe>
    }
    else if (Model.CanPlayNatively)
         {
             <video preload controls="controls" poster="@Model.PosterUrl" src="@Model.Url" type="@Model.MimeType">
                 @*put in tag instead as IE9 wouldn't play <source src="@Model.Url" type="@Model.MimeType" />*@
             </video>
         }
         else if (Model.CanPlayInFlash || Model.CanPlayInSilverlight)
              {
                  <div class="tabs" style="border: 0px; width: 100%">
                      <ul>
                          <li><a href="#tab-html5">HTML5 Player</a></li>
                          <li><a href="#tab-flash">Plug-in Player</a></li>
                      </ul>
                      <div id="tab-flash">
                          @if (Model.CanPlayInFlash)
                          {
                              <script type="text/javascript" src="/Controls/Media/JW/jwplayer.js"> </script>
                              Html.RenderPartial("Media/NoJsForVideo", Model);
                              <div id="jwplayer-@Model.Guid" class="flashplayer" src="@Model.Url">
                              </div>
                              <div id="container" class="flashplayer">
                                  Loading the player ...
                              </div>
                              <script type="text/javascript">
                        jwplayer("container").setup({
                                flashplayer: "/Controls/Media/JW/player.swf",
                                file: "@Model.Url",
                                height: 270,
                                width: 480
                            }); 
                    </script>
                          }

                          else if (Model.CanPlayInSilverlight)
                               {
                                   Html.RenderPartial("Media/NoJsForVideo", Model);
                                   <div id="slplayer-@Model.Guid" class="slplayer" data-file="@Model.Url" data-image="@Model.PosterUrl">
                                   </div>
                               }
                      </div>
                      <div id="tab-html5">
                          @if (Context.Request.Browser.Browser == "Firefox" && Context.Request.Browser.Win32)
                          {
                              <p>
                                  Firefox users: you can play this video using HTML5 with <a href="http://www.interoperabilitybridges.com/html5-extension-for-wmp-plugin">
                                                                                              Microsoft's HTML5 Media Plug-In.</a></p>
                          }
                          <video preload controls="controls" poster="@Model.PosterUrl" src="@Model.Url" type="@Model.MimeType">
                          </video>
                      </div>
                  </div>
              }
              else if (Model.MimeType == VideoTypes.Stream)
                   {
                       /*<object id="streamplayer" classid="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab# Version=5,1,52,701" standby="Loading Microsoft Windows® Media Player components..." type="application/x-oleobject">
		<param name="fileName" value="@Model.Url">
		<param name="animationatStart" value="true">
		<param name="transparentatStart" value="true">
		<param name="autoStart" value="true">
		<param name="showControls" value="true">
		<param name="Volume" value="-300">
		<embed type="application/x-mplayer2" pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" src="@Model.Url" name="streamplayer" autostart=1 showcontrols=1 volume=-300>
	</object>*/
                   }
                   else
                   {
                       <div class="message-info ui-corner-all">
                           <span class="icon"></span>
                           <p>
                               We're sorry but a suitable playback mechanism for this video hasn't been detected
                               for your browser but you can <a href="@Model.Url" target="_new" onclick="_gaq.push(['_trackEvent', 'Media', 'Download', '@Model.Url']);">download here</a> and watch in
                               your own player.</p>
                       </div>
                   } 
</div>