<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles.css")" rel="stylesheet" type="text/css" />
    @RenderSection("head", required: false)
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.transparent.css").Combined(true).Compress(true)))</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>
                    Online Austrian Economics Literature Library</h1>
                @Html.Partial("SearchBox")
            </div>
            <div style="clear: both">
            </div>
            @(Html.Telerik().Menu()
           .Name("menu")
           .Items(menu =>
                      {
                          menu.Add().Text("Home").Action("Index", "Home");
                          menu.Add().Text("Authors").Action("Authors", "Home").Content(@Html.Partial("AuthorMenu").ToHtmlString());
                          menu.Add().Text("Categories").Content(@Html.Partial("CategoryMenu").ToHtmlString());
                          menu.Add().Text("Sources").Content(@Html.Partial("SourceMenu").ToHtmlString());
                          menu.Add().Text("Formats").Content(@Html.Partial("FormatMenu").ToHtmlString());
                          menu.Add().Text("All Books").Action("Source", "Home", new { id = "Books" });
                          menu.Add().Text("All Authors").Action("Authors", "Home");
                          menu.Add().Text("Advanced Search").Action("Index", "Search");
                      }))
        </header>
        @* <section id="leftColumn" class="leftColumn">
            <div id="MobileAccess">
                Apple Android etc
            </div>
            <div id="Feeds">
            </div>
            <div id="Browse">
                Search Categories Source Author
            </div>
        </section>*@
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28376307-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
