﻿@model dynamic
<div id="search">
    <script type="text/javascript">
        function searchOnChange(e) {
            window.location.href = '@Url.Content("~/Home")/Search/?q=' + e.value;
        }
    </script>
    @(Html.Telerik().AutoComplete().Name("AjaxSearch").Value("Search").AutoFill(true)
               .DataBinding(binding => binding.Ajax().Select("ClientSearch", "Home").Cache(true).Delay(100))
               .ClientEvents(e => e.OnChange("searchOnChange"))
               .Filterable(f => f.MinimumChars(3).FilterMode(AutoCompleteFilterMode.Contains))
           
          )
</div>