<%@ Control Language="C#" AutoEventWireup="false" Inherits="Controls_Navigation_Bookmark"
            CodeBehind="Bookmark.ascx.cs" %>
<div class="bookmark">   
    
    <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<%--<a class="addthis_counter addthis_bubble_style"></a>--%>
</div>

<!-- AddThis Button END -->

<span class="reddit">
        <script type="text/javascript" src="http://www.reddit.com/button.js?t=2"> </script>
    </span>    

    <%--	<ul class="socials">
		<li class="s-digg"><a id="lnkDigg" title="Digg it" runat="server">Digg</a></li>
		<li class="s-deli"><a id="lnkDelicious" title="Add to del.icio.us" runat="server">del.icio.us</a></li>
		<li class="s-face"><a id="lnkFacebook" title="Share on Facebook" runat="server">Facebook</a></li>
		<li class="s-news"><a id="lnkNewswine" title="Seed this article" runat="server">Newsvine</a></li>
		<li class="s-stum"><a id="lnkStubleUpon" title="Stumble This Article" runat="server">StumbleUpon</a></li>
	</ul>
    --%>
    
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"> 
		      {
		          "parsetags":;
		          "explicit";
		      }
    </script>
    <div id="content">
        <g:plusone size="medium" href="<%=Request.Url.ToString()%>"></g:plusone>
    </div>
    <script type="text/javascript">
        gapi.plusone.go("content");
    </script>    
    
</div>