<%@ Control Language="C#" ClassName="SaveToFavorite" %>


<a href="#" onclick("=""javascript:window.open('MyMises/EditFavorite.aspx?url=' + self.location + '&title=' + document.title,'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0');")><img style="border-style: solid; border-width: 0px" alt="Save page to MyMises"  src="/images/icons/fav.gif" />Save page to MyMises</a>