﻿.aspGridView {
    font-family: Verdana,Arial,Helvetica,Sans-Serif;
    margin-top: 1em;
    width: 100%;
}

    .aspGridView TD {
        padding: .5em;
    }

.aspGridView_FooterStyle TD {
    border-style: none;
}

.aspGridView_HeaderStyle TH {
    background: #999;
    background-color: #999;
    border-bottom: solid 1px #EEE;
    color: #FFF;
    font-size: .9285em;
    font-weight: 700;
    height: 2em;
    padding-left: .8em;
    padding-right: .8em;
}

    .aspGridView_HeaderStyle TH A:link, .aspGridView_HeaderStyle TH A:visited, .aspGridView_HeaderStyle TH A:hover {
        color: #FFF;
    }

.aspGridView_PagerStyle TD {
    background: #FFF;
    color: #009;
    font-size: 1.1em;
    padding: .2em;
    vertical-align: middle;
}

.aspGridView_RowStyle INPUT {
    margin-left: 1.8em;
}

.aspGridView_RowStyle TD {
    border-top: solid 1px #EEE;
    padding: .2em .8em .2em 1em;
    text-align: left;
}
