﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>@(Page.Title ?? "The work of the Mises Institute is crucial!")</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    @RenderSection("head", required: false)
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"> </script>
    <![endif]-->
    <meta property="fb:admins" content="500861197" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
    @*<link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />*@

    <link rel="stylesheet" type="text/css" media="print" href="/css/print.css" />
    <script type='text/javascript' src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"> </script>
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"> </script>

    <script type='text/javascript' src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"> </script>
    <script type='text/javascript' src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js"> </script>
    <script type='text/javascript' src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"> </script>


</head>
<body>

    <script>

        if (window.location.protocol != "https:")
            window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);

        function ShowSpinner() {
          $('#CardButton').append('<img id="donate" src="/css/images/ui-anim_basic_16x16.gif" class="spinner" style="height:16px;width:16px;">');
        }


        function Success(data, e,r) {

            if (r.getResponseHeader("error") != null) {
                Failure(data);
                return;
            }

            $('#dialog').html(data);
            $('input').attr('disabled', 'disabled');
            $('#dialog').dialog({ minWidth: 600, maxHeight: 600, resizable: true, title: "Transaction Information", close: function () { window.close(); }, });
            $('#dialog').show();
            
            

        }


        function Failure(data) {

            var message = data.responseText;

            if (message == null) message = data;

            $('#dialog').html(message);
            $('#dialog').dialog({ minWidth: 600, maxHeight: 600, resizable: true, title: "Donation Error", close: function () { window.location.reload(true); }, });
            $('#dialog').show();
        }

    </script>

    <div id="dialog" title="Contribution result"></div>

    <div class="noprint">
        @RenderBody()
    </div>

</body>
</html>
