<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>@(Page.Title ?? "Ludwig von Mises Institute")</title>
    @Html.Partial("Head")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container main">
        <div id="content">
            @RenderBody()
            @RenderSection("Sidebar", required: false)
        </div>
    </div>
    
    
    
</body>
</html>
