@using MvcMiniProfiler
@*Main Mises Layout*@
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta name="google-site-verification" content="U5b358ctxdKQxwSFDZ9Ij7D8LiYmObtIJg49wr9LHs8" />
    <title>@(Page.Title ?? "Ludwig von Mises Institute")</title>
    @Html.Partial("Head")
    @RenderSection("head", required: false)
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.transparent.css").Combined(true).Compress(true)))
</head>

<body class="wideside">
    @*@MiniProfiler.RenderIncludes()*@
    <script type="text/javascript">
        var BASE_URL = '@(Request.Url.Scheme + "://" + Request.Url.Authority)/';
    </script>
    <ol id="accessibility-menu">
        <li><a href="#navigation">Skip to navigation</a></li>
        <li><a href="#content">Skip to content</a></li>
        <li><a href="#sidebar">Skip to sidebar</a></li>
        <!-- /accessibility menu -->
    </ol>
    @if (Request.QueryString["notheme"] == null)
    {
        <header>
              <!--    
                
        -->
       
            <div id="msthd2">
                <div id="msthd_container">
                    <a href="/">
                        <h1>
                            <b>Archive of mises.org</b></h1>
                    </a><a href="/">
                            <h3>
                                <b>Advancing Austrian Economics, Liberty, and Peace</b></h3>
                        </a>
                    <h2>
                        <b>Advancing the scholarship of liberty in the tradition of the Austrian School</b></h2>                  

                  
                    <div id="msthd_gsearch">
                        <img src="//mises.freecapitalists.org/images/Theme/images/txt_search.gif" alt="Search Mises.org"
                             style="margin: 10px 0px 0px 10px; float: left;" />
                        <script src="//www.google.com/jsapi" type="text/javascript"> </script>
                        <script type="text/javascript">
                            google.load('search', '1', { language: 'en' });
                            google.setOnLoadCallback(function () {
                                var customSearchControl = new google.search.CustomSearchControl('008192686144554149800:lssgwvjfvx4');
                                customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
                                var options = new google.search.DrawOptions();
                                options.setAutoComplete(true);
                                customSearchControl.draw('cse', options);
                            }, true);
                        </script>
                    </div>
                    <!-- search -->
                    <div id="msthd_nav">
                        <div class="galaxy">
                            <ul>
                                
                                
                                
                                <li class="planet end2"><a href="http://wiki.mises.org">Wiki</a></li>
                            </ul>
                        </div>
                        <!-- galaxy -->
                        <ul>
                            <li style="display: none;" class="active"><a rel="home" href="./">Home</a></li>
                            <li><a href="/daily/">Daily</a></li>
                            <li><a href="/about">About</a></li>                            
                            <li><a href="/Literature">Literature</a></li>
                            <li><a href="/media">Audio / Video</a></li>
                            <li><a href="/events/">Events</a></li>
                            @if (@Html.IsAdmin())
                            {
                                <li class="l-edit t-button ui-button-text"><a href="@Html.EditURL()">Edit</a> </li>
                                <li class="l-manage t-button ui-button-text"><a href="/manager">Admin</a></li>
                            }
                            @*<li class="l-dona end1"><a href="/donate.aspx">Donate</a></li>*@
                        </ul>
                    </div>
                    <!-- msthd_nav -->
                </div>
                <!-- msthd_container -->
            </div>
            <!-- msthd -->
        </header>
    }
    <div class="container main" style="margin-top: 0px;">
        <div id="cse">
        </div>
        <div id="content">
            @RenderBody()
            <!-- /content -->
        </div>
        <hr />
        @if (ViewBag.ShowSidebar != false && Request.QueryString["notheme"] == null)
        {
            <div id="sidebar">
                @Html.PageContent("GlobalSidebar")
                @RenderSection("Sidebar", false)
                @if (ViewBag.ShowSidebarWidgets == null || ViewBag.ShowSidebarWidgets == true)
                {
                    @Html.Partial("Sidebars/GlobalSidebar")
                }
                <!-- /sidebar -->
            </div>
        }
        <!-- / .container -->
    </div>
    <footer>
        @if (ViewBag.ShowFooter != false && Request.QueryString["notheme"] == null)
        {
            @Html.Action("Footer", "Theme")
        }
    </footer>


    <script type='text/javascript' src="//ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"> </script>
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"> </script>

    @(Html.Telerik().ScriptRegistrar().jQuery(false).DefaultGroup(group => group.Add("~/Scripts/jquery.cycle.all.js").Add("~/Scripts/script.js").Combined(false).Compress(true)))
    
</body>
</html>
