﻿@using Mises.Domain.Contracts
@model ArticleSummaryDTO
@{ Layout = null; }
<div class="article small">
    @{
        var articleurl = String.Format("/daily/{0}/{1}", Model.Id, Model.Title.ToSlug()); /*TODO @Url.RouteUrl("article-detail", new { id = article.Id, slug = article.Title.ToSlug() })*/
        var articletitle = MvcHtmlString.Create(Model.Title);
    }
    <a title="@articletitle" href="@articleurl" class="poster"><img alt="@articletitle" src="@Model.ThumbnailUrl" /></a>
    <div class="info">
        <p class="article-title"><a title="@articletitle" href="@articleurl">@articletitle</a></p>
        <p class="date-author">@Model.PostedDate.ToString("D") by @{ Html.RenderPartial("AuthorLinksPartial", Model.Authors); }</p>
    </div>
</div>