﻿@using Mises.Domain.Contracts
@model IList<AuthorSummaryDTO>
@{ Layout = null; }
@foreach (var author in Model.Where(author => author != null))
{
    @Html.RouteLink(author.FullName, "author-detail", new {id = author.Id, slug = author.FullName.ToSlug()}, new {rel = "author", itemprop = "name"})
    ;
    if (author != Model.Last())
    {
        <span>&amp;</span>
    }
}