﻿@using Mises.Domain.Contracts
@model CategorySummaryDTO
@{ Layout = null; }
<div class="item summary category-summary">
    @{
        var categoryurl = @Url.RouteUrl("category-detail", new {id = Model.Id, slug = Model.Name.ToSlug()});
        var categorytitle = MvcHtmlString.Create(Model.Name);
        var imageurl = Model.ImageUrl;

        //TODO for now just randomise some generic images...
        if (String.IsNullOrWhiteSpace(imageurl))
        {
            var images = new List<String> {Request.Url.Scheme + "://mises.freecapitalists.org/images/misesinlibrary.jpg", Request.Url.Scheme +"://mises.freecapitalists.org/images/misessphere.jpg", Request.Url.Scheme +"://mises.freecapitalists.org/images/misessphereonstarscrop.jpg"};
            var index = new Random(DateTime.Now.Millisecond).Next(images.Count);
            imageurl = images[index];
        }
    }
    <a title="@categorytitle" href="@categoryurl">
        <div class="poster"><img alt="@categorytitle" src="@imageurl" /></div>
        <h4>@categorytitle</h4>
        <p>@Html.Raw(@Model.Description)</p>
    </a>
</div>