﻿@using Mises.Domain.Contracts
@model DocumentDTO
@{ Layout = null; }
<div class="article small">
    @{
        var values = new RouteValueDictionary(Request.RequestContext.RouteData.Values);
        values["id"] = Model.Id;
        var routeurl = @Url.RouteUrl(values);
        var media = Model.Media /*.OfType<Mises.Domain.Contracts.VideoDTO>()*/.FirstOrDefault();
        var thumbnailurl = media != null ? media.PosterUrl : "//mises.freecapitalists.org/images/misesmedia.gif";
    }
    <a class="document-summary" title="@Model.Title" href="@routeurl">
        @*<img alt="@Model.Title" src="@thumbnailurl" />*@
        <div class="info">
            <p class="article-title">@Model.Title</p>
            <p class="date-author">@Model.CreatedDate.ToString("D") by @foreach (var author in Model.Authors)
                                                                       {
                                                                           @author.FullName
                                                                           if (author != Model.Authors.Last())
                                                                           {
                                                                               <span>&amp;</span>
                                                                           }
                                                                       }</p>
        </div>
    </a>
</div>