﻿@using Mises.Domain.Contracts
@model DocumentDTO
@{ Layout = null; }
<div class="article">
    @{
        var media = Model.Media.FirstOrDefault(m => !String.IsNullOrWhiteSpace(m.PosterUrl));
        var thumbnailurl = media != null ? media.PosterUrl : "//mises.freecapitalists.org/images/misesmedia.gif";
        var video = Model.Media.OfType<VideoDTO>().Where(m => m.MimeType != VideoTypes.Stream).GetBestFormat();
        var audio = Model.Media.OfType<AudioDTO>().GetBestFormat();
        //var literature = Model.Media.OfType<Mises.Domain.Contracts.LiteratureDTO>().GetBestFormat();
        var videocount = Model.Media.OfType<VideoDTO>().Count(m => m.MimeType != VideoTypes.Stream);
        var audiocount = Model.Media.OfType<AudioDTO>().Count();
        //var literaturecount = Model.Media.OfType<Mises.Domain.Contracts.LiteratureDTO>().Count();
        var desc = String.Empty;
        var mainrel = videocount + audiocount > 0 ? "media" : String.Empty;
        var pref = (video != null) ? "video" : (audio != null) ? "audio" : String.Empty;

        var mainrouteurl = "#";
        var overlayrouteurl = "#";
        var videorouteurl = "#";
        var audiorouteurl = "#";

        if (video != null)
        {
            mainrouteurl = Url.RouteUrl("media-detail", new {id = video.Id, slug = Model.Title.ToSlug()});
            overlayrouteurl = videorouteurl = String.Concat(mainrouteurl, "?ajaxsrc=video");
        }

        if (audio != null)
        {
            if (mainrouteurl == "#")
            {
                mainrouteurl = Url.RouteUrl("media-detail", new {id = audio.Id, slug = Model.Title.ToSlug()});
                overlayrouteurl = audiorouteurl = String.Concat(mainrouteurl, "?ajaxsrc=audio");
            }
            else
            {
                audiorouteurl = String.Concat(Url.RouteUrl("media-detail", new {id = audio.Id, slug = Model.Title.ToSlug()}), "?ajaxsrc=audio");
            }
        }

        /*if ((literature != null) && (mainrouteurl == "#")) {
			overlayrouteurl = mainrouteurl = Url.RouteUrl("media-detail", new { id = literature.Id, slug = Model.Title.ToSlug() });
		}*/

    }
    <a title="@Model.Title" href="@overlayrouteurl" rel="@mainrel" class="poster @pref" >
        <img alt="@Model.Title" src="@thumbnailurl" />
    </a>
    <ul class="format-icons">
        @{

            if (videocount > 0)
            {
                desc = String.Format("{0} video", videocount);
                <li>
                    <a title="@desc" href="@videorouteurl" rel="video" class="video">@desc</a>
                </li>
            }

            if (audiocount > 0)
            {
                desc = String.Format("{0} audio", audiocount);
                <li>
                    <a title="@desc" href="@audiorouteurl" rel="audio" class="audio">@desc</a>
                </li>
            }

            /*if (literaturecount > 0) {
			desc = String.Format("{0} literature", literaturecount);
			<li>@Html.RouteLink(desc, "media-detail", new { id = literature.Id, slug = Model.Title.ToSlug() }, new { @class = "literature", title = desc })</li>
		}*/
        }
    </ul>
    <div class="info">
        <h4 class="article-title"><a title="@Model.Title" href="@mainrouteurl">@Model.Title</a></h4>
        <p class="date-author">@Model.CreatedDate.ToString("D") by @{ Html.RenderPartial("AuthorLinksPartial", Model.Authors); }</p>
    </div>
</div>