﻿@model Mises.Web.ViewModels.FooterViewModel
@using Mises.Data
@{ Layout = null; }
<div id="footer">
    <div class="container ludwig">
        <div class="bf_column">
            <a href="/literature.xml" class="bf_rss" title="Subscribe to the RSS Feed"><b>RSS Feed
                for Literature</b></a> <a href="/Literature">
                    <h2 class="hdrflit">
                        <b>Literature</b></h2>
                </a>
            <div class="clearer">
            </div>
            <ul>
                @foreach (var lit in (IEnumerable<Document>)@Model.Literature)
                {
                    <li><a href="/document/@lit.DocumentId/@lit.Title.ToSlug()">@Html.Raw(@lit.Title)</a>
                        <em>by <a href="@String.Format("/literature/author/{0}/{1}", @lit.DocumentAuthor.AuthorId, @lit.DocumentAuthor.ToString().ToSlug())">@lit.DocumentAuthor.ToString()</a></em>
                    </li>
                }
            </ul>
        </div>
        <!-- bf_column -->
        <div class="bf_column">
            <a href="/media.xml" class="bf_rss" title="Subscribe to the RSS Feed"><b>RSS Feed for
                Audio</b></a><a href="/media"><h2 class="hdrfaudio">
                    <b>Audio</b></h2>
                </a>
            <div class="clearer">
            </div>
            <ul>
                @foreach (var lit in (IEnumerable<Document>)@Model.Audio)
                {
                    var file = lit.DocumentFiles.FirstOrDefault();
                    <li><a href="/media/@file.FileId/@lit.Title.ToSlug()">@Html.Raw(@lit.Title)</a> <em>
                        by <a href="@String.Format("/media/authors/{0}/{1}", @lit.DocumentAuthor.AuthorId, @lit.DocumentAuthor.ToString().ToSlug())">@lit.DocumentAuthor.ToString()</a></em>
                    </li>
                }
            </ul>
        </div>
        <!-- bf_column -->
        <div class="bf_column">
            <a href="/media.xml" class="bf_rss" title="Subscribe to the RSS Feed"><b>RSS Feed for
                Video</b></a><a href="/media"><h2 class="hdrfvideo">
                    <b>Video</b></h2>
                </a>
            <div class="clearer">
            </div>
            <ul>
                @foreach (var lit in (IEnumerable<Document>)@Model.Video)
                {
                    var file = lit.DocumentFiles.FirstOrDefault();
                    <li><a href="/media/@file.FileId/@lit.Title.ToSlug()">@Html.Raw(@lit.Title)</a> <em>
                        by <a href="@String.Format("/media/authors/{0}/{1}", @lit.DocumentAuthor.AuthorId, @lit.DocumentAuthor.ToString().ToSlug())">@lit.DocumentAuthor.ToString()</a></em>
                    </li>
                }
            </ul>
        </div>
        <!-- bf_column -->
        <div class="clearer">
        </div>
        @if (Model.Quote != null)
        { 
            <div id="lvmi_quote">
                <p>
                    "@Model.Quote.Quote"</p>
                <p class="lq_tag">
                    &#151;
                    <text>@Model.Quote.Author, in <a href="//mises.freecapitalists.org/quotes.aspx?action=source&Source=@Model.Quote.Subject">
                                                    @Html.Raw(@Model.Quote.Source)</a></text>
                </p>
            </div>
            <!-- lvmi_quote -->
        }
        <div id="bf_address">
            <img src="//mises.freecapitalists.org/images/Theme/images/bf_shield.png" alt="LvMI" class="fl" style="margin-right: 5px;" />
            <img src="//mises.freecapitalists.org/images/Theme/images/bf_lvmi.png" alt="Ludwig von Mises Institute" />
            <p>
                518 West Magnolia Avenue &#149; Auburn, Alabama 36832-4501 &#149; Phone: 334.321.2100
                &#149; Fax: 334.321.2119<br />
                <a href="/contact.aspx">Contact Us</a>&#149; <a title="Comments and Questions about the Mises Institute"
                    href="mailto:contact@freecapitalists.org?subject=Comment+or+Question+about+the Mises+Institute">
                    contact@freecapitalists.org</a> &#149; <a title="Comments about the Mises.org web site" href="mailto:webmaster@freecapitalists.org?subject=Comments+about+the+Mises.org+web+site">
                        &#149; <a href="/sitemap.aspx" rel="directory">Site Map</a>
                &#149; <a href="http://groups.google.com/group/misesdev">Open Source</a> &#149;
                @* <a href="http://mises.freecapitalists.org//mobile/">Mobile</a>*@
            </p>
            <p>
                <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                    <img alt="creativecommons.org" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></p>
        </div>
        <!-- bf_address -->
    </div>
    <!-- container / watermark -->
</div>
