﻿@{ Layout = null; }
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="//www.google.com/cse/style/look/default.css" type="text/css" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/site.css?v=2" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="print" href="/css/print.css" />
<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"> </script>
<![endif]-->
<!--[if IE]><![endif]-->
<link href="/opensearch.xml" rel="search" type="application/opensearchdescription+xml" />
<!-- IE9: -->
<meta name="application-name" content="Mises Institute" />
<meta name="msapplication-starturl" content="http://mises.freecapitalists.org//" />
<meta name="msapplication-task" content="name=Mises Daily;action-uri=http://mises.freecapitalists.org//daily/;icon-uri=//mises.freecapitalists.org/favicon.ico" />
<meta name="msapplication-task" content="name=Media;action-uri=http://mises.freecapitalists.org//media;icon-uri=//mises.freecapitalists.org/favicon.ico" />
<meta name="msapplication-task" content="name=Literature;action-uri=http://mises.freecapitalists.org//Literature;icon-uri=//mises.freecapitalists.org/favicon.ico" />
<meta name="msapplication-task" content="name=Shop Mises;action-uri=http://store.mises.org/;icon-uri=//mises.freecapitalists.org/favicon.ico" />
<meta name="msapplication-task" content="name=Community;action-uri=http://mises.freecapitalists.org//community/;icon-uri=//mises.freecapitalists.org/favicon.ico" />
<meta property="fb:admins" content="500861197" />


<script type="text/javascript">
    var addthis_config = {
        data_ga_property: 'UA-12345-1',
        data_ga_social: true
    };
</script>
<script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=heroiclife"></script>

<script type='text/javascript' src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"> </script>