﻿@using Mises.Web.ViewModels.Media
@model LiteratureViewerViewModel
@{ Layout = null; }
<div class="reader">
    @*TODO
	@if (Model.CanViewNatively) {
	<div class="placeholder ui-corner-all">
		<p>This is a placeholder until a literature viewer is available for <a href="@Model.Url">@Model.Url</a>.</p>
	</div>
 }
 else
 {
	<div class="message-info ui-corner-all">
		<span class="icon"></span>
		<p>We're sorry but a suitable mechanism for this literature could not be detected for your browser but you can <a href="@Model.Url">download here</a> and peruse in your own viewer.</p>
	</div>
	}
*@
</div>