﻿@using Mises.Web
@{ Layout = null; }
@if (Model.TotalItems > 0)
{
    var values = Model.RouteValues ?? new RouteValueDictionary(Request.RequestContext.RouteData.Values);
    var queryString = String.IsNullOrEmpty(Model.QueryString) ? String.Empty : String.Concat("?", Model.QueryString);

    <div class="pagination-container">
        @if (Model.TotalItems > ApplicationDefaults.PageSize)
        {
            <ul class="pagination ui-helper-clearfix">
                @if (Model.TotalPages > ApplicationDefaults.ListSize)
                {
                    <li class="first @if (!Model.HasPrevious)
                                     {
                                         @:disabled
                                     }">
                        @if (Model.HasPrevious)
                        {
                            values[Model.RouteSegmentName] = 1;
                            <a href="@String.Concat(Url.RouteUrl(values), queryString)" title="Go to the first set of pages">first</a>
                        }
                        else
                        {
                            @:first
                        }
                    </li>
                    <li class="previous @if (!Model.HasPrevious)
                                        {
                                            @:disabled
                                        }">
                        @if (Model.HasPrevious)
                        {
                            values[Model.RouteSegmentName] = Model.StartIndex - Model.ListSize + 1;
                            <a href="@String.Concat(Url.RouteUrl(values), queryString)" title="Goto the previous set of pages">previous</a>
                        }
                        else
                        {
                            @:previous
                        }
                    </li>
                    if (Model.HasPrevious)
                    {
                        <li class="more">...</li>
                    }
                }
                @for (var page = Model.StartIndex + 1; page <= Model.EndIndex; page++)
                {
                    if (page == (Model.PageIndex + 1))
                    {
                        <li class="active">@page.ToString()</li>
                    }
                    else
                    {
                        values[Model.RouteSegmentName] = page;
                        <li><a href="@String.Concat(Url.RouteUrl(values), queryString)">@page.ToString()</a></li>
                    }
                }
                @if (Model.TotalPages > ApplicationDefaults.ListSize)
                {
                    if (Model.HasNext)
                    {
                        <li class="more">...</li>
                    }
                    <li class="next @if (!Model.HasNext)
                                    {
                                        @:disabled

                                    }">
                        @if (Model.HasNext)
                        {
                            values[Model.RouteSegmentName] = Model.EndIndex + 1;
                            <a href="@String.Concat(Url.RouteUrl(values), queryString)" title="Goto the next set of pages">next</a>
                        }
                        else
                        {
                            @:next
                        }
                    </li>
                    <li class="last @if (!Model.HasNext)
                                    {
                                        @:disabled

                                    }">
                        @if (Model.HasNext)
                        {
                            values[Model.RouteSegmentName] = Model.LastStartIndex + 1;
                            <a href="@String.Concat(Url.RouteUrl(values), queryString)" title="Go to the last set of pages">last</a>
                        }
                        else
                        {
                            @:last
                        }
                    </li>
                }
            </ul>
        }

        @if (Model.TotalPages > ApplicationDefaults.ListSize)
        {
            <span class="result-count">(@Model.TotalItems results, @Model.TotalPages pages)</span>
        }
        else
        {
            if (Model.TotalPages > 1)
            {
                <span class="result-count">(@Model.TotalItems results)</span>
            }
        }
    </div>
}