﻿@*http://blog.wekeroad.com/2008/01/07/aspnet-mvc-using-usercontrols-usefully*@ @*http://eric.polerecky.com/archives/htmlrenderusercontrol-and-aspnet-mvc-preview-5/*@
@*http://blog.wekeroad.com/blog/aspnet-mvc-preview-using-the-mvc-ui-helpers/*@

@*@Html.Action("Community", "Sidebar")*@
@*@Html.Action("Literature", "Sidebar")*@
@Html.Action("UpcomingEvents", "Sidebar")
<div class="outerbox" id="litQuote" runat="server">
    <div class="widget-header">
        <h2>
            <a href="/quotes.aspx">The Quotable Mises</a>
        </h2>
    </div>
    <div class="cont quote">
        <script type="text/javascript" src="/quote.aspx?format=js"></script>
    </div>
</div>
