﻿@using Mises.Web.ViewModels
@model SocialToolbarViewModel
@{ Layout = null; }
@{
    String pageUrl = Model.EncodedUrl;
}

<ul class="social-toolbar">
    @*<li><a class="social-button digg" target="_blank" href="http://digg.com/submit?phase=3&amp;url=@pageUrl" title="Digg"><strong>Digg it</strong></a></li>*@
    @*<li><a class="social-button delicious" target="_blank" href="http://del.icio.us/post?title=<%=Page.Title%>&amp;url=@pageUrl" title="Del.icio.us"><strong>Del.icio.us it</strong></a></li>*@
    <li><a class="social-button stumbleupon" target="_blank" href="http://www.stumbleupon.com/submit?url=@pageUrl" title="StumbleUpon"><strong>StumbleUpon it</strong></a></li>
    <li><a class="social-button reddit" target="_blank" href="http://www.reddit.com/submit?url=@pageUrl" title="Reddit"><strong>Reddit</strong></a></li>
    <li><div class="counter page-tweet-count"><iframe src="//platform.twitter.com/widgets/tweet_button.html?url=@pageUrl&text=<%=Page.Title%>&via=mises&count=horizontal" frameBorder="0" scrolling="no" style="width: 100px; height: 21px;" allowTransparency="true" scrollbars="no"></iframe></div></li>
    <li><div class="counter page-fb-like-count"><iframe src="https://www.facebook.com/plugins/like.php?href=@pageUrl>&amp;layout=button_count&amp;show_faces=true&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21&amp;width=90" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 90px; height: 21px;" allowTransparency="true"></iframe></div></li>
</ul>