﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>

<%@ Register Src="/Controls/Tagging/TagCloud.ascx" TagName="TagCloud" TagPrefix="uc2" %>

<uc2:TagCloud ID="TagCloud" runat="server" />