﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="Services_MediaEmbed" Codebehind="MediaEmbed.aspx.cs" %>
<%@ OutputCache Duration="180" VaryByParam="*" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
        <title></title>
    </head>
    <body>
        <form id="form1" runat="server">
    
            <div name="mediaspace" id="mp3" runat="server">
                <embed type="application/x-shockwave-flash" flashvars="audioUrl=<%=URL%>" src="http://www.google.com/reader/ui/3523697345-audio-player.swf" width="400" height="27" quality="best"></embed>
            </div>
    
    
            <div name="mediaspace" id="mediaspace" runat="server" visible="false">

                <script type='text/javascript' src="/Scripts/libs/silverlight.js"> </script>

                <script type='text/javascript' src="/Scripts/libs/wmvplayer.js"> </script>

                <script type="text/javascript">
            var cnt = document.getElementById("mediaspace");
            var src = '../Controls/Media/JVM/wmvplayer.xaml';
            var cfg = {
                file: '<%=URL%>',
                image: '<%=PreviewURL%>',
                height: '480',
                width: '640'
            };
            var ply = new jeroenwijering.Player(cnt, src, cfg);
        </script>

            </div>
        </form>
    </body>
</html>