﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Manager.master" AutoEventWireup="true" CodeFile="WorkInProgress.aspx.cs" Inherits="Manager_periodicals_WorkInProgress" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<h1>Coming soon!</h1>
<button onclick="history.back(1); return false;">Go Back</button>
</asp:Content>