﻿@{
    Page.Title = ViewBag.Title;
}
<h1>
    Page not found!</h1>
<p>
    We can't find the page that's supposed to go here. 
    <br />
    Please email <a href="mailto:webmaster@freecapitalists.org?subject=404">webmaster@freecapitalists.org</a> and we'll help
    you track it down.
</p>
