﻿@using Mises.Data
@model Mises.Data.PageTable
@{
    if (Model != null)
    {
        Page.Title = Model.pageTitle;
    }
        
}
@Html.Raw(Model.content)
@section Sidebar
{
    @Html.Action("Literature", "Sidebar")
}
@section head{

<meta name="Description" content="@Model.metaDescription"/>
<meta name="Keywords" content="@Model.metaKeywords"/>

    @*  @if (Model.Authors != null && Model.Authors.Any() != null)
    {
        <link type="application/rss+xml" rel="alternate" title="Feed for @Model.FilterText" href="/Feed/Media/?AuthorId=@Model.Authors.First().Id" />
    }*@ @*<link type="application/rss+xml" rel="alternate" title="Mises Institute : New Media"
        href="http://feeds.mises.org/MisesMedia" />*@
}
