﻿@using BookCatalog.Models
@{
    ViewBag.Title = "Advanced Search";
}
<h2>
    Advanced Search</h2>
<table cellspacing="0" width="100%">
    <tr>
        <th colspan="2" style="background: #ccc;">
            Enter search terms in at least one of the fields below
        </th>
    </tr>
    <tr>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <div class="label">
                <label class='screen-reader' for="search1">
                    (1)</label>
                <select id="search1" name="search1" style="font-weight: bold; width: 225px;">
                    <option value="idx_no">Accession number:</option>
                    <option value="idx_au">Author:</option>
                    <option value="idx_bn">ISBN:</option>
                    <option value="idx_n2">ISSN:</option>
                    <option value="idx_so">Journal Source:</option>
                    <option selected value="idx_kw">Keyword:</option>
                    <option value="idx_su">Subject:</option>
                    <option value="idx_ti">Title:</option>
                </select>
            </div>
            <div id="search1description" class="description">
            </div>
        </td>
        <td id="text1">
            <label for="search1input" class='screen-reader'>
                 (1)</label>
            <input id="search1input" name="i1" size="50" class="text" type="text" />
            <div id="search1example" class="eg">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="label">
                <label class='screen-reader' for="search2">
                    (2)</label>
                <select id="search2" name="search2" style="font-weight: bold; width: 225px;">
                    <option value="idx_no">Accession number:</option>
                    <option value="idx_au">Author:</option>
                    <option value="idx_bn">ISBN:</option>
                    <option value="idx_n2">ISSN:</option>
                    <option value="idx_so">Journal Source:</option>
                    <option value="idx_kw">Keyword:</option>
                    <option value="idx_su">Subject:</option>
                    <option selected value="idx_ti">Title:</option>
                </select>
            </div>
            <div id="search2description" class="description">
            </div>
        </td>
        <td id="text2">
            <label for="search2input" class='screen-reader'>
                 (2)</label>
            <input id="search2input" name="i2" size="50" class="text" type="text" />
            <div id="search2example" class="eg">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="label">
                <label class='screen-reader' for="search3">
                    (3)</label>
                <select id="search3" name="search3" style="font-weight: bold; width: 225px;">
                    <option value="idx_no">Accession number:</option>
                    <option selected value="idx_au">Author:</option>
                    <option value="idx_bn">ISBN:</option>
                    <option value="idx_n2">ISSN:</option>
                    <option value="idx_so">Journal Source:</option>
                    <option value="idx_kw">Keyword:</option>
                    <option value="idx_su">Subject:</option>
                    <option value="idx_ti">Title:</option>
                </select>
            </div>
            <div id="search3description" class="description">
            </div>
        </td>
        <td id="text3">
            <label for="search3input" class='screen-reader'>
                 (3)</label>
            <input id="search3input" name="i3" size="50" class="text" type="text" />
            <div id="search3example" class="eg">
            </div>
        </td>
    </tr>
    <tr>
        <th colspan="2" style="background: #ccc;">
            Narrow your search <span style="font-weight: normal;">(optional)</span>
        </th>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="optional">
            <div class="label">
                <label for="yrf">
                    Year:</label></div>
            <div class="description">
                Return only items published from</div>
        </td>
        <td class="optional">
            <table cellspacing="0">
                <tr>
                    <td style="padding: 0pt;">
                        <input name="yrf" id="yrf" size="4" class="text" type="text" />
                    </td>
                    <td>
                        <label for="yrt">
                            to:</label>
                    </td>
                    <td style="padding: 0pt;">
                        <input name="yrt" id="yrt" size="4" class="text" type="text" />
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0pt;">
                        <div class="eg">
                            e.g. 1971</div>
                    </td>
                    <td>
                    </td>
                    <td style="padding: 0pt;">
                        <div class="eg">
                            e.g. 1977</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="optional">
            <div class="label">
                <label for="limit-3-mt">
                    Source:</label></div>
            <div class="description">
                Return only items from these sources</div>
        </td>
        <td class="optional">
        
        @Html.Telerik().DropDownList().Name("Source").BindTo(new SelectList(NavigationModels.Sources()))

            @*<select name="limit-3-mt" id="limit-3-mt">
                <option value="" selected>Any Audience</option>
                <option value="mt:juv">Juvenile</option>
                <option value="-mt:juv">Non-Juvenile</option>
            </select>*@
        </td>
    </tr>
    <tr>
        <td class="optional">
            <div class="label">
                <label for="limit-4-mt">
                    Content:</label></div>
            <div class="description">
                Return only items in the format</div>
        </td>
        <td class="optional">
        @Html.Telerik().DropDownList().Name("Format").BindTo(new SelectList(NavigationModels.Formats(),"Key","Value"))
        </td>
    </tr>
    <tr>
        <td class="optional">
            <div class="label">
                <label for="limit-6-ln">
                    Language:</label></div>
            <div class="description">
                Return only items in the language</div>
        </td>
        <td class="optional">
            <select name="limit-6-ln" id="limit-6-ln">
                <option value="" selected>All Languages</option>
                <option value="ln:eng">English</option>
                <option value="ln:ara">Arabic</option>
                <option value="ln:bul">Bulgarian</option>
                <option value="ln:chi">Chinese</option>
                <option value="ln:scr">Croatian</option>
                <option value="ln:cze">Czech</option>
                <option value="ln:dan">Danish</option>
                <option value="ln:dut">Dutch</option>
                <option value="ln:eng">English</option>
                <option value="ln:fre">French</option>
                <option value="ln:ger">German</option>
                <option value="ln:gre">Greek, Modern [1453- ]</option>
                <option value="ln:heb">Hebrew</option>
                <option value="ln:hin">Hindi</option>
                <option value="ln:ind">Indonesian</option>
                <option value="ln:ita">Italian</option>
                <option value="ln:jpn">Japanese</option>
                <option value="ln:kor">Korean</option>
                <option value="ln:lat">Latin</option>
                <option value="ln:nor">Norwegian</option>
                <option value="ln:per">Persian</option>
                <option value="ln:pol">Polish</option>
                <option value="ln:por">Portuguese</option>
                <option value="ln:rum">Romanian</option>
                <option value="ln:rus">Russian</option>
                <option value="ln:spa">Spanish</option>
                <option value="ln:swe">Swedish</option>
                <option value="ln:tha">Thai</option>
                <option value="ln:tur">Turkish</option>
                <option value="ln:ukr">Ukrainian</option>
                <option value="ln:vie">Vietnamese</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <br>
            <div id="dbalert_bottom" style="border: 1px solid rgb(255, 153, 0); margin: 0px 5px 5px;
                padding: 6px 10px 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%;
                width: 650px; display: block; font-size: 85%; -moz-background-clip: -moz-initial;
                -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;
                display: none;">
                <img alt=" " style="float: left;" src="/wcpa/rel20111201/images/database_error.png">
                <span id="dbalert_bottom_text" style="text-align: left;"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 0px 0 0px 0; text-align: right;" colspan="2">
            <input name="submit" value="Search" class="btn-large" type="submit" onclick="alert('not working yet')" />
            <input name="clear" value="Clear" class="btn-large" type="button" onclick="clearForm(this.form, 0)" />
        </td>
    </tr>
</table>
