<%@ Page Language="C#" MasterPageFile="~/MasterPages/Content.master" AutoEventWireup="false" Inherits="Mises.Domain.Utility.MyPage" EnableViewState="false" %>

<%@ Register Src="Controls/ContentControl.ascx" TagName="ContentControl" TagPrefix="uc2" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <uc2:ContentControl ID="ContentControl2" runat="server" MissingDefaultRedirectURL="/Literature" />
</asp:Content>