﻿@model List<DocumentsGetBiographiesResult>
@using Mises.Data
@{
    Layout = null;
}
@Html.PageContent("AboutSidebar")
<div class="box greateconomists">
    <h2>
        Great Austrian Economists</h2>
    <div class="cont">
        <ul class="economists">
            @foreach (DocumentsGetBiographiesResult bio in @Model)
            {
                <li>
                    <a href="/about/@bio.DocumentId" title="Biography of @bio.Title">@bio.Title</a>
                </li>                
            }
        </ul>
        <!-- / .cont -->
    </div>
    <!-- / .box -->
</div>