﻿@model Mises.Web.ViewModels.SidebarViewModel
@using System.Data
@{
    Layout = null;
}

<div class="box communitytabbed">
    <div id="tab-blog">
        <h2>Bastiat Blog</h2>
        <div class="cont">
            <ul class="posts">
                @if (Model.BastiatBlog != null)
                {
                    foreach (DataRow row in ((DataTable)Model.BastiatBlog).Rows)
                    {
                    <li><a href="@row["link"]">@row["title"]</a> <em>
                        @row["PubDate"]
                        by <a href="@row["user_url"]">
                            @row["author"]</a></em> </li>
                    }
                }
            </ul>
            <a class="more" href="http://blog.mises.org/">view all&hellip;</a> <a class="rss"
                href="http://feeds.mises.org/MisesBlog">mises blog rss</a>
            <!-- / .cont -->
        </div>
    </div>

</div>
