﻿@model Mises.Web.ViewModels.SidebarViewModel
@using System.Data
@{
    Layout = null;
}
<div class="outerbox">
    <div id="tabs-community">
        <ul>
            <li><a href="#tab-blog">Bastiat Blog</a></li>
            <li><a href="#tab-blogs">User Blogs</a></li>
            <li><a href="#tab-forums">Forums</a></li>
        </ul>
        <div class="box communitytabbed">
            <div id="tab-blog">
                <h2>
                    Bastiat Blog</h2>
                <div class="cont">
                    <ul class="posts">
                        @if (Model.BastiatBlog != null)
                        {
                            foreach (DataRow row in ((DataTable)Model.BastiatBlog).Rows)
                            {
                                <li><a href="@row["link"]">@row["title"]</a> <em>
                                                                                 @row["PubDate"]
                                                                                 by <a href="@row["user_url"]">
                                                                                        @row["author"]</a></em> </li>
                            }
                        }
                    </ul>
                    <a class="more" href="http://blog.mises.org/">view all&hellip;</a> <a class="rss"
                                                                                          href="http://feeds.mises.org/MisesBlog">mises blog rss</a>
                    <!-- / .cont -->
                </div>
            </div>
            <div id="tab-blogs">
                <h2>
                    Community Blogs</h2>
                <div class="cont">
                    <ul class="posts">
                        @if (Model.Blogs != null)
                        {
                            foreach (DataRow row in ((DataTable) Model.Blogs).Rows)
                            {
                                <li><a href="@row["link"]">@row["title"]</a> by <em>
                                                                                    @row["PubDate"]
                                                                                    by <a href="/Community/user/Profile.aspx?UserID=@row["UserId"]">
                                                                                           @row["author"]</a></em> </li>
                            }
                        }
                    </ul>
                    <a class="more" href="/Community/blogs/">view all&hellip;</a> <a class="rss" href="/Community/blogs/MainFeed.aspx">
                                                                                      user blogs rss</a>
                    <!-- / .cont -->
                </div>
            </div>
            <div id="tab-forums">
                <h2>
                    Mises Forums</h2>
                <div class="cont">
                    <ul class="posts">
                        @if (Model.Community != null)
                        {
                            foreach (DataRow row in ((DataTable)Model.Community).Rows)
                            {
                                <li><a href="/Community/forums/t/@(row["ThreadId"] + ".aspx")">
                                        @row["Subject"]</a> <em>
                                                                @row["PostDate"]
                                                                by <a href="/Community/user/Profile.aspx?UserID=@row["UserId"]">
                                                                       @row["PostAuthor"]</a></em> </li>
                            }
                        }
                    </ul>
                    <a class="more" href="/Community/forums/">view all&hellip;</a> <a class="rss" href="/Community/forums/aggregaterss.aspx">
                                                                                       forums rss</a>
                    <!-- / .cont -->
                </div>
            </div>
            <!-- / .box -->
        </div>
    </div>
</div>