﻿@Html.Partial("Sidebars/FeaturedProduct")
@*@Html.Action("Community", "Sidebar")*@
@Html.Action("BastiatBlog", "Sidebar")


@*    @Html.Action("Literature", "Sidebar")*@
@Html.Action("UpcomingEvents", "Sidebar")
<div class="outerbox" id="litQuote" runat="server">
    <div class="widget-header">
        <h2>
            <a href="/quotes.aspx">The Quotable Mises</a>
        </h2>
    </div>
    <div class="cont quote">
        @Html.Action("Random", "Quote")
    </div>
</div>
