﻿@using Mises.Data
@model IQueryable<Document>
@{
    Layout = null;
}
<div class="outerbox">
    <div class="box literature">
        <h2 style="margin-bottom: 7px;">
            <i>Literature</i></h2>
        <a class="rss" href="/literature.xml">rss</a>
        <div class="cont">
            <ul class="literature">
                
                 @foreach (var lit in (IEnumerable<Document>)@Model)
                {
                    <li><a href="/document/@lit.DocumentId/@lit.Title.ToSlug()">@Html.Raw(@lit.Title)</a>
                        <em>by <a href="@String.Format("/literature/author/{0}/{1}", @lit.DocumentAuthor.AuthorId, @lit.DocumentAuthor.ToString().ToSlug())">@lit.DocumentAuthor.ToString()</a></em>
                    </li>
                }

                @*  @foreach (DocumentGetNewLiteratureResult row in Model)
                {
                    <li><a href="@((row.URL.Contains("mises.org")) ? string.Format("/document/{0}/{1}", @row.DocumentId, @row.Title.ToSlug()) : @row.URL)">
                            @row.Title
                        </a><em>by
                                @row.Author</em></li>
                }*@
            </ul>
            <a class="more" href="/Literature">view all&hellip;</a>
            <!-- / .cont -->
        </div>
        <!-- / .box -->
    </div>
</div>