﻿@using Mises.Data
@{
    Layout = null;
}
<script type="text/javascript">
    //<![CDATA[
    function submitenter(myfield, e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;

        if (keycode == 13) {
            return Search();
        } else
            return true;
    }

    function Search() {
        var text = $('#searchText').val();
        var site = $('#txtSearchSite').val();
        window.location = "http://search.mises.org/search?q=" + text + "&site=" + site;
        return false;
    }
    //]]>
</script>
<style type="text/css">
    table.gsc-search-box td.gsc-input
    {
        padding-right: 2px;
    }

    table.gsc-search-box td
    {
        vertical-align: middle;
    }

    td.gsc-search-button
    {
        width: 1%;
    }

    input.gsc-input
    {
        border: 1px solid #BCCDF0;
        padding-left: 2px;
        width: 99%;
    }

    input.gsc-search-button
    {
        margin-left: 2px;
    }
</style>
<p>
    @Html.PageContent("MediaSidebar")
</p>
<div class="box activitywrapper">
    <h2>
        Media Search</h2>
    <script type="text/javascript">
        /* <![CDATA[ */

        function search_media_but() {
            window.location = "/media/search/1?q=" + encodeURIComponent(escape(document.getElementById('search_media_text').value));
            return false;
        }
        /* ]]> */
    </script>
    <fieldset id="MediaSearch">
        <input type="text" class="text" name="search_media_text" id="search_media_text" value="" />
        <input type="image" class="buttonimg" name="search_media_but" id="search_media_but"
               alt="Search Site" src="//mises.freecapitalists.org/images/Theme/images/but-search.jpg" onclick=" return search_media_but(); " />
    </fieldset>
</div>
<br />
<div class="outerbox">
    <div class="box popular-content">
        <h2>
            Popular Content</h2>
        <div class="cont">
            <ul class="popular-content">
                @foreach (MediaGetTopTaggedResult row in ViewBag.TaggedMedia)
                {
                    <li><a title="@row.Count tags" href="/document/@row.DocumentId/@row.Title.ToSlug()">@row.Title</a>
                        <em>by <a href="/media/authors/@row.Author1/@row.AuthorName.ToSlug()">@row.AuthorName</a>
                            | <span class="time">@row.CreateDate</span></em> </li>
                }
            </ul>
            <!-- / .cont -->
        </div>
        <!-- / .box -->
    </div>
</div>
<div class="outerbox">
    <div class="box activitywrapper">
        <h2>
            Authors</h2>
        <div class="cont">
            <ul class="authors">
                @foreach (MediaTopAuthorsResult row in ViewBag.Authors)
                {
                    <li><a href="/media/authors/@row.AuthorId/@row.AuthorLast.ToSlug()">@row.AuthorLast</a></li>
                }
                <li class="last"><a style="color: #d80e0e;" href="/Media/Authors">All Authors</a>
                </li>
            </ul>
            <!-- / .cont -->
        </div>
        <!-- / .box -->
    </div>
</div>
<div class="outerbox">
    <div class="box activitywrapper">
        <h2>
            Topics</h2>
        <div class="cont">
            <ul class="topics">
                <li>
                @foreach (MediaTopFullSubjectsResult row in ViewBag.Subjects)
                {
                    <li><a href="/media/subjects/@row.SubjectID/@row.Subject.ToSlug()">@row.Subject</a>
                    </li>
                }
                <li class="last"><a style="color: #d80e0e;" href="/media.aspx?action=subject">more</a>
                </li>
            </ul>
            <!-- / .cont -->
        </div>
        <!-- / .box -->
    </div>
</div>
@*<div class="outerbox">
    <div class="box activitywrapper">
        <h2>
            New Media</h2>
        <div class="cont">
            <ul class="members">
                @foreach (MediaGetLatestResult row in ViewBag.NewMedia)
                {
                    <li><a class="image" href="@row.URL">
                            <img src="/media/poster/@row.DocumentId" width="40"
                                 alt="" style="display: @row.Display" /></a>
                        <div class="memberdetails">
                            <h4>
                                <a href='/media/@row.MediaId/@row.Title.ToSlug()'>
                                    @row.Title</a></h4>
                            <dl>
                                <dt>by: </dt>
                                <dd>
                                    <a href="/authors/@row.AuthorId/@row.Author.ToSlug()">
                                        @row.Author</a></dd>
                                <dt>added: </dt>
                                <dd>
                                    @row.CreateDate</dd>
                            </dl>
                        </div>
                    </li>
                }
            </ul>
            <!-- / .cont -->
        </div>
        <!-- / .box -->
    </div>
</div>
*@