﻿@{
    Layout = null;
}
@Html.PageContent("ArticlesSidebar")
@*<uc1:PageContentControl ID="PageContentControl1" runat="server" ContentName="ArticlesSidebar" />
<uc1:AuthorBio ID="AuthorBio1" runat="server" />
*@
@Html.Action("AuthorBiography", "Authors", new {ArticleId = ViewBag.Id, AuthorId = Request.QueryString["AuthorId"]})
<script src="//www.intensedebate.com/widgets/acctComment/150587/5" defer="defer"
        type="text/javascript"> </script>
@*<uc2:RelatedDocuments ID="RelatedDocuments1" runat="server" />*@