﻿@using Mises.Data
@model List<CalendarGetUpcomingEventsResult>
@{
    Layout = null;
}
<div class="box upcomingevents">
    <h2>
        Upcoming Events</h2>
    <a class="rss" href="/events.xml">rss</a>
    <div class="cont">
        <ul class="eventsbig">
            @foreach (CalendarGetUpcomingEventsResult row in Model)
            {
                <li>
                    @*<h3>
							<a href="/events/@row.EventId">
								@row.Location</a> <span>
									@row.EventDate</span></h3>*@
                    <a href="/events/@row.EventId/@row.Title.ToSlug()" title="@row.Title @row.EventDate">
                        <img src="@row.EventImage" alt="Event Image"
                             width="257" height="87" style="width: 257; height: 87;" /></a>
                    @*<h4>
							@row.Title</h4>*@
                </li>
            }            
        </ul>
        <a class="more" href="/events/">view all&hellip;</a>
        <!-- / .cont -->
    </div>
    <!-- / .box -->
</div>