<%@ Control Language="C#" AutoEventWireup="false"
            Inherits="Manager_ManagerControls_AuthorSelect" Codebehind="AuthorSelect.ascx.cs" %>
<%@ Register src="Author.ascx" tagname="Author" tagprefix="uc1" %>
Author 1:
<asp:DropDownList ID="ddAuthor1" runat="server" DataTextField="AuthorName"
                  DataValueField="AuthorId">
</asp:DropDownList>
&nbsp;Author 2:
<asp:DropDownList ID="ddAuthor2" runat="server"  DataTextField="AuthorName"
                  DataValueField="AuthorId">
</asp:DropDownList>
<uc1:Author ID="AuthorAdd" runat="server" />