﻿/* File Created: December 2, 2011 */

#menu li {
    text-align: left;
}


#search
{
    float: right;
    border-radius: 4px;    
    top: -40px;
    position: relative;
}

#search input
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#menu
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
/*    margin-bottom: 10px; */
}

.BookContainer
{
    background-color: white;
    width: 100%;
    margin: 0px;
    border: 1px solid gray;
    line-height: 150%;
}

.leftColumn
{
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}

.BookCoverThumbnail
{
    float: right;
    /*width: 300px;*/
    margin: 0;
    padding: 1em;
}

.rightColumn
{
    margin-left: 190px;
    border-left: 1px solid gray;
    padding: 1em;
}



li.BookContainer
{
    list-style-type: none;
}

#menu .t-link
{
    /*color: white;*/
}



.Pager
{
    background: #f8f8f7;
    border: 1px solid #e9e9e9;
    padding: .5em 1em;
    font: normal .8571em "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

.Pager span span
{
    font-weight: bold;
}

.Pager a
{
    margin: 0px 5px;
}


/* MENU   
----------------------------------------------------------*/
#menu
{
    position: relative;
    margin: 0;
    text-align: right;
}

#menu .t-item
{
    border-width: 0 0 0 1px;
}

#menu .t-link
{
    padding: 5px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.8em;
}


/************/
/*** Box1 ***/
/************/

.box1 p, .box2 p, .box3 p, .box4 p, .box5 p, .box6 p, .box7 p, .box9 p, .box10 p, .box11 p, .box12 p, .box13 p, .box14 p, .box15 p, .box16 p
{
    margin: 30px;
    color: #aaa;
    outline: none;
}

.box1
{
    width: 300px;
    margin: 40px;
    min-height: 200px;
    position: relative;
    display: inline-block;
    background: -webkit-gradient(linear, 0% 20%, 0% 1000%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-bottom-right-radius: 6px 50px;
}

.box1:before
{
    content: '';
    width: 50px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
    -webkit-transform: translate(-35px,-40px) skew(0deg,30deg) rotate(-25deg);
}

.box1:after
{
    content: '';
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    z-index: -1;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg) translate(20px,25px) skew(20deg);
}


/*****************/

#download-links th
{
    font-weight: bold;
}

.book-img
{
    max-width: 160px;
    max-height: 130px;
    border: 1px solid black;
}

.large-book-img
{
    border: 1px solid black;
    margin: 1px;
}
