<%@ Control Language="C#" AutoEventWireup="false" CodeFile="MisesQuote.ascx.cs" Inherits="Controls_MisesQuote" %>
 <%--<%@OutputCache Duration="180" VaryByParam="none" %> --%>
<div class="CommonSidebarArea">
	<div class="CommonSidebarRoundTop">
		<div class="r1">
		</div>
		<div class="r2">
		</div>
		<div class="r3">
		</div>
		<div class="r4">
		</div>
	</div>
	<div class="CommonSidebarInnerArea">

<asp:Literal runat="server" ID="litQuote"></asp:Literal>

	</div>
	<div class="CommonSidebarRoundBottom">
		<div class="r1">
		</div>
		<div class="r2">
		</div>
		<div class="r3">
		</div>
		<div class="r4">
		</div>
	</div>
</div>