<%@ Control Language="C#" AutoEventWireup="false" CodeFile="QuickLinks.ascx.cs" Inherits="CustomControls_QuickLinks" %>
<a href="/store/">
	<img src="/theme/images/store-v2.gif" width="120" border="0"></a>
<div id="ContentTable">
	  <br />

    <!-- TODO: FIX to relative URL -->
	&nbsp;<a href="http://blog.mises.org"><br />
		<img align="middle" alt="" border="0" height="29" src="/images/front/blog.gif"
			title="" width="100" /></a><br />
	<br />
	<a href="/rockwell" title="">
		<img align="middle" alt="" border="0" src="/images/front/lewcolumn-front.jpg"
			title="" width="100" /></a><br />
	<br />
	<a href="/literature.aspx">
		<img align="middle" alt="" border="0" height="37" src="/images/front/studyguide2.gif"
			title="" width="100" /></a><br />
	<br />
	<a href="/donate.aspx" title="">
		<img align="middle" alt="" border="0" height="37" src="/images/front/support.gif"
			title="" width="100" /></a><br />
	<br />
	<a href="/rss.aspx" title="">
		<img align="middle" alt="" border="0" height="41" src="/images/front/videopodcast-front.jpg"
			title="" width="100" /></a><br />
	<br />
	<a href="/rss.aspx">
		<img align="middle" alt="Mises radio" border="0" height="40" src="/images/front/podcast.gif"
			title="Mises radio" width="100" /></a><br />
	<br />
	<a href="/periodical.aspx?Id=2" target="_self">
		<img align="middle" alt="Mises review" border="0" height="42" src="/images/front/mr.gif"
			title="Mises review" width="100" /></a><br />
	<br />
	<a href="/periodical.aspx?Id=4" target="_self">
		<img align="middle" alt="QJAE" border="0" height="37" src="/images/front/qjae.gif"
			title="QJAE" width="100" /></a><br />
	<br />
	<a href="/periodical.aspx?Id=1">
		<img align="middle" alt="Free market" border="0" height="25" src="/images/front/fm.gif"
			title="Free market" width="100" /></a><br />
	<br />
	<a href="/periodical.aspx?Id=7">
		<img align="middle" alt="Working papers" border="0" height="52" src="/images/front/workingpapers.gif"
			title="Working papers" width="100" /></a><br />
	<br />
	<a href="/quiz.aspx" title="">
		<img align="middle" alt="" border="0" height="48" src="/images/front/quiz.gif"
			title="" width="100" /></a><br />
	<br />
	<a href="/content/faq.asp" target="_self">
		<img align="middle" alt="FAQ" border="0" height="52" src="/images/front/faq.gif"
			title="FAQ" width="100" /></a><br />
	<br />
	<a href="/events/94">
		<img align="middle" alt="" border="0" height="40" src="/images/front/mu.gif"
			title="" width="100" /></a> <a href="/markets.asp">
				<br />
				<br />
				<img align="middle" alt="" border="0" height="29" src="/images/front/MarketsandData.jpg"
					title="" width="100" /></a><br />
</div>
