<%@ Control Language="C#" CodeFile="~/Controls/WebParts/TextInputControl.ascx.cs" Inherits="TextInputControl" %>

<asp:Label ID="Label1" Text="Enter Text: " Runat="server" />
<asp:TextBox ID="TextBox1" Runat="server" />
<br />
<asp:Button ID="Button1" Text="Button" Runat="server" />