﻿@{ Layout = null; }
<style type="text/css">
    .col1
    {
        -moz-column-count: 3;
        -moz-column-gap: 20px;
        -webkit-column-count: 3;
        -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 20px;
    }

    div#leftColumn
    {
        float: left;
        width: 20em;
    }

    div#rightColumn
    {
        float: right;
        width: 20em;
    }

    div.adminSection
    {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    div.adminLinks
    {
        margin-left: .5em;
        margin-top: .5em;
    }

    .addNewLink
    {
        float: right;
        margin-right: 3em;
    }
</style>
<div id="leftColumn">
    <div class="adminSection">
        <h3>
            General</h3>
        <div class="adminLinks">
            <a href="/manager/articles.aspx">Daily Article Editor</a><br />
            <a href="/manager/content.aspx?format=literature">Literature</a><br />
        </div>
    </div>
    <div class="adminSection">
        <h3>
            Audio/Visual Media</h3>
        <div class="adminLinks">
            <a href="/manager/content.aspx?format=media">Media Manager </a>
            <br />
            <a href="/manager/MediaCategory.aspx">Media Categories</a><br />
            <a href="/manager/MediaTypes.aspx">Edit Media Types</a><br />
        </div>
    </div>
    <div class="adminSection">
        <h3>
            Mises Institute Info</h3>
        <div class="adminLinks">
            <a href="/manager/fellows.aspx">Faculty Biographies</a><br />
            <a href="/manager/faculty.aspx">Faculty and Staff Directory</a><br />
            <a href="/manager/quizinfo.aspx">Quiz Manager</a><br />
            <a href="/manager/donations.aspx">Donations</a><br />
            <a href="/manager/events.aspx">Event Calendar</a><br />
            <a href="/manager/formManager.aspx">Registration Forms Manager</a><br />
        </div>
    </div>
    <div class="adminSection">
        <h3>
            Site Settings</h3>
        <div class="adminLinks">
            <a href="/manager/quotes.aspx">Mises.Org Quotes Editor</a><br />
            <a href="/manager/pageContent.aspx">Page Content Editor (Sidebars, etc)</a><br />
            <a href="/manager/tags.aspx">Tag Manager</a><br />
            <a href="/manager/URLmapping.aspx">URL Rewrite Mappings</a><br />
            <a href="/manager/errors.aspx">Mises.org Error Log</a><br />
            <a href="/manager/library.aspx">Ward Library</a><br />
            <a href="/manager/AcademyCourse.aspx">Featured Product Widget</a><br />
        </div>
    </div>
    <div class="adminSection">
        <h3>
            Third Party</h3>
        <div class="adminLinks">
            <a href="http://blog.mises.org/wp-admin">Blog Admin</a><br />
            <a href="http://bastiat.mises.org/wp-admin">Circle Bastiat</a><br />
            <a href="http://google.com/analytics/">Google Analytics</a><br />
            <%--<a href="http://tcr141.tynt.com/dashboard/#mi$e$">Tynt Dashboard</a><br />
            --%> <a href="https://www.google.com/a/cpanel/mises.com/Dashboard">Mises.com Google
                     Dashboard</a><br />
            <a href="http://academy.mises.org/admin/">Moodle Admin</a><br />
            <a href="http://intensedebate.com/moderate/150587">comment moderation</a><br />
            <a href="http://code.mises.com:8080/">Jenkins</a><br />
            <a href="http://code.mises.com:8080/job/Mises_Live/build?token=PUSH_LIVE">PUSH BETA
                TO LIVE</a><br />
        </div>
    </div>
</div>
<div id="rightColumn">
    <div class="adminSection">
        <h3>
            E-commerce</h3>
        <div class="adminLinks">
            <a href="https://store.mises.org/Admin/Website/Scriptlets/EditScriptlet.aspx?s=Home%20Page&t=Content&tid=Glass_MidNight">
                Edit Store Home Page</a><br />
            <a href="/MisesShop/admin">Able Mises Shop Admin</a><br />
            <a href="/store/upload.aspx">Product Photo Upload</a><br />
        </div>
    </div>
    <div class="adminSection">
        <h3>
            Journals</h3>
        <div class="adminLinks">
            <a href="/manager/periodicals/periodicals.aspx">Periodicals Manager</a><br />
            <a href="/manager/periodicals/JournalArchives.aspx?Id=1">Free Market Manager</a>
            <a class="addNewLink" href="/manager/periodicals/freemarket.aspx">Add New</a><br />
            <a href="/manager/periodicals/JournalArchives.aspx?Id=2">Mises Review Manager</a>
            <a class="addNewLink" href="/manager/periodicals/misesreview.aspx">Add New</a><br />
            <a href="/manager/periodicals/JournalArchives.aspx?Id=3">JLS Manager</a> <a class="addNewLink"
                                                                                        href="/manager/periodicals/jls.aspx">Add New</a><br />
            <a href="/manager/periodicals/JournalArchives.aspx?Id=4">QJAE Article Manager</a>
            <a class="addNewLink" href="/manager/periodicals/qjae.aspx">Add New</a><br />
            <a href="/manager/periodicals/JournalArchives.aspx?Id=5">RAE Article Manager</a>
            <a class="addNewLink" href="/manager/periodicals/rae.aspx">Add New</a><br />
            <a href="/manager/periodicals/JournalArchives.aspx?Id=6">AEN Article Manager</a>
            <a class="addNewLink" href="/manager/periodicals/aen.aspx">Add New</a><br />
            <a href="/manager/periodicals/JournalArchives.aspx?Id=7">Scholar Article Manager</a>
            <a class="addNewLink" href="/manager/periodicals/scholar.aspx">Add New</a><br />
            <a href="/manager/periodicals/JournalArchives.aspx?Id=8">Ward Library Database</a>
            <a class="addNewLink" href="/manager/periodicals/wardlibrary.aspx">Add New</a><br />
            <a href="/manager/periodicals/wardlibrarydb.aspx">Ward Library Search UI</a><br />
        </div>
    </div>
    <div class="adminSection">
        <h3>
            Old ASP Managers</h3>
        <div class="adminLinks">
            <a href="/manager/ASP/journaluploadform.asp">Journals Upload Form</a><br />
            <a href="/manager/ASP/journalorder.asp">Journals Order</a><br />
            <a href="/manager/ASP/scholaruploadform.asp">Working Papers</a><br />
        </div>
    </div>
</div>