﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Controls_Theme_Comments" Codebehind="Comments.ascx.cs" %>
<div class="comments">
    <script>
var idcomments_acct = 'f3b523a2c7233ba02ce890689c979799';
var idcomments_post_id = '<%=DocumentId%>';
var idcomments_post_url;
</script>
    <span id="IDCommentsPostTitle" style="display: none"></span>
    <script type='text/javascript' src='//www.intensedebate.com/js/genericCommentWrapperV2.js'> </script>

</div>