<%@ Control Language="C#" AutoEventWireup="false" Inherits="Controls_Theme_MiniSearch" Codebehind="MiniSearch.ascx.cs" %>

<%--<script type="text/javascript">
    //<![CDATA[
    function submitenter(myfield, e) {
        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;

        if (keycode == 13) {
            return Search();
        }
        else
            return true;
    }
    function Search() {
        var text = $('#searchText').val();
        var site = $('#txtSearchSite').val();
        window.location = "http://search.mises.org/search?q=" + text + "&site=" + site;
        return false;
    }
    //]]>
</script>
<style type="text/css">
    table.gsc-search-box td.gsc-input
    {
        padding-right: 2px;
    }
    table.gsc-search-box td
    {
        vertical-align: middle;
    }
    td.gsc-search-button
    {
        width: 1%;
    }
    input.gsc-input
    {
        border: 1px solid #BCCDF0;
        padding-left: 2px;
        width: 99%;
    }
    input.gsc-search-button
    {
        margin-left: 2px;
    }
</style>
<div class="box search">
    <h2>
        Search</h2>
    <a class="advanced" href="http://search.mises.org/search?proxycustom=<ADVANCED/>">Advanced
        Search &raquo;</a>
    <div class="widget-content">
       <div id="cse" style="width: 100%;">
            Loading</div>
  <!--<div id="Div1" style="width: 100%;">Loading</div>-->
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    google.load('search', '1', { language: 'en' });
    google.setOnLoadCallback(function () {
        var customSearchControl = new google.search.CustomSearchControl('008192686144554149800:lssgwvjfvx4');
        customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
        var options = new google.search.DrawOptions();
        options.setAutoComplete(true);
        customSearchControl.draw('cse', options);
    }, true);
</script>
<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
        <asp:HiddenField ID="txtSearchSite" runat="server" />
        
    </div>
</div>--%>