﻿@{ Layout = null; }
@using Mises.Data
@model List<DailyArticlesGetImageGalleryResult>

@{ int i = 0; }


<div id="pager" class="Pager">
    @Html.Pager((int) @ViewBag.PageSize, (int) ViewBag.CurrentPage, (int) @ViewBag.Total)
</div>

<table id="DailyArticleGallery" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>        
            @foreach (DailyArticlesGetImageGalleryResult article in @Model)
            {
                if (i == 5)
                {
                    i = 0;
                    <text>@Html.Raw("</tr><tr>")</text>
                }
                i++;

                <td>
                    <div class="Article">
                        <a href="@article.NavigateUrl" title="@article.Title by @article.Author">
                            <img src="@article.ImageURL" alt="@article.Title" />
                        </a>
                        <a class="ArticleTitle" href="@article.NavigateUrl" title="@article.Title">@article.Title </a>
                        <br />
                        <span class="ArticleDate">
                            @article.DatePosted.ToString("MMM dd yyyy")</span>
                        by <span class="ArticleAuthor"><a href="/daily/author/@article.AuthorId/@DataFormat.GenerateSlug(@article.Author)" title="Mises Daily Archive for @article.Author">
                                                           @article.Author</a></span>
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>