﻿@using Mises.Data
@model Mises.Domain.Articles.DailyArticle
@{
    Page.Title = ViewBag.Title;
    Context.Items["GUID"] = Model.Identifier;
    
    if (Request["nochrome"] != null)
    {
        Layout = "../Shared/_ChromelessLayout.cshtml";
    }
    
}
<script type="text/javascript">
    var idcomments_acct = 'f3b523a2c7233ba02ce890689c979799';
    var idcomments_post_id = '@Model.Identifier';
    var idcomments_post_url;
        </script>
<div class="rel">
    <div class="prevnext">
        <ul class="dailynav">
            @if (!string.IsNullOrWhiteSpace(@Model.PreviousURL))
            {
                <li class="dnfirst"><a href="@Model.PreviousURL" rel="previous">Previous</a> </li>
            }
            <li><a href="/daily/" rel="directory">Mises Daily Index</a></li>
            @if (!string.IsNullOrWhiteSpace(@Model.NextURL))
            {
                <li class="dnlast"><a href="@Model.NextURL" rel="next">Next</a> </li>
            }
        </ul>
    </div>
    <!-- prevnext -->
    <!-- /rel -->
</div>
<h1>
    @Html.Raw(@Model.Title)
</h1>
<p class="meta">
    <strong>Mises Daily:</strong>
    @Model.DatePosted.ToLongDateString()
    by <a href="@Model.AuthorArchivesUrl" rel="author">@Model.AuthorName</a>
    @if (@Model.CoAuthorId > 0)
    {
        <text>and</text>
        <a href="@Model.CoAuthorArchivesUrl" rel="author">@Model.CoAuthorName</a>
    }
</p>
<div id="tabs">
    <ul>
        <li><a href="#ArticleTab"><span>Article</span></a></li>
        <li><a href="#CommentTab" onclick="   _gaq.push(['_trackEvent', 'MisesDaily', 'View Comments', 'Comments for @Model.AuthorName']);">
                <span>Comments</span></a></li>
        <li><a href="/MisesDaily/AuthorArchive?AuthorId=@Model.AuthorId" onclick="   _gaq.push(['_trackEvent', 'MisesDaily', 'View Other Articles', 'Articles for @Model.AuthorName']);"><span>
                                                                                                                                                                                             Also by @Model.AuthorName</span></a></li>
    </ul>
    <div id="ArticleTab">
        <div id="txtsizer">
            <div class="txtchoice" style="padding: 5px 0px 0px 0px;" onclick=" change('DailyArticle', 'txtsm'); ">
                <span style="font-size: 14px; line-height: 175%;">A</span></div>
            <div class="txtchoice" style="padding: 5px 0px 0px 0px;" onclick=" change('DailyArticle', 'txtlrg'); ">
                <span style="font-size: 20px;">A</span></div>
            <div class="clearer">
            </div>
        </div>
        <div id="fb-root">
        </div>
        <script src="//connect.facebook.net/en_US/all.js#appId=236310899725234&amp;xfbml=1"> </script>
        <fb:like href="@Model.URL" send="true" width="550" show_faces="false"
                 action="recommend" font="verdana"></fb:like>
        @* <script type="text/javascript" src="//apis.google.com/js/plusone.js"> 
		      {
		          "parsetags":
		          ;
		          "explicit";
		      }
        </script>
        <div id="content">
            <g:plusone size="medium" href="@Model.URL"></g:plusone>
        </div>
        <script type="text/javascript">
            gapi.plusone.go("content");
        </script> *@

        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <!-- AddThis Button END -->

        <div id="DailyArticle">
            @Model.ArticleHtml
        </div>
        <div class="subscribe">
            You can receive the Mises Dailies in your inbox. <a href="/content/elist.asp">Subscribe
                                                                 or unsubscribe</a>.<br />
            @*@Html.Partial("TagCloudWrapper")*@
        </div>
        <hr />
        <div class="rel">
            <ul class="share">
                <li class="s-prin"><a href="#" onclick=" window.print();return false; " title="Print">
                                       Print</a></li>
                <li class="s-epub">
                    <script type="text/javascript" src="//dotepub.com/p/widget.php?lang=en&amp;links=1&amp;img=n"> </script>
                </li>
                @*
                <li class="s-shar"><a href="#" onclick="window.open('/MyMises/EmailPage.aspx?url=' + escape(self.location) + '&amp;title=' + escape(document.title),'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0');return false;" title="Share">Email</a></li>*@
                @*                <li class="s-mymi"><a href="#" onclick="   window.open('/MyMises/EditFavorite.aspx?url=' + escape(self.location) + '&amp;title=' + escape(document.title),'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0');return false;" title="Add to MyMises">Add
                    to MyMises</a></li>*@
                <li class="s-shar"><a href="/content/elist.asp">Subscribe by Email</a></li>
                <li class="s-subs"><a href="http://feeds.mises.org/MisesDailyArticles">RSS Feed</a></li>
                <li class="s-subs"><a href="http://feeds.mises.org/MisesFullTextArticles">Full-Text Feed</a></li>
                
            </ul>
            <!-- /rel -->
        </div>
        @Html.Partial("Navigation/Bookmarks")
    </div>
    <div id="CommentTab">
        
        <span id="IDCommentsPostTitle" style="display: none"></span>
        <script type='text/javascript' src='//www.intensedebate.com/js/genericCommentWrapperV2.js'> </script>
    </div>
</div>

@section Sidebar {


<script type="text/javascript" src="//www.intensedebate.com/js/genericLinkWrapperV2.js"></script>


    @Html.Partial("Sidebars/MisesDaily")
}
@section head{
    <meta name="author" content="@Model.AuthorName" />
    <meta name="description" content="@DataFormat.StripHTML(Model.Description)" />
    <link type="application/rss+xml" rel="alternate" title="Mises Daily feed for @Model.AuthorName" href="http://mises.freecapitalists.org//Feeds/articles.ashx?AuthorId=@Model.AuthorId"/>
    @Html.Raw(ViewBag.Meta)
}
