﻿@{
    Layout = null;
}
@using Mises.Data
@model List<DocumentAuthorsGetDetailResult>
<div class="box aboutauthor">
    <h2>
        About the Author</h2>
    @foreach (DocumentAuthorsGetDetailResult author in @Model)
    {
        <div class="cont">
            @if (author.Photo != null)
            {
                <img src="@author.Photo" height="150" alt="Photo of @author.Author" />
            }
            
            <div class="name">
                @author.Author
            </div>
            <a href="/daily/author/@author.AuthorId/@author.Author.ToSlug()">
                View Author Archive </a>
            <br />
            <p>@Html.Raw(@author.BioText)</p>
            <!-- / .cont -->
        </div>
    }
</div>