﻿@model List<Mises.Data.DocumentAuthorsGetListResult>
@{
    Page.Title = "Mises Daily Authors";
}



@{
    var letters = from ch in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" select ch;

    string lit = "";
    letters.ToList().ForEach(l => { lit += string.Format(" <a href=\"#{0}\">{0}</a>", l); });
        //litAuthorLetters.Text = string.Format("{0}", lit);
        //alpha.Visible = true;

    char firstLetter = 'a';
}

<h1>Mises Daily</h1>
<p class="summary">
    @Html.PageContent("ArticlesHeader")
</p>

<div class="box">
<div class="alphabet">    
    @Html.Raw(lit.ToString());
</div>
    </div>
    
<div class="box">
    
<table class="tlibrary tliteraturel" cellspacing="0" rules="all" border="1" style="width:650px;border-collapse:collapse;">
    
   
@foreach(var author in @Model)
    {
        if (!string.IsNullOrWhiteSpace(author.AuthorLast) && firstLetter != char.ToUpper(@author.AuthorLast[0]))
        {
            firstLetter = char.ToUpper((author.AuthorLast[0]));
         <tr>
        <td>
            <h2><a href="#@firstLetter" id="@firstLetter">@firstLetter</a></h2>
            <img src="/images/icons/icon_category.gif" alt="Folder"/>
        </td>
    </tr>
        }
        
    <tr>
        <td>
            <img src="/images/icons/icon_category.gif" alt="Folder"/>
            <a href="/daily/author/@author.AuthorId/">@author.AuthorName </a>
        </td>
    </tr>    
    }

    @*<tr>
        <td>
            <h2><a href="#A" id="A">A</a></h2>
            <img src="/images/icons/icon_category.gif" alt="Folder"/>
        </td>
    </tr>
    <tr>
        <td>
            <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_gvAuthors_ctl03_HyperLink1" href="/daily/author/1660/">Michel Accad</a>
        </td>
</tr>*@
</table>    
    

</div>