﻿@model Mises.Web.DailyViewModel
@using Mises.Data
@using Mises.Domain
@using Mises.Web.Controllers
@{
    Page.Title = Model.Title;
}
<h1>Mises Daily</h1>
<p class="summary">
    @Html.PageContent("ArticlesHeader")
</p>
@if (Model.Author != null)
{
    <div id="author-bio">
        <div id="author-header" style="width: 450px;text-align: center;">
            <h2 style="display: inline; float: left;">@Model.Author.ToString()</h2>
            @if (!string.IsNullOrEmpty(Model.Author.Photo))
            {<img src="@Model.Author.Photo" alt="@Model.Author.ToString()" style="float: right;max-height: 300px" />}
        </div>
        <p style="clear: both;">
            @Html.Raw(Model.Author.BioText)
        </p>
    </div>


        
}
<div class="box">
    @if (Model.Format == DailyController.ViewFormat.Album)
    {
        @Html.Partial("AlbumView", (List<DailyArticlesGetImageGalleryResult>)Model.Articles);
    }
    else
    {
        @Html.Partial("ListView", (IEnumerable<DailyArticlesGetArchiveResult>)Model.Articles);
    }
</div>
@section Sidebar {
    @Html.Partial("Sidebars/MisesDaily")
}
@section head{
    @if (Model.Author != null)
    {
        <link type="application/rss+xml" rel="alternate" title="Mises Daily feed for @Model.Author.ToString()" href="http://mises.freecapitalists.org//Feeds/articles.ashx?AuthorId=@Model.Author.AuthorId"/>
        
        <meta name="description" content="@Model.Author.ToString()" />
    }
    else
    {
        <meta name="description" content="@DataFormat.StripHTML(Html.PageContent("ArticlesHeader").ToString())" />
        
        
        <link type="application/rss+xml" rel="alternate" title="Mises Daily Feed" href="http://feeds.mises.org/misesdailyarticles" />

        <link type="application/rss+xml" rel="alternate" title="Mises Daily Feed - Full Text"
            href="http://feeds.mises.org/MisesFullTextArticles" />
    }
}
