﻿@using Mises.Data
@model IEnumerable<DailyArticlesGetArchiveResult>

@{ Layout = null; }

@(Html.Telerik().Grid(Model)
               .Name("Grid")
               .Columns(columns =>
                            {
                                columns.Template(
                                    @<text>
                                         <img 
                                             alt="@item.title" 
                                             src="//s3.amazonaws.com/veksler-backup/DailyArticleImages/@(item.ArticleId).jpg"
                                             height="40" 
                                             width="40"
                                             />
                                     </text>).Title("").Width(40);

                                columns.Template(
                                    @<text>
                                         <a href="@item.NavigateUrl">
                                             @Html.Raw(item.title)
                                         </a>
                                     </text>).Title("Title").Width(200);
                                //columns.Bound(o => o.title).Title("Title").Width(200);

                                columns.Template(
                                    @<text>
                                         <a href="/daily/author/@item.AuthorId/@item.authorName.ToSlug()">
                                             @item.authorName
                                         </a>
                                     </text>).Title("Author").Width(100);

                                //columns.Bound(o => o.authorName).Title("Author").Width(100);
                                columns.Bound(o => o.DatePosted).Title("Date").Format("{0:MM/dd/yyyy}").Width(100);
                            })
               //.DataBinding(dataBinding => dataBinding.Ajax().Select("GetDailyArchiveList", "Daily"))
               .Pageable(paging => paging.PageSize(50).Position(GridPagerPosition.Both))
               .DataKeys(keys => keys.Add(o => o.ArticleId))
               //.Groupable(group => group.Groups(g => g.Add(g2 => g2.Month)))
               .Sortable(c => c.Enabled(true))



        )