<%@ Control Language="C#" AutoEventWireup="True" Inherits="Controls_Sidebars_Donate" Codebehind="Donate.ascx.cs" %>
<%@ Register Src="~/Controls/PageContentControl.ascx" TagName="PageContentControl"
             TagPrefix="uc1" %>
<uc1:PageContentControl ID="PageContentControl1" runat="server" ContentName="DonateSidebar" />