<%@ Control Language="C#" AutoEventWireup="True" Inherits="Controls_Sidebars_Events" Codebehind="Events.ascx.cs" %>
<%@ Register src="~/Controls/PageContentControl.ascx" tagname="PageContentControl" tagprefix="uc1" %>
<uc1:PageContentControl ID="PageContentControl1" runat="server" ContentName="EventsSidebar" />