<%@ Control Language="C#" AutoEventWireup="True"
            Inherits="Controls_Theme_Publications" Codebehind="Publications.ascx.cs" %>
<%@ Register src="~/Controls/PageContentControl.ascx" TagName="PageContentControl"
             TagPrefix="uc1" %>
<uc1:PageContentControl ID="PageContentControl1" runat="server" ContentName="PublicationsSidebar" />