﻿/* File Created: February 10, 2012 */

#toolbar { padding: .5em; margin: 0;  }
.toolbar .buttonset { margin-right:1.5em; padding-left: 1px; }
.oolbar .button { font-size: 1em;  }

input.textfield, textarea
{
    border: 1px solid #C9C9C9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 1px 1px 5px #53535c;
    -webkit-box-shadow: inset 1px 1px 5px #53535c;
    box-shadow: inset 1px 1px 5px #53535c;
}

#header
{
    margin-top: 28px;
}

.adminSection li
{
    padding-left: 5px;
}

.adminSection h3
{
    background-color: #F5FAFD;
    background-image: -webkit-linear-gradient(top, #F7FCFE, #EFF8FF);
    color: #174F69;
    display: block;
    font-family: Georgia, 'Times New Roman' , 'Bitstream Charter' , Times, serif;
    font-size: 15px;
    font-weight: normal;
    height: 15px;
    line-height: 15px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    border-bottom-color: #D1E5EE;
    text-shadow: white 0 1px 0;
    -moz-box-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    margin-top: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.adminSection
{
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #D1E5EE;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 10px;
}



#tabs
{
    width: 800px;
    min-height: 550px;
}

#wpadminbar
{
    border-right: 1px solid #333;
    direction: ltr;
    color: #CCC;
    font: normal 13px/28px sans-serif;
    height: 28px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background-color: #464646;
    background-image: -ms-linear-gradient(bottom,#373737,#464646 5px);
    background-image: -moz-linear-gradient(bottom,#373737,#464646 5px);
    background-image: -o-linear-gradient(bottom,#373737,#464646 5px);
    background-image: -webkit-gradient(linear,left bottom,left top,from(#373737),to(#464646));
    background-image: -webkit-linear-gradient(bottom,#373737,#464646 5px);
    background-image: linear-gradient(bottom,#373737,#464646 5px);
}

#wpadminbar *
{
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    position: static;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1;
    font: normal 13px/28px sans-serif;
    color: #CCC;
    text-shadow: #444 0 -1px 0;
}

#usermenu
{
    float: right;
    position: relative; /*clear: both;*/
    margin-top: -30px;
}



.leftColumn
{
    float: left;
}

.rightColumn
{
    float: right;
}

div.adminLinks
{
    margin-left: .5em;
    margin-top: .5em;
}

.addNewLink
{
    float: right;
    margin-right: 3em;
}

#tabs h3
{
    margin-top: 10px;
}
