html body{behavior:url("/App_Themes/Black/js/csshover.htc");}*+html #content ul.filter li a{line-height:12px;padding-bottom:4px;}*+html #content ul.filter li li a{padding-bottom:0;line-height:16px;}*+html #content ul.filter li:hover{max-height:none;}#content div.filterhead{zoom:1.0;}ul.share li a{zoom:1.0;}#sidebar div.cont,#sidebar ul li{zoom:1.0;}#communitytabbed{zoom:1.0;}.box li{zoom:1.0}#footer{zoom:1.0;}
