/*Reset styles*/
body
{
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    word-spacing: 1px;
    letter-spacing: 0.2px;
    font: 13px Arial, Helvetica, "Lucida Grande" , serif;
    color: #000;
}

/* Show Links */
a:link, a:visited {background: transparent; color:#333; text-decoration:none;}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 11px;}
a[href^="http://"] {color:#000;} 

/* TODO: FIX to relative URL.  */
a[href^="/"]:after
{
    content: " (http://mises.freecapitalists.org/" attr(href) ") ";
}

/* font sizes */

html, p, blockquote, li, dl, dd
{
    font-size: 12pt !important;
}

a img
{
    border: 0 !important;
}

a:link, a:visited
{
    color: #009;
}

#header p.title
{
    font-size: 18pt !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

#header p.tagline
{
    font-size: 10pt !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

#content, #tabs
{
width: 90% !important;
    border: none;
    margin: 0px;
    padding: 0;

}

.ui-tabs-nav, header, footer, #accessibility-menu, #navigation, #sidebar, #header, #footer, #fb-root, #header.ul, #msthd_nav, #header h2, #header h3, #header h1.logo, .connect_widget, #content div.subscribe, #content div.rel, #content div.tagcloud, #content div.comments, #content div.bookmark, #content div.book-price, .ui-tabs-nav, header, footer, #LikePluginPagelet, #txtsizer, #fb-root, #addthis_toolbox, #facebook, .noprint
{
    display: none !important;
}
