﻿@using BookCatalog.Models
@using Mises.Domain.Books
@model BookCatalog.Models.LiteratureViewModel
@{
    Layout = "../Shared/Literature/_LiteratureLayout.cshtml";
    Page.Title = @Model.Author + " :: " + @Model.Title;
    ViewBag.ShowLiteratureSidebar = true;
}
@section head{
    <meta name="Description" content="@Model.Description.PadRight(120).Substring(0, 120)"/>
    <meta name="Keywords" content="@Model.Keywords"/>
    <meta content="http:@Model.Thumbnail" property="og:image" />
    <meta content="@Model.Title" property="og:title" />
    <meta content="book" property="og:type" />
    <meta content="http://mises.freecapitalists.org//document/@Model.DocumentId/@Model.Title.ToSlug()"
        property="og:url" />
    <meta content="216712848362908" property="app_id" />
    <meta name="Author" content="@Model.Author" />
    <meta name="Keywords" content="@Model.Keywords" />
    <meta name="Description" content="@Model.Description.StripHTML().PadRight(250).Substring(0, 250)" />
    
    @if (Model.Formats == null || Model.Formats.Count == 0)
    {
        <meta name="robots" content="noindex, nofollow" />
    }
}
<hr />
<div class="info">
    <h1 class="article-title" rel="title">@Model.Title</h1>
    <h2 class="date-author" rel="author">@Model.Author</h2>
</div>
<div class="info">
    <div class="BookCoverThumbnail">
        <img src="@Model.Thumbnail" alt="@Model.Title" class="large-book-img" />
    </div>
    <div class="">
        @if (@Model.CoAuthorId > 0)
        {
            <h2 class="title">@Model.CoAuthor</h2>
        }
        <div id="download-links" class="box1">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Kind
                        </th>
                        @if (@Model.Formats.Any(f => f.VolumeOrdinal > 0))
                        {
                            <th>
                                Comment
                            </th>
                        }
                        <th>
                            Size
                        </th>
                        <th>
                            Date Added
                        </th>
                    </tr>
                    @foreach (var file in @Model.Formats)
                    {

                        if (file.MediaTypeId == 7)
                        {
                        <tr>
                            <td colspan="4">
                                <a href="@file.URL" title="Get this book from the Mises Store">
                                    <img src="/images/Theme/images/buttons/BuyNowDocumentsButton.png" alt="Get this book from the Mises Store" />
                                </a>
                            </td>
                            <td>
                                @Model.Price
                            </td>
                        </tr>
                        }
                        else
                        {
                        
                        
                        <tr>
                            <td>
                                <img src="//mises.freecapitalists.org/@NavigationModels.GetMediaTypeFromId(file.MediaTypeId).MediaIconPath" alt="@NavigationModels.GetMediaTypeFromId(file.MediaTypeId).MediaType" />
                            </td>
                            <td>
                                <a href="@file.URL" onclick="_gaq.push(['_trackEvent', 'Document', 'Download', '@file.URL']);">@NavigationModels.GetMediaTypeFromId(file.MediaTypeId).Description
                                    @file.VolumeComment </a>
                            </td>
                            @if (@Model.Formats.Any(f => f.VolumeOrdinal > 0))
                            {
                                <td>@file.VolumeComment
                                </td>
                            }
                            <td>
                                @if (file.fileSize > 0)
                                {
                                    <span>@((file.fileSize / 1000).ToString("#,#"))
                                        KB</span>
                                }
                            </td>
                            <td>
                                @(file.CreateDate.ToShortDateString())
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
            @if (@Model.ISBN != null)
            {
                <script type="text/javascript" src="http://books.google.com/books/previewlib.js"> </script>
                <script type="text/javascript">
                    GBS_insertPreviewButtonPopup('ISBN:@Model.ISBN');

                </script>
            }
        </div>
        <div id="info">
            @Html.Raw(@Model.Description)
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.PublicationInformation))
        {
            <div id="info">
                <legend>Publication Information</legend>
                @Html.Raw(@Model.PublicationInformation)
            </div>
        }
        <em>Updated @Model.EditDate.ToShortDateString()</em>
        <div class="comments">
            <script>
                var idcomments_acct = 'f3b523a2c7233ba02ce890689c979799';
                var idcomments_post_id = '@Model.GUID';
                var idcomments_post_url;

            </script>
            <span id="IDCommentsPostTitle" style="display: none"></span>
            <script type='text/javascript' src='//www.intensedebate.com/js/genericCommentWrapperV2.js'> </script>
        </div>
    </div>
</div>
