<%@ Page Language="C#" MasterPageFile="~/MasterPages/Content.master" AutoEventWireup="false" Inherits="MyMises_login" title="Untitled Page" Codebehind="login.aspx.cs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    Login<br />
    <br />
    <asp:Literal ID="litDebugText" runat="server"></asp:Literal>
</asp:Content>