﻿@using Mises.Web.ViewModels.Documents
@model BrowseViewModel
@{ Layout = null; }
<div class="no-js @Model.Theme">
    <div class="jcarousel-container">
        @{ Html.RenderPartial("Pagination", Model); }
        <div class="jcarousel-clip">
            <ul class="article-list jcarousel-list-horizontal" data-list-count="@Model.TotalItems" data-page-size="@Model.PageSize" data-scroll-amount="@Model.ScrollAmount" data-ajax-src="articles">
                @{
                    foreach (var item in Model.Items)
                    {
                        <li>
                            @{ Html.RenderPartial("DocumentSummary", item); }
                        </li>
                    }
                }
            </ul>
        </div>
        @{ Html.RenderPartial("Pagination", Model); }
    </div>
</div>