﻿@using Mises.Domain.Contracts
@model DocumentDTO
@{ Layout = null; }
<div class="article small">
    @{
        var articleurl = String.Format("/document/{0}/{1}", Model.Id, Model.Title.ToSlug()); /*TODO @Url.RouteUrl("article-detail", new { id = article.Id, slug = article.Title.ToSlug() })*/
        var articletitle = MvcHtmlString.Create(Model.Title);
    }
    <a title="@articletitle" href="@articleurl" class="poster">if (@Model.Media.Any()) {
        <img alt="@articletitle" src="@Model.Media.FirstOrDefault().PosterUrl" alt="@Model.Title" /></a>
    }
    <div class="info">
        <p class="article-title">
            <a title="@articletitle" href="@articleurl">@articletitle</a></p>
        <p class="date-author">@Model.CreatedDate.ToString("D") by
            @{ Html.RenderPartial("AuthorLinksPartial", Model.Authors); }
        </p>
    </div>
</div>