﻿@{
    Layout = "../Shared/Literature/_LiteratureLayout.cshtml";
    ViewBag.Title = "Literature Library: free books from the Ludwig von Mises Institute";
    ViewBag.Title = @Html.GetTitle();
}
@using BookCatalog.Models
@model IEnumerable<LiteratureViewModel>

<p>
@Html.PageContent("LiteratureHeader")
</p>

<h2>@ViewBag.Title: @ViewBag.Total records</h2>
@if (ViewBag.Author != null)
{
    <div id="bio" style="border: 1px black solid;">
        @{ var author = ((AuthorViewModel)ViewBag.Author); }
        <div class="leftColumn">
            <img src="@author.Photo" alt="Alternate Text" class="book-img" />
        </div>
        <div class="rightColumn">
            <h4>
                About @author.ToString()</h4>
            <div>
                @author.Born - @author.Died</div>
            <p>
                @Html.Raw(@author.BioText)</p>
            
            <a href="?titleSort=true">Sort by Title</a>        
        </div>
    </div>
}


<h4 id="pager" class="Pager">
    @Html.Pager((int)@ViewBag.PageSize, (int)ViewBag.CurrentPage, (int)@ViewBag.Total)
</h4>
<ul>
    @foreach (LiteratureViewModel book in @Model)
    {
        <li class="BookContainer" style="clear: both">
            <div class="leftColumn">
                <a href="@Url.Content(@book.URL)" title="@book.Title">
                    <img src="//mises.freecapitalists.org/@book.Thumbnail" alt="@book.Title" class="book-img" />
                </a>
                
                
            </div>
            <div class="rightColumn">
                <h4>
                    <a href="@Url.Content(@book.URL)" title="more details...">@book.Title</a>
                    @GetLinks(book)
                </h4>
                <h5>
                    @*@Html.ActionLink(@book.Author,"Author",new { id = @book.AuthorId, name = @book.Author.ToSlug()})*@
@if (book.AuthorId > 0 && @book.Author != null)
{                    
                    <a href="@Url.Content("~/Literature/Author/" + @book.AuthorId + "/" + @book.Author.ToSlug())">@book.Author.ToString()</a>
}
                    <em>Updated @book.LastUpdated.ToShortDateString()</em>
                </h5>
                <div id="partial">@Html.Raw(@book.Description != null ? @book.Description.StripHTML().PadRight(250).Substring(0, 250).Trim() : "")...</div>
                
            </div>
        </li>
        
    
    }
</ul>
<h4 id="pager" class="Pager">
    @Html.Pager((int)@ViewBag.PageSize, (int)ViewBag.CurrentPage, (int)@ViewBag.Total)
</h4>


@helper GetLinks(LiteratureViewModel book)
{
    foreach (var fileModel in book.Formats)
    {
    <a href="@fileModel.URL" target="_new" onclick="_gaq.push(['_trackEvent', 'Document', 'Download', '@fileModel.URL']);" title="Download @NavigationModels.GetMediaTypeFromId(fileModel.MediaTypeId).Description @fileModel.VolumeComment file">
        <img src="//mises.freecapitalists.org/@NavigationModels.GetMediaTypeFromId(fileModel.MediaTypeId).MediaIconPath" alt="@NavigationModels.GetMediaTypeFromId(fileModel.MediaTypeId).Description" title="@fileModel.VolumeComment"  /></a>
    }
        
}