﻿@model Mises.Web.ViewModels.FacultyModel
@{
    Page.Title = "Faculty Members - Ludwig von Mises Institute";
}
<h2>Senior Fellows, Faculty Members, and Staff
</h2>
<p>
    (solicitations and group mailings prohibited)
</p>
@if (Model.SeniorFaculty.Count > 0)
{
    <div id="SeniorFaculty" class="cont">
        <h2>Senior Fellows</h2>
        @Html.Telerik().Grid(Model.SeniorFaculty).Name("Faculty").Sortable(s => s.Enabled(true)).Columns(columns =>
            {
                columns.Template(@<text>
        @if (!string.IsNullOrWhiteSpace(item.web))
        {
            <a href="@item.web">@item.name</a>
        }
        else
        {
            @item.name
        }
        </text>).Title("Name");

                columns.Bound("school").Title("Affiliation");

                columns.Template(@<text><a href="mailto:@item.email" title="email @item.name">@item.email</a></text>).Title("Email");

            })
    </div>
}
@if (Model.AssociatedScholars.Count > 0)
{
    <div id="AssociatedScholars" class="cont">
        <h2>Associated Scholars</h2>
        @Html.Telerik().Grid(Model.AssociatedScholars).Name("AssociatedScholars").Sortable(s => s.Enabled(true)).Columns(columns =>
                                                                      {
                                                                          columns.Template(@<text>
        @if (!string.IsNullOrWhiteSpace(item.web))
        {<a href="@item.web">@item.name</a>}
        else
        {@item.name }
        </text>).Title("Name");

                                                                          columns.Bound("school").Title("Affiliation");

                                                                          columns.Template(@<text><a href="mailto:@item.email" title="email @item.name">@item.email</a></text>).Title("Email");

                                                                      })
    </div>
}

@if (Model.Staff.Count > 0)
{
    <div id="Staff" class="cont">
        <h2>Staff</h2>
        @Html.Telerik().Grid(Model.Staff).Name("Staff").Sortable(s => s.Enabled(true)).Columns(columns =>
            {
                columns.Template(@<text>
        @if (!string.IsNullOrWhiteSpace(item.photo))
        {
            <a href="@item.photo" target="_new">
                <img src="@item.photo" alt="@item.name" style="max-height: 100px;max-width: 100px;" /></a>
        }
        </text>).Title("");

                columns.Template(@<text>
      

        @if (!string.IsNullOrWhiteSpace(item.web))
        {
            <a href="@item.web">@item.name</a>
        }
        else
        {
            @item.name
        }
        </text>).Title("Name");

                columns.Bound("jobtitle").Title("Role");

                columns.Template(@<text><a href="mailto:@item.email" title="email @item.name">@item.email</a></text>).Title("Email");

            })
    </div>

}
@if (Model.AdjunctFaculty.Count > 0)
{
    <div id="AdjunctFaculty" class="cont">
        <h2>Other Scholars Working in the Austrian Tradition</h2>
        @Html.Telerik().Grid(Model.AdjunctFaculty).Name("AdjunctFaculty").Sortable(s => s.Enabled(true)).Columns(columns =>
            {
                columns.Template(@<text>
        @if (!string.IsNullOrWhiteSpace(item.web))
        {
            <a href="@item.web">@item.name</a>
        }
        else
        {
            @item.name
        }
        </text>).Title("Name");

                columns.Bound("jobtitle").Title("Role");

                columns.Template(@<text><a href="mailto:@item.email" title="email @item.name">@item.email</a></text>).Title("Email");

            })
    </div>

}
