﻿@model Mises.Web.ViewModels.FacultyModel
@{
    Page.Title = "Other Scholars Working in the Austrian Tradition";
}
<h2>Other Scholars Working in the Austrian Tradition
</h2>
@if (Model.AdjunctFaculty.Count > 0)
{
    <div id="AdjunctFaculty" class="cont">
        @Html.Telerik().Grid(Model.AdjunctFaculty).Name("AdjunctFaculty").Sortable(s => s.Enabled(true)).Columns(columns =>
            {
                columns.Template(@<text>
        @if (!string.IsNullOrWhiteSpace(item.web))
        {
            <a href="@item.web">@item.name</a>
        }
        else
        {
            @item.name
        }
        </text>).Title("Name");

                columns.Bound("school").Title("affiliation");

                columns.Template(@<text><a href="mailto:@item.email" title="email @item.name">@item.email</a></text>).Title("Email");

            })
    </div>

}
