﻿@model Mises.Domain.Payments.Donations

<div id="ConfirmationMessage" id="@Model.donation.DonationID">
    @Html.Raw(Model.DonationReceipt);

    @Html.Raw(Model.WebConfirmationMessage);
    
</div>

<script type="text/javascript">

   // debugger;

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12345-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_addTrans','@Model.donation.DonationID',
    'Forms Donation',  
    '@Model.donation.Amount',         
    '0',           
    '0',           
    '@Model.donation.City',       
    '@Model.donation.State',     
    '@Model.donation.Country'    
  ]);

   @* _gaq.push(['_addItem',
    '@Model.donation.DonationID',           // transaction ID - required
    'DD44',           // SKU/code - required
    'T-Shirt',        // product name
    'Green Medium',   // category or variation
    '11.99',          // unit price - required
    '1'               // quantity - required
    ]);*@

    _gaq.push(['_addItem',
    '@Model.donation.DonationID',
    '@ViewBag.AnalyticsProductId',           // SKU/code - required
    '@Model.donation.Designation',        // product name
    'CustomForm',   // category or variation
    '@Model.donation.Amount',          // unit price - required
    '1'               // quantity - required
    ]);
    _gaq.push(['_trackTrans']); //submits transaction to the Analytics servers


  (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
