﻿@model Mises.Web.ViewModels.Forms.RegistrationFormViewModel
@{
    Layout = "../Shared/_BlankLayout.cshtml";
    Page.Title = "Giving Opportunities for Fellowships";
}

@section head{

    <meta property="og:title" content="Mises Institute Giving Opportunities" />
    <meta property="og:url" content="https://mises.freecapitalists.org/forms/GivingFellowships" />
    <meta property="og:image" content="https://mises.freecapitalists.org/images/GivingFellowships.png" />

}

<style type="text/css">
    /*#region Global */

    input {
        font-family: 'Arial', Gadget, sans-serif;
        font-size: 18px;
        color: rgb(123, 117, 118);
        border: 2px lightgray solid;
        border-radius: 2px;
    }

        input[type="radio"] {
            border: none;
        }

    select {
        font-family: 'Arial', Gadget, sans-serif;
        font-size: 18px;
        color: rgb(123, 117, 118);
        border: 2px rgb(192, 192, 192) solid;
        border-radius: 2px;
    }

    label {
        font-family: 'Arial', Gadget, sans-serif;
        font-size: 1em;
        font-weight:bold;
        color: rgb(123, 117, 118);
    }

    button, #donate {
        font-family: 'Arial', Gadget, sans-serif;
        width:205px;
        color: #5b9c5d;
        font-weight:bold;
        font-size: .78em;
        /*color: rgb(123, 117, 118);*/
        margin-top: 0;
        padding: 4px;
    }

    body {
        font-family: 'Arial', Gadget, sans-serif;
        font-size: 18px;
        color: rgb(123, 117, 118);
        background-image: url(https://mises.freecapitalists.org/images/GivingFellowships.png);
        background-repeat: no-repeat;
    }

    .input-validation-error {
        background-color: rgb(242, 183, 183);
    }

    /*#endregion */

     #userInfo {
        position: relative;
        top: 285px;
        left: 448px;
        width: 393px;
        height: 600px;
    }

    #basics {
        position: relative;
    }

    #Contributor {
        position: absolute;
        top: 335px;
        left: 478px;
        width: 368px;
        height: 20px;
        font-family: 'Arial', Gadget, sans-serif;
        color: #4f9cee;
        border-bottom: 1px solid gray;
        font-size: .78em;
                
    }

    #FirstNameLabel {
        position: absolute;
        top: 365px;
        left: 478px;
        width: 178px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .70em;

        
    }
    #firstName {
        position: relative;
        top: 100px;
        left: 30px;
        width: 178px;
    }

   #LastNameLabel {
        position: absolute;
        top: 365px;
        left: 667px;
        width: 178px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .70em;

        
    }

    #lastName {
        position: relative;
        top: 100px;
        left: 30px;
        width: 178px;
    }

    #AddressLabel {
        position: absolute;
        top: 418px;
        left: 478px;
        width: 178px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .70em;
    }
    #address {
        position: relative;
        top: 122px;
        left: 30px;
        width: 178px;
    }

    #CityLabel {
        position: absolute;
        top: 418px;
        left: 667px;
        width: 178px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .70em;
    }
    #city {
        position: relative;
        top: 122px;
        left: 30px;
        width: 178px;
    }

     #CountryLabel {
        position: absolute;
        top: 471px;
        left: 478px;
        width: 153px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .70em;
    }

    #country {
        position: relative;
        top: 148px;
        left: 30px;
        width: 153px;
    }

     #StateLabel {
        position: absolute;
        top: 471px;
        left: 640px;
        width: 50px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .70em;
    }

    #state {
        position: relative;
        top: 148px;
        left: 30px;
        width: 50px;
    }

     #ZipLabel {
        position: absolute;
        top: 471px;
        left: 703px;
        width: 145px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .70em;
    }

    #zip {
        position: relative;
        top: 148px;
        left: 30px;
        width: 145px;
    }

    #EmailLabel {
        position: absolute;
        top: 524px;
        left: 478px;
        width: 178px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .70em;
    }
  
    #email {
        position: relative;
        top: 172px;
        left: 30px;
        width: 178px;
    }

  

      #PhoneLabel {
        position: absolute;
        top: 524px;
        left: 667px;
        width: 178px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .70em;
    }

    #phone {
        position: relative;
        top: 172px;
        left: 30px;
        width: 178px;
    }

     #AmountLabel {
        position: absolute;
        top: 578px;
        left: 478px;
        width: 368px;
        height: 20px;
        font-family: 'Arial', Gadget, sans-serif;
        color: #4f9cee;
        border-bottom: 1px solid gray;
        font-size: .78em;
                
    }

    #amounts {
        position: relative;
        top: 218px;
        left: 30px;
        width: 400px;
        height: 200px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .78em;
        /*border: 2px green solid;*/
    }


    #amount {
        position: relative;
        top: 0px;
        left: 10px;
        width: 60px;
        
    }

    #PaymentLabel {
        position: absolute;
        top: 685px;
        left: 478px;
        width: 368px;
        height: 20px;
        font-family: 'Arial', Gadget, sans-serif;
        color: #4f9cee;
        border-bottom: 1px solid gray;
        font-size: .78em;
                
    }

    #card {
        position: relative;
        top: 155px;
        left: 30px;
        width: 200px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .78em;
        font-weight: bold;
        /*border: 2px green solid;*/
    }


    #csv {
        position: relative;
        top: 20px;
        left: 210px;
        height: 20px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .78em;
        font-weight: bold;
    }

    #donate {
        position: relative;
        top: 182px;
        left: 30px;
    }

    #validation {
        position: relative;
        top: 360px;
        left: 30px;
    }

    #paypal {
        position: relative;
        top: 130px;
        left: 479px;
        width: 358px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .78em;
        font-weight:bold;
        color: rgb(123, 117, 118);
        background-color: #e9e9e9;
        padding: 5px;
        border-bottom: 1px solid lightgray;
       
    }

    #paypal form input
       {border-width:0px;}

   
    
    *:focus {
    outline: 0;
}
    
    


    #CreditCardLabel {
        position: absolute;
        top:858px;
        left: 553px;
        width: 350px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .78em;
        font-weight:bold;
        color: rgb(123, 117, 118);
        
       
       
    }
    
    #CardButton {
        position: absolute;
        top:670px;
        left: 448px;
        width: 300px;
        
        
        
       
    }
     #CardTypes {
        position: absolute;
        top:818px;
        left: 620px;
        width: 300px;
       
    }

       #PrintandMail {
        position: absolute;
        top: 858px;
        left: 770px;
        width: 200px;
        font-family: 'Arial', Gadget, sans-serif;
        font-size: .68em;
        font-weight: bold;
        color: rgb(123, 117, 118);
        /*   padding: 4px;
        border: 1px solid blue; */
    }

</style>

   
@using (Ajax.BeginForm("Submit", new AjaxOptions() { OnBegin = "ShowSpinner", OnSuccess = "Success", OnFailure = "Failure" }))
{ 
       <div id="userInfo">
     
        @Html.TextBoxFor(m => m.FirstName, new { id = "firstName" })
        @Html.ValidationMessageFor(m => m.FirstName)
        @*<input id="firstName" type="text" value="" />*@
        
        @Html.TextBoxFor(m => m.LastName, new { id = "lastName" })
        @Html.ValidationMessageFor(m => m.LastName)
        @*<input id="lastName" type="text" value="" />*@

        @Html.TextBoxFor(m => m.Address, new { id = "address" })
        @Html.ValidationMessageFor(m => m.Address)

        @Html.TextBoxFor(m => m.City, new { id = "city" })
        @Html.ValidationMessageFor(m => m.City)

        @Html.TextBoxFor(m => m.Country, new { id = "country" })
        @Html.ValidationMessageFor(m => m.Country)

        @Html.TextBoxFor(m => m.State, new { id = "state" })
        @Html.ValidationMessageFor(m => m.State)
        @* <select id="state">
            <option value="TX">TX</option>
        </select>*@

        @Html.TextBoxFor(m => m.PostalCode, new { id = "zip" })
        @Html.ValidationMessageFor(m => m.PostalCode)

        @Html.TextBoxFor(m => m.Email, new { id = "email" })
        @Html.ValidationMessageFor(m => m.Email)

        @Html.TextBoxFor(m => m.PhoneNumber, new { id = "phone" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)


 
       <div id="amounts">
            <div id="firstLine">
               
               

                <input id="15000" type="radio" name="amount" value="15000" />
                <label for="15000">$15,000</label>&nbsp; to name a resident fellowship
                
                <br />
                <input id="other" type="radio" name="amount" value="" />
                <label for="other">Other &nbsp;</label>
                <label>$</label>@Html.TextBoxFor(m => m.CustomAmount, new { id = "amount" })



            </div>
          
            <div id="secondLine">
                             

            </div>
        </div>
   

        <div id="card">
<br />
            <div id="csv">
                <label>CSV:</label>
                @Html.TextBoxFor(m => m.CardSecurityCode, new { style = "width:40px;" })
                @Html.ValidationMessageFor(m => m.CardSecurityCode)

            </div>

            @Html.TextBoxFor(m => m.CreditCardNumber, new { id = "creditcard" })
            @Html.ValidationMessageFor(m => m.CreditCardNumber)

            @Html.DropDownListFor(x => x.SelectedMonth, new SelectList(Model.Months, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.SelectedMonth)


            @Html.DropDownListFor(x => x.SelectedYear, new SelectList(Model.Years, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.SelectedYear)
            @Html.ValidationMessageFor(m => m.SelectedYear)

        </div>

               
    </div>
    <div id="CardButton">
        <input type="submit" value="Donate Now" id="donate" />
        </div>
    
}<div id="paypal">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5S6EXV5PL6R8J">
<input style="border:none;" type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but04.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> Contribute using PayPal
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
    </div>
<div id="Contributor">
   <b>Contributor</b>
</div>
<div id="FirstNameLabel">
   <b>First Name</b>
</div>
<div id="LastNameLabel">
   <b>Last Name</b>
</div>
<div id="AddressLabel">
   <b>Address</b>
</div>
<div id="CityLabel">
   <b>City</b>
</div>
<div id="CountryLabel">
   <b>Country</b>
</div>
<div id="StateLabel">
   <b>State</b>
</div>
<div id="ZipLabel">
   <b>Zip</b>
</div>
<div id="EmailLabel">
   <b>Email</b>
</div>
<div id="PhoneLabel">
   <b>Phone</b>
</div>
<div id="AmountLabel">
   <b>Amount</b>
</div>
<div id="PaymentLabel">
   <b>Payment Methods</b>
</div>
<!-- <div id="CreditCardLabel">
   <b>Contribute using credit card</b>
</div>
    -->
<div id="CardTypes">
   <img src="https://mises.freecapitalists.org/images/cardtypes.png" />
</div>
<div id="PrintandMail">
   <a href="../images/GivingFellowships.pdf"><b>Print and Mail</b></a>
</div>