﻿@model Mises.Web.ViewModels.Forms.RegistrationFormViewModel
@{
    Layout = "../Shared/_BlankLayout.cshtml";
    Page.Title = "Mises Institute Membership";
}

@section head{

    <meta property="og:title" content="Mises Institute Membership" />
    <meta property="og:url" content="https://mises.freecapitalists.org/forms/hatetaxes" />
    <meta property="og:image" content="https://mises.freecapitalists.org/images/TaxDayDonateForm.jpg" />

}

<style type="text/css">
    /*#region Global */

    input {
        font-family: 'Arial', Gadget, sans-serif;
        font-size: 18px;
        color: rgb(123, 117, 118);
        border: 2px rgb(192, 192, 192) solid;
        border-radius: 2px;
    }

        input[type="radio"] {
            border: none;
        }

    select {
        font-family: 'Arial', Gadget, sans-serif;
        font-size: 18px;
        color: rgb(123, 117, 118);
        border: 2px rgb(192, 192, 192) solid;
        border-radius: 2px;
    }

    label {
        font-family: 'Arial', Gadget, sans-serif;
        font-size: 18px;
        color: rgb(123, 117, 118);
    }

    button, #donate {
        font-family: 'Arial', Gadget, sans-serif;
        font-size: 18px;
        color: rgb(123, 117, 118);
        margin-top: 0;
        padding-top: 8px;
    }

    body {
        font-family: 'Arial', Gadget, sans-serif;
        font-size: 18px;
        color: rgb(123, 117, 118);
        background-image: url(https://mises.freecapitalists.org/images/TaxDayDonateForm.jpg);
        background-repeat: no-repeat;
    }

    .input-validation-error {
        background-color: rgb(242, 183, 183);
    }

    /*#endregion */

     #userInfo {
        position: relative;
        top: 312px;
        left: 448px;
        width: 393px;
        height: 600px;
    }

    #basics {
        position: relative;
    }


    #firstName {
        position: relative;
        top: 100px;
        left: 30px;
        width: 178px;
    }

    #lastName {
        position: relative;
        top: 100px;
        left: 30px;
        width: 178px;
    }

    #address {
        position: relative;
        top: 122px;
        left: 30px;
        width: 200px;
    }

    #city {
        position: relative;
        top: 122px;
        left: 30px;
        width: 150px;
    }

    #country {
        position: relative;
        top: 152px;
        left: 30px;
        width: 120px;
    }

    #state {
        position: relative;
        top: 152px;
        left: 62px;
        width: 80px;
    }

    #zip {
        position: relative;
        top: 152px;
        left: 72px;
        width: 100px;
    }

    #email {
        position: relative;
        top: 182px;
        left: 30px;
        width: 200px;
    }

    #phone {
        position: relative;
        top: 182px;
        left: 30px;
        width: 150px;
    }

    #amounts {
        position: relative;
        top: 230px;
        left: 30px;
        width: 400px;
        height: 200px;
        /*border: 2px green solid;*/
    }

    #amount {
        position: relative;
        top: 0px;
        left: 10px;
        width: 50px;
    }

    #card {
        position: relative;
        top: 180px;
        left: 30px;
        width: 400px;
        /*border: 2px green solid;*/
    }


    #csv {
        position: relative;
        top: -10px;
        left: 180px;
        height: 20px;
    }

    #donate {
        position: relative;
        top: 180px;
        left: 30px;
    }

    #validation {
        position: relative;
        top: 360px;
        left: 30px;
    }
</style>

@using (Ajax.BeginForm("Submit", new AjaxOptions() { OnBegin = "ShowSpinner", OnSuccess = "Success", OnFailure = "Failure" }))
{ 
    <div id="userInfo">

        @Html.TextBoxFor(m => m.FirstName, new { id = "firstName" })
        @Html.ValidationMessageFor(m => m.FirstName)
        @*<input id="firstName" type="text" value="" />*@

        @Html.TextBoxFor(m => m.LastName, new { id = "lastName" })
        @Html.ValidationMessageFor(m => m.LastName)
        @*<input id="lastName" type="text" value="" />*@

        @Html.TextBoxFor(m => m.Address, new { id = "address" })
        @Html.ValidationMessageFor(m => m.Address)

        @Html.TextBoxFor(m => m.City, new { id = "city" })
        @Html.ValidationMessageFor(m => m.City)

        @Html.TextBoxFor(m => m.Country, new { id = "country" })
        @Html.ValidationMessageFor(m => m.Country)

        @Html.TextBoxFor(m => m.State, new { id = "state" })
        @Html.ValidationMessageFor(m => m.State)
        @* <select id="state">
            <option value="TX">TX</option>
        </select>*@

        @Html.TextBoxFor(m => m.PostalCode, new { id = "zip" })
        @Html.ValidationMessageFor(m => m.PostalCode)

        @Html.TextBoxFor(m => m.Email, new { id = "email" })
        @Html.ValidationMessageFor(m => m.Email)

        @Html.TextBoxFor(m => m.PhoneNumber, new { id = "phone" })
        @Html.ValidationMessageFor(m => m.PhoneNumber)

       <div id="amounts">
            <div id="firstLine">
                <input id="15" type="radio" name="amount" value="15" />
                <label for="15">$15</label>

                <input id="50" type="radio" name="amount" value="50" />
                <label for="50">$50</label>

                <input id="250" type="radio" name="amount" value="250" />
                <label for="250">$250</label>

                <input id="2000" type="radio" name="amount" value="2000" />
                <label for="2000">$2000</label>


            </div>
            <div id="secondLine">

                <input id="20" type="radio" name="amount" value="20" />
                <label for="20">$20</label>

                <input id="100" type="radio" name="amount" value="100" />
                <label for="100">$100</label>

                <input id="1000" type="radio" name="amount" value="1000" />
                <label for="1000">$1000</label>

                <input id="other" type="radio" name="amount" value="" />
                <label for="other">Other:</label>
                @Html.TextBoxFor(m => m.CustomAmount, new { id = "amount" })
                <label>&nbsp;&nbsp; (USD)</label>

            </div>
        </div>
        

        <div id="card">
<br>
            <div id="csv">
                <label>CSV:</label>
                @Html.TextBoxFor(m => m.CardSecurityCode, new { style = "width:40px;" })
                @Html.ValidationMessageFor(m => m.CardSecurityCode)

            </div>

            @Html.TextBoxFor(m => m.CreditCardNumber, new { id = "creditcard" })
            @Html.ValidationMessageFor(m => m.CreditCardNumber)

            @Html.DropDownListFor(x => x.SelectedMonth, new SelectList(Model.Months, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.SelectedMonth)


            @Html.DropDownListFor(x => x.SelectedYear, new SelectList(Model.Years, "Value", "Text"))
            @Html.ValidationMessageFor(m => m.SelectedYear)
            @Html.ValidationMessageFor(m => m.SelectedYear)

        </div>

        <input type="submit" value="Contribute" id="donate" />
        
    </div>
}


