﻿@model Mises.Data.Documents

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Documents</legend>

    <div class="display-label">GUID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GUID)
    </div>

    <div class="display-label">Display</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Display)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">DocumentAuthor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentAuthor.AuthorFirst)
    </div>

    <div class="display-label">DocumentAuthor1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DocumentAuthor1.AuthorFirst)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">PrivateComment</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrivateComment)
    </div>

    <div class="display-label">Keywords</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Keywords)
    </div>

    <div class="display-label">CoverImageURL</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CoverImageURL)
    </div>

    <div class="display-label">Source</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Source)
    </div>

    <div class="display-label">CategoryId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryId)
    </div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">EditDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EditDate)
    </div>

    <div class="display-label">ProductId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductId)
    </div>

    <div class="display-label">ISBN</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISBN)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DocumentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
