﻿@model Mises.Data.Documents
@{
    ViewBag.Title = "Edit";
    //Layout = "../Shared/_AdminLayout.cshtml";
}

<h2>Edit "@Html.DisplayFor(model => model.Title)"</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Mises Document Editor</legend>
        @Html.HiddenFor(model => model.DocumentId)
        
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title, new { style = "width: 600px;", length = 150, AutoComplete = "off" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GUID)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.GUID)
            @Html.ValidationMessageFor(model => model.GUID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Display)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Display)
            @Html.ValidationMessageFor(model => model.Display)
        </div>
        
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Author1, "DocumentAuthor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Author1", String.Empty)
            @Html.ValidationMessageFor(model => model.Author1)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Author2, "DocumentAuthor1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Author2", String.Empty)
            @Html.ValidationMessageFor(model => model.Author2)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { style = "width:100%; height:100px;", AutoComplete = "off" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PrivateComment)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PrivateComment, new { style = "width:100%; height:100px;", AutoComplete = "off" })
            @Html.ValidationMessageFor(model => model.PrivateComment)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Keywords)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Keywords, new { style = "width:100%; height:50px;", AutoComplete = "off" })
            @Html.ValidationMessageFor(model => model.Keywords)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CoverImageURL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CoverImageURL, new { style = "width:600px;", length = 150, AutoComplete = "off" })
            @Html.ValidationMessageFor(model => model.CoverImageURL)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Source)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Source, new { style = "width:600px;", length = 150, AutoComplete = "off" })
            @Html.ValidationMessageFor(model => model.Source)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryId)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EditDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EditDate)
            @Html.ValidationMessageFor(model => model.EditDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductId)
            @Html.ValidationMessageFor(model => model.ProductId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ISBN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ISBN)
            @Html.ValidationMessageFor(model => model.ISBN)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
