﻿@model IEnumerable<Mises.Data.Documents>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            GUID
        </th>
        <th>
            Display
        </th>
        <th>
            Title
        </th>
        <th>
            DocumentAuthor
        </th>
        <th>
            DocumentAuthor1
        </th>
        @*<th>
            Description
        </th>
        <th>
            PrivateComment
        </th>*@
        <th>
            Keywords
        </th>
        <th>
            CoverImageURL
        </th>
        <th>
            Source
        </th>
        <th>
            CategoryId
        </th>
        <th>
            CreateDate
        </th>
        <th>
            EditDate
        </th>
        <th>
            ProductId
        </th>
        <th>
            ISBN
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Display)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentAuthor.AuthorFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentAuthor1.AuthorFirst)
        </td>
      @*  <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrivateComment)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Keywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoverImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DocumentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DocumentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DocumentId })
        </td>
    </tr>
}

</table>
