﻿div.updateie6 h3{font-size:14px;margin:0px;font-weight:bold;color:#000;background:none;}
div.updateie6{font-family:Arial;font-size:12px;background-color:#FAE99A;border-color:#BF6506;color:#000;padding:6px;border:1px solid;}
div.updateie6 a{color:#000;font-size:12px;text-decoration:underline;}
div.updateie6 a:hover{color:#333;font-size:12px;}
div.updateie6 li{color:#000;}
div.updateie6 ul{margin-top:2px;}
div.updateie6 span#hideme{position:absolute;top:14px;right:10px;}
div.updateie6 div#whyupcontent{padding-top:10px;}
