﻿@using Mises.Data
@model CalendarGetEventDetailResult
@{
    Page.Title = DataFormat.StripHTML(Model.Title);
}
<div class="vevent">
    <h2 class="summary">
        @Model.Title
    </h2>
    <p>
        <div class="dtstart">@DataFormat.GetDateString(Model.StartDate, Model.EndDate)
        </div>
        <!-- end date -->
        <br />
        <div class="location">@Model.Location
        </div>
        <!-- end location -->
    </p>
    <div class="description">
        @Html.Raw(@Model.Description)
        <!-- end description -->
    </div>
    <p>
        <a href="/events/iCal/@Model.EventId">
            Add to your calendar:
            <img src="//mises.freecapitalists.org/images/Theme/images/ico/icalendar.png" alt="iCalendar download" />
        </a>
    </p>
    <abbr style="display: none" id="dtstart" class="dtstart" title="@Model.StartDate.ToUniversalTime().ToString("u")">@Model.StartDate.ToLongDateString()</abbr>
    <abbr style="display: none"  id="dtstamp" class="dtstamp" title="@Model.CreateDate.ToLongDateString()">@Model.CreateDate.ToLongDateString()</abbr>
    <abbr style="display: none"  id="dtend" class="dtend" title="@Model.EndDate.ToUniversalTime().ToString("u")">@Model.EndDate.ToLongDateString()</abbr>
</div>

@Html.Partial("Navigation/Bookmarks",Model.IntroText)

@section head {
    
    <meta name="description" content="@DataFormat.StripHTML(Model.IntroText)" />
}