﻿@using System.Web.UI.WebControls
@using Mises.Data
@model Mises.Web.ViewModels.EventsViewModel
@{
    Page.Title = "Upcoming Events/Conferences of the Mises Institute";
}

@section head {
    <link type="application/rss+xml" rel="alternate" title="Mises Institute : Upcoming Events" href="/events.xml"/>
}

@section Sidebar
{
    @Html.PageContent("EventsSidebar")

}


<div class="box upcomingeventswrapper">
    <h2>
        Upcoming Events</h2>
    <a class="rss" href="/events.xml">rss</a>
    <div class="cont">
        <ul class="eventsbig">
            @foreach (var item in @Model.UpcomingEvents)
            {
                <li>
                    <h3>
                        <a href="/events/@item.EventId/@item.Title.ToSlug()">
                            @Html.Raw(@item.Title)</a></h3>
                    <p class="meta">
                        @DataFormat.GetDateString(item.StartDate, item.EndDate)
                        |
                        @item.Location</p>
                    <a href="/events/@item.EventId/@item.Title.ToSlug()">
                        <img src="@item.EventImage" alt="Event Image" /></a>
                    <div class="text">
                        <p>
                            @Html.Raw(@item.IntroText)
                        </p>
                    </div>
                    <a href="/events/ical/@item.EventId" title="Add to your Calendar">
                        <img height="32" src="//mises.freecapitalists.org/images/Theme/images/ico/icalendar.png" alt="iCalendar download" /></a>
                </li>
            }
        </ul>
        <!-- / .cont -->
    </div>
    <!-- / .box -->
</div>
<div class="box pasteventwrapper">
    <h2>
        Past Events</h2>
    <div class="cont">
        <ul class="eventsbig passedevents">
            @foreach (var item in @Model.PastEvents)
            {
                <li>
                    <h3>
                        <a href="/events/@item.EventId/@item.Title.ToSlug()">
                            @Html.Raw(@item.Title)</a></h3>
                    <p class="meta">
                        @DataFormat.GetDateString(item.StartDate, item.EndDate)
                        |
                        @item.Location</p>
                    <p>
                        @Html.Raw(@item.IntroText)</p>
                </li>
            }
        </ul>
        <!-- /cont -->
    </div>
    <!-- / .box -->
</div>
<p>
    Add the Mises iCal Feed to your calendar app: <a href="/events/iCal" title="Add iCal Feed to your Calendar">
        <img src="//mises.freecapitalists.org/images/Theme/images/ico/icalendar.png" alt="iCalendar download" /></a>
</p>
