﻿@using Mises.Web.ViewModels.Media
@model BrowseViewModel
@{ Layout = null; }
<div class="no-js @Model.Theme">
    <div class="jcarousel-container jcarousel-container-media">
        @{ Html.RenderPartial("Pagination", Model); }
        <div class="jcarousel-clip">
            <ul class="article-list jcarousel-list-@Model.ListOrientation" data-list-count="@Model.TotalItems" data-page-size="@Model.PageSize" data-scroll-amount="@Model.ScrollAmount" data-ajax-src="documents">
                @{ Html.RenderPartial("DocumentSummaryList", Model); }
            </ul>
        </div>
        @{ Html.RenderPartial("Pagination", Model); }
    </div>
</div>