﻿@model Mises.Web.ViewModels.Media.BrowseViewModel

@{
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="browse-media">
	<div class="intro @Model.Preference.ToString().ToLower()">
		<span class="icon"></span>
		<h1>@Model.Title</h1>
		<p class="summary"></p>
	</div>

	<div id="media-controller">
		@if (Model.Featured != null)
		{
			Html.RenderPartial("MediaWidget", new Mises.Web.ViewModels.Media.DetailViewModel(Model.Preference, Model.Featured));
		}

		@{ Html.RenderPartial("BrowsePartial", Model); }
	</div>
</div>
