﻿@using Mises.Domain.Contracts
@using Mises.Web.ViewModels
@model BrowseViewModel<CategorySummaryDTO>
@{ Layout = null; }
<div class="sub-categories">
    <h3>@Model.Title
        @if (!String.IsNullOrWhiteSpace(Model.TitleAppend))
        {
            <strong>@Model.TitleAppend</strong>
        }
        <span> @(Model.TotalItems > 0 ? "(" + Model.TotalItems.ToString() +")" : string.Empty)</span>
    </h3>
    <ul>
        @if (Model.Items.Any())
        {
            var i = 0;
            while (i < Model.Items.Count)
            {
                <li>
                    @{
                        var j = 0;
                        while (j < Model.GroupSize && i < Model.Items.Count)
                        {
                            Html.RenderPartial(Model.ItemViewName, Model.Items[i]);
                            j++;
                            i++;
                        }
                    }
                </li>
            }
        }
    </ul>
</div>