﻿@using Mises.Domain.Contracts
@using Mises.Web.ViewModels
@model BrowseViewModel<CategorySummaryDTO>
@{ Layout = null; }
<div class="breadcrumb categories">
    @*Html.RouteLink("Top", "categories-index", null, new { @class="crumb alpha", title="Top level categories" })*@
    @if (Model.Items.Count > 1)
    {
        foreach (var item in Model.Items)
        {
            var categoryurl = @Url.RouteUrl("category-detail", new {id = item.Id, slug = item.Name.ToSlug()});
            var categorytitle = MvcHtmlString.Create(item.Name);
            if (Model.Items.Last() == item)
            {
                <span class="crumb omega" title="@categorytitle">
                    @categorytitle
                </span>
            }
            else
            {
                <a class="crumb" href="@categoryurl" title="@categorytitle">
                    @categorytitle
                </a>
            }
        }
    }
</div>