﻿@using Mises.Data
@using Mises.Domain.Contracts
@using Mises.Web.ViewModels
@using Mises.Web.ViewModels.Media
@model DetailViewModel
@{
    Page.Title = Model.Title + " - Mises Media";
    ViewBag.Id = @Model.Id;

    Context.Items["GUID"] = Model.Identifier;
}
<div id="media-detail">
    <time datetime="@Model.CreatedDate" pubdate="pubdate">
    </time>
    <div class="intro media">
        <h1>@Model.Title</h1>
        @{
            var routeurl = String.Concat(Request.Url.Scheme, @"://", Request.Url.Host, Url.RouteUrl("media-detail", new { id = Request.RequestContext.RouteData.Values["id"], slug = Model.Title.ToSlug() }));
            Html.RenderPartial("SocialToolbar", new SocialToolbarViewModel(routeurl));
        }
        <p>@MvcHtmlString.Create(Model.PublishInfoHtml)</p>
        <p>@MvcHtmlString.Create(Model.DescriptionHtml)</p>
        <p class="summary">
            @if (Model.Category != null)
            {
                <text>From: </text>
                <strong>@Html.RouteLink(MvcHtmlString.Create(Model.Category.Name).ToHtmlString(), "category-detail", new { id = Model.Category.Id, slug = Model.Category.Name.ToSlug() })</strong>
                <span>, </span>
            }
            @Model.CreatedDate.ToString("D") by
            @{ Html.RenderPartial("AuthorLinksPartial", Model.Authors); }
        </p>
    </div>
    <div class="detail media">
        @{
            var video = Model.Media.OfType<VideoDTO>().GetBestFormat();
            var audio = Model.Media.OfType<AudioDTO>().GetBestFormat();
            var read = Model.Media.OfType<LiteratureDTO>().FirstOrDefault();

            var multipleformats = ((video != null) && ((audio != null) || (read != null))
                                   || (audio != null) && ((read != null)));

            if (video == null && audio == null)
            {
                Response.RedirectPermanent("/document/" + @Model.Id + "/" + @Model.Title.ToSlug());
            }

            <div id="media-format@(multipleformats ? "s" : String.Empty)" class="no-js">
                @if (multipleformats)
                {
                    <ul>
                        @if (video != null)
                        {
                            <li><a href="#video-format">Video</a></li>
                        }
                        @if (audio != null)
                        {
                            <li><a href="#audio-format">Audio</a></li>
                        }
@*if (read != null)
					{
					<li><a href="#literature-format">Literature</a></li>
					}*@
                    </ul>
                }
                @if (video != null)
                {
                    <div id="video-format">
                        @{
                    if (video.MimeType == VideoTypes.Stream)
                    {
                            <p>
                                This stream is available from <a href="@video.Url" title="@video.Url">@video.Url</a>.</p>
                    }
                    else
                    {
                        Html.RenderPartial("Media/VideoPlayer", new VideoPlayerViewModel(Request.Browser, video));
                    }

                    var downloadable = Model.Media.OfType<VideoDTO>().Where(v => v.IsDownloadable());
                    var youtubeclip = Model.Media.OfType<VideoDTO>().FirstOrDefault(v => (v != video) && (v.MimeType == VideoTypes.Youtube)); //NOTE: Ignores multiple youtube clips.

                    if ((downloadable.Any()) || (youtubeclip != null))
                    {
                            <p>
                                @if (downloadable.Any())
                                {
                                    <span>Available for download as </span>
                                    foreach (var d in downloadable)
                                    {
                                    <a href="@d.Url" title="@d.Url">@d.GetShortDescription()</a>
                                    <span>@(d != downloadable.Last() ? ", " : (youtubeclip == null ? "." : " or watch this video on "))</span>
                                    }
                                }
                                @if (youtubeclip != null)
                                {
                                    if (!downloadable.Any())
                                    {
                                    <span>Alternatively, watch this on </span>
                                    }
                                    var url = String.Concat("http://youtube.com/watch?v=", youtubeclip.Url);
                                    <a href="@url" title="@url" target="_blank">YouTube</a>
                                    <span>.</span>
                                }
                            </p>
                    }
                        }
                        <div class="embed-container">
                            <label for="videoEmbedLink">
                                Embed this video:</label>
                            <textarea rows="2" cols="80" name="videoEmbedLink" id="videoEmbedLink" onclick=" javascript:this.focus(); this.select(); "
                                readonly="readonly">@String.Format("<iframe src=\"http://mises.freecapitalists.org//Services/MediaEmbed.aspx?MediaId={0}\" scrolling=\"no\" frameborder=\"0\"  style=\"width:640px; height:480px\"></iframe>", video.Id)</textarea>
                        </div>
                    </div>
                }
                @if (audio != null)
                {
                    <div id="audio-format">
                        @{
                    Html.RenderPartial("Media/AudioPlayer", new AudioPlayerViewModel(Request.Browser, audio));
                    var downloadable = Model.Media.OfType<AudioDTO>().Where(a => a.IsDownloadable());

                    if (downloadable.Any())
                    {
                            <p>
                                <span>Available for download as </span>
                                @foreach (var d in downloadable)
                                {
                                    <a href="@d.Url" title="@d.Url" target="_new" onclick="_gaq.push(['_trackEvent', 'Media', 'Download', '@d.Url']);">@d.GetShortDescription()</a>
                                    <span>@(d != downloadable.Last() ? ", " : ".")</span>
                                }
                            </p>
                    }
                        }
                        <div class="embed-container">
                            <label for="audioEmbedLink">
                                Embed this audio:</label>
                            <textarea rows="2" cols="80" name="audioEmbedLink" id="audioEmbedLink" onclick=" javascript:this.focus(); this.select(); "
                                readonly="readonly">@String.Format("<iframe src=\"http://mises.freecapitalists.org//Services/MediaEmbed.aspx?MediaId={0}\" scrolling=\"no\" frameborder=\"0\"  style=\"width:640px; height:35px\"></iframe>", audio.Id)</textarea>
                        </div>
                    </div>
                }
@*@if (read != null)
				{
				<div id="literature-format">
				@{
					Html.RenderPartial("LiteratureViewer", new Mises.Web.ViewModels.Media.LiteratureViewerViewModel(Request.Browser, read));
					var downloadable = Model.Media.OfType<LiteratureDTO>().Where(a => a.IsDownloadable());
					if (downloadable.Any())
					{
					<p>
						<span>Available for download as </span>
						@foreach (var d in downloadable)
						{
						<a href="@d.Url" title="@d.Url">@d.GetShortDescription()</a><span>@(d != downloadable.Last() ? ", " : ".")</span>
						}
					</p>
					}
				}
				</div>
				}*@
            </div> }
    </div>
    @if (Model.AuthorDocuments.TotalItems > 1)
    {
        <!--googleoff: all-->
        <div class="more vcard ui-widget ui-widget-content ui-corner-all">
            <h4>
                More from @(Model.Authors.Count > 1 ? "these authors" : "this author")...</h4>
            <div class="hcard">
                @{ Html.RenderPartial("../Media/BrowsePartial", new BrowseViewModel(Model.AuthorDocuments) { Theme = "jcarousel-skin-tango" }); }
            </div>
        </div>
        <!--googleon: all-->
    }

@*TODO more from category, subject, other? and roll into accordion/tab?*@
    <div class="meta">
        <div class="comments">
            <script type="text/javascript">
                var idcomments_acct = 'f3b523a2c7233ba02ce890689c979799';
                var idcomments_post_id = '@Model.Id';
                var idcomments_post_url;
            </script>
            <span id="IDCommentsPostTitle" style="display: none"></span>
            <script type='text/javascript' src='//www.intensedebate.com/js/genericCommentWrapperV2.js'> </script>
        </div>
        @Html.Partial("TagCloudWrapper")
    </div>
</div>
@section Sidebar {
    @Html.Action("Media", "Sidebar")
}
@section head{
    <link type="application/rss+xml" rel="alternate" title="Mises Institute : New Media"
        href="/media.xml" />
    <meta name="description" value="@DataFormat.StripHTML(Model.DescriptionHtml)" />
}
