﻿@model Mises.Web.ViewModels.Media.DetailViewModel

<div class="document vcard ui-widget ui-widget-content ui-corner-all">
	@*TODO with a little thought/rework should be able to merge with DocumentSummary *@
	@{
		var routeValues = new { id = Model.Id, slug = Model.Title.ToSlug() };
		var routeurl =  @Url.RouteUrl("media-detail", routeValues); 
		var media = Model.Media/*.OfType<Mises.Domain.Contracts.VideoDTO>()*/.FirstOrDefault();
		var thumbnailurl = media != null ? media.PosterUrl : "//images.mises.org/misesmedia.gif";
		var videocount = Model.Media.OfType<Mises.Domain.Contracts.VideoDTO>().Count();
		var audiocount = Model.Media.OfType<Mises.Domain.Contracts.AudioDTO>().Count();
		var literaturecount = Model.Media.OfType<Mises.Domain.Contracts.LiteratureDTO>().Count();
		var desc = String.Empty;
	}
	<a class="thumbnail" title="@Model.Title" href="@routeurl" rel="@(videocount + audiocount > 0 ? "media" : String.Empty)">
		<img alt="@Model.Title" src="@thumbnailurl" />
	</a>
	<ul class="format-icons">
	@{

		if (videocount > 0) {
			desc = String.Format("{0} video", videocount);
			<li>@Html.RouteLink(desc, "media-detail", routeValues, new { @class = "video", title = desc, rel = "video" })</li>
		}

		if (audiocount > 0)
		{
			desc = String.Format("{0} audio", audiocount);
			<li>@Html.RouteLink(desc, "media-detail", routeValues, new { @class = "audio", title = desc, rel = "audio" })</li>
		}

		if (literaturecount > 0)
		{
			desc = String.Format("{0} literature", literaturecount);
			<li>@Html.RouteLink(desc, "media-detail", routeValues, new { @class = "literature", title = desc })</li>
		}
	}
	</ul>
	<h3 class="title">@Html.RouteLink(@Model.Title, "media-detail", routeValues)</h3>
	<p class="desc">@MvcHtmlString.Create(Model.DescriptionHtml)</p>
	<p class="authors">
		@{ Html.RenderPartial("AuthorLinksPartial", Model.Authors); }
	</p>
</div>
