﻿@using Mises.Data
@model List<Document>
@{
    ViewBag.Title = "Mises.TV - Ludwig von Mises Institute";
    Page.Title = ViewBag.Title;
    ViewBag.ShowSidebar = false;
}

<style type="text/css">
    #content .article a.poster
    {
        background-color: white;
        color: Black;
        display: block;
        height: 90px;
        margin-bottom: 4px;
        overflow: hidden;
        text-align: center;
        width: 160px;
    }
    
    .article img
    {
        background-color: #12161B;
        height: 138px;
        width: 184px;
        border-width: 0px;
        float: left;
        margin: 2px 0px 0px 2px;
    }
    
    .article-list td
    {
        border: 2px solid gray;
    }
</style>


<h1>Mises.TV</h1>
@*<h3>The best Austrian Economics videos on the web.</h3>*@
<p class="summary">@Html.PageContent("MediaHeader"))</p>

 @{ int i = 0; }


<div id="pager" class="Pager">
    @Html.Pager((int)@ViewBag.PageSize, (int)ViewBag.CurrentPage, (int)@ViewBag.Total)
</div>

<table id="DailyArticleGallery" cellpadding="0" cellspacing="0" class="article-list">
    <tbody>
        <tr>        
            @foreach (Document article in @Model)
            {
                string NavigateUrl = string.Format("/media/{0}/{1}", article.DocumentFiles.FirstOrDefault().FileId, @article.Title.ToSlug());
                if (i == 5)
                {
                    i = 0;
                    <text>@Html.Raw("</tr><tr>")</text>
                }
                i++;

                <td>
                    <div class="article">
                        <a href="@NavigateUrl?ajaxsrc=video" rel="media" class="poster video">
                            <img src="/media/poster/@(article.DocumentId)" alt="@article.Title" />
                            <span class="play-button"></span>
                        </a>
                        <a class="title" href="@NavigateUrl" title="@article.Title">@article.Title </a>
                        <br />
                        <span class="date">
                            @article.CreateDate.ToString("MMM dd yyyy")</span>
                        by <span class="ArticleAuthor">
                        <a class="author" href="/daily/author/@article.DocumentAuthor/@DataFormat.GenerateSlug(@article.DocumentAuthor.AuthorLast)" title="@article.DocumentAuthor.AuthorLast">
                                                           @article.DocumentAuthor.AuthorFirst
                                                           @article.DocumentAuthor.AuthorMiddle
                                                           @article.DocumentAuthor.AuthorLast
                                                           </a></span>
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>

@section head {

<link type="application/rss+xml" rel="alternate" title="Mises Institute : New Media" href="/media.xml"/>

}