﻿@{
    Page.Title = (Model.FilterText ?? ViewBag.Title ?? "Audio/Video library: free lectures, audio books and courses from the Ludwig von Mises Institute");
    ViewBag.ShowSidebarWidgets = false;
}
@using Mises.Domain.Contracts
@using Mises.Web.ViewModels
@using Mises.Web.ViewModels.Media
@using System.Web.Mvc.Html
@using System.Web.Mvc
@model IndexViewModel
<div id="media-index">
    <div id="tabs-media">
        <ul>
            <li><a href="#Filter">Browse Media</a></li>
            <li><a href="#Categories">Main Categories</a></li>
            <li><a href="http://mises.tv/" onclick="javascript:window.location='/Media/Gallery';">
                Mises TV</a></li>
        </ul>
        <div id="Filter">
            <div class="intro">
                <h1>@Model.Title</h1>
                @*<p class="summary">All our conferences, books, and more are online. In addition, you can use <a href="http://itunesu.mises.org/">iTunes U</a>. You can find Mises media at the Institute <a href="http://www.youtube.com/user/misesmedia">Youtube channel</a>.  LewRockwell.com offers an <a href="http://www.lewrockwell.com/lewrockwell-show/">outstanding archive of podcast interviews</a>. Live webcasts are available on the <a href="http://www.ustream.tv/user/mises" target="_blank">Mises.org UStream Channel</a>. Here is the <a href="http://picasaweb.google.com/MisesInstitute">image gallery</a>.</p>*@
                <p class="summary">@Html.PageContent("MediaHeader")</p>
            </div>
            @*TODO apply option-selected to these based on filter etc *@
            <div class="options full-width">
                <label for="mediasearchstring">
                    Search</label>
                <input id="mediasearchstring" type="text" maxlength="255" value="" title="Enter your search term here" />
                <button id="mediasearch" class="ui-button ui-widget ui-state-default ui-corner-right ui-button-icon-only"
                    value="search" title="Search mises.org">
                    Go</button></div>
            <div class="filters">
                <h3>
                    <a href="#">Filters</a></h3>
                <div>
                    <div class="options">
                        <label for="authors" onclick="javascript:window.location='/media.aspx?action=author';">
                            Authors</label>
                        @Html.DropDownListFor(m => Model.Authors, Model.Authors.Select(a => new SelectListItem { Text = a.FullName, Value = String.Format("/media/authors/{0}/{1}", a.Id, a.FullName.ToSlug()) }), "Authors...", new { @class = "autocomplete" })
                    </div>
                    <div class="options">
                        <label for="video" onclick="javascript:window.location='/media/video';">
                            Video</label>
                        @Html.RouteLink("I want to watch something", "media-index2", new { filter = "video", page = 1 }, new { id = "video", @class = "icon video", title = "I want to watch something" })</div>
                    <div class="options">@Html.LabelFor(m => Model.Categories) @Html.DropDownListFor(m => Model.Categories, Model.Categories.Select(a => new SelectListItem { Text = a.Name, Value = String.Format("/media/categories/{0}/{1}", a.Id, a.Name.ToSlug()) }), "Categories...", new { @class = "autocomplete" })</div>
                    <div class="options">
                        <label for="audio" onclick="javascript:window.location='/media/audio';">
                            Audio</label>
                        @Html.RouteLink("I want to listen to something", "media-index2", new { filter = "audio", page = 1 }, new { id = "audio", @class = "icon audio", title = "I want to listen to something" })</div>
                    <div class="options">@Html.LabelFor(m => Model.Subjects) @Html.DropDownListFor(m => Model.Subjects, Model.Subjects.Select(a => new SelectListItem { Text = a.Name, Value = String.Format("/media/subjects/{0}/{1}", a.Id, a.Name.ToSlug()) }), "Subjects...", new { @class = "autocomplete" })</div>
                    @*<div class="options">@Html.LabelFor(m => Model.Authors) @Html.DropDownListFor(
                m => Model.AuthorId
                , Model.Authors.Select(a => new SelectListItem { Text = a.FullName, Value = a.Id.ToString() })
                , "Authors...", new { @class = "autocomplete", @id = "AuthorId" })</div>
            <div class="options">
                <label for="video">
                    Video</label>
                @Html.RouteLink("I want to watch something", "media-index2", new { filter = "video", page = 1 }, new { id = "video", @class = "icon video", title = "I want to watch something" })</div>
            <div class="options">@Html.LabelFor(m => Model.Categories) @Html.DropDownListFor(
                m => Model.CategoryId
                , Model.Categories.Select(a => new SelectListItem { Text = a.Name, Value = a.Id.ToString() })
                , "Categories..."
                , new { @class = "autocomplete", @id = "CategoryId" })
            </div>
            <div class="options">
                <label for="audio">
                    Audio</label>
                @Html.RouteLink("I want to listen to something", "media-index2", new { filter = "audio", page = 1 }, new { id = "audio", @class = "icon audio", title = "I want to listen to something" })</div>
            <div class="options">@Html.LabelFor(m => Model.Subjects) @Html.DropDownListFor(
                m => Model.SubjectId
                , Model.Subjects.Select(a => new SelectListItem { Text = a.Name, Value = a.Id.ToString() })
                , "Subjects...", new { @class = "autocomplete", @id = "SubjectId" })
            </div>*@
                </div>
            </div>
        </div>
        <div id="Categories">
            @Html.Partial("CategoryList", (BrowseViewModel<CategorySummaryDTO>)ViewBag.TopLevelCategories)
        </div>
    </div>
    @*<div class="options">Browse by author @Html.RouteLink("Browse by author", "authors-index", null, new { @class = "icon authors", title = "Browse by author" }) or look up (by surname) <input id="author-lookup" class="autocomplete" data-source="/authors/searchjson" data-target-base="/authors" /></div>
	<div class="options">Browse by category @Html.RouteLink("Browse by category", "categories-index", null, new { @class = "icon categories", title = "Browse by category" }) or look up <input id="category-lookup" class="autocomplete" data-source="/media/searchcategoriesjson" data-target-base="/media/categories" /></div>
	<div class="options">Browse by subject @Html.RouteLink("Browse by subject", "subjects-index", null, new { @class = "icon subjects", title = "Browse by subject" }) or look up <input id="subject-lookup" class="autocomplete" data-source="/media/searchsubjectsjson" data-target-base="/media/subjects" /></div>*@
    <div id="cse-media-loading">
        Loading...</div>
    <div id="cse-media-results">
    </div>
    @{
        if (Model.CategoryBreadcrumb != null && Model.CategoryBreadcrumb.TotalItems > 1)
        {
            Html.RenderPartial("CategoryBreadcrumb", Model.CategoryBreadcrumb);
        }

        if (Model.CategoryChildren != null && Model.CategoryChildren.TotalItems > 0)
        {
            Html.RenderPartial("CategoryList", Model.CategoryChildren);
        }
    }
    <div id="media-controller" class="documents">
        @{
            var summary = Model.Documents.GetMediaSummary();
            <h3 class="media">@Model.FilterPrepend
                @if (!String.IsNullOrWhiteSpace(Model.FilterText))
                {
                    <strong>@Model.FilterText</strong>
                }
                @if (!String.IsNullOrWhiteSpace(summary))
                {
                    <span>(@summary)</span>
                }
                @if (!String.IsNullOrWhiteSpace(Model.FeedAppend))
                {
                    <a class="podcast" href="/Feed/Media/?@Model.FeedAppend">Subscribe</a>
                }
            </h3>
            if (Model.Errored)
            {
            <div class="message-info ui-corner-all">
                <span class="icon"></span>
                <p>
                    An error occurred contacting the search engine. Please try again. If the problem
                    persists let us know.</p>
            </div>
            }
            else if (Model.Documents.Items == null)
            {
            }
            else if (Model.Documents.Items.Count == 0)
            {
            <p>
                There are no results for your search term.</p>
            }
            else
            {
                Html.RenderPartial("PagePartial", Model.Documents);
            }
        }
    </div>
</div>
@section Sidebar
{
    @Html.Action("Media", "Sidebar")
}
@section head{
    @if (Model.CategoryBreadcrumb != null && Model.CategoryBreadcrumb.Items.Count > 0)
    {
        <link type="application/rss+xml" rel="alternate" title="Feed for @Model.FilterText" href="/Feed/Media/?CategoryId=@Model.CategoryBreadcrumb.Items[0].Id" />
    }
    <meta name="description" content="All our conferences on such diverse topics as welfare, bureaucracy, war, and monetary reform, as well as our weekly seminars, Mises Circle events, and everything else we can find, are available on tape. And we've produced award-winning films, including one on Mises and another on the misdeeds of the Federal Reserve System. Mises.org offers .mp3 files of Mises speaking and Rothbard teaching, as well as complete audio files of selected conferences." />
    <meta name="keywords" content="Austrian Economics, Austrian Biography, Mises, Rothbard, Research in Austrian Economics, Free Market Theory, Libertarianism, Auburn, classical liberalism, capitalism" />
    @*  @if (Model.Authors != null && Model.Authors.Any() != null)
    {
        <link type="application/rss+xml" rel="alternate" title="Feed for @Model.FilterText" href="/Feed/Media/?AuthorId=@Model.Authors.First().Id" />
    }*@
    <link type="application/rss+xml" rel="alternate" title="Mises Institute : New Media"
        href="http://feeds.mises.org/MisesMedia" />
    
        <script type="text/javascript">
            $(document).ready(function () {
                $('#tabs-media').tabs();
                
                if (window.location.pathname == '/media') {
                    $('#tabs-media').tabs("select", 1);
                }
            })
        </script>          
    
}
