﻿@using Mises.Domain.Contracts
@model MisesDTO
@{ Layout = null; }
@if (Model is UnknownLinkDTO)
{
    var link = Model as UnknownLinkDTO;
    <div class="article">
        <a class="title" title="@MvcHtmlString.Create(link.Title)" href="@link.Link">@MvcHtmlString.Create(link.TitleHtml)</a>
        <p class="date-author">@MvcHtmlString.Create(link.SnippetHtml)</p>
    </div>
}
else
{
    <div class="article">
        @{
            var document = Model as DocumentDTO;
            var media = document.Media.FirstOrDefault(m => !String.IsNullOrWhiteSpace(m.PosterUrl));
            var thumbnailurl = media != null ? media.PosterUrl : "//mises.freecapitalists.org/images/misesmedia.gif";
            var video = document.Media.OfType<VideoDTO>().GetBestFormat(); // .Where(m => m.MimeType != VideoTypes.Stream)
            var audio = document.Media.OfType<AudioDTO>().GetBestFormat();
            //var literature = document.Media.OfType<Mises.Domain.Contracts.LiteratureDTO>().GetBestFormat();
            var videocount = document.Media.OfType<VideoDTO>().Count(); // .Where(m => m.MimeType != VideoTypes.Stream)
            var audiocount = document.Media.OfType<AudioDTO>().Count();
            //var literaturecount = document.Media.OfType<Mises.Domain.Contracts.LiteratureDTO>().Count();
            string desc;
            var mainrel = videocount + audiocount > 0 ? "media" : String.Empty;
            var pref = (video != null) ? "video" : (audio != null) ? "audio" : String.Empty;

            var mainrouteurl = "#";
            var overlayrouteurl = "#";
            var videorouteurl = "#";
            var audiorouteurl = "#";

            if (video != null)
            {
                mainrouteurl = Url.RouteUrl("media-detail", new {id = video.Id, slug = document.Title.ToSlug()});
                overlayrouteurl = videorouteurl = String.Concat(mainrouteurl, "?ajaxsrc=video");
            }

            if (audio != null)
            {
                if (mainrouteurl == "#")
                {
                    mainrouteurl = Url.RouteUrl("media-detail", new {id = audio.Id, slug = document.Title.ToSlug()});
                    overlayrouteurl = audiorouteurl = String.Concat(mainrouteurl, "?ajaxsrc=audio");
                }
                else
                {
                    audiorouteurl = String.Concat(Url.RouteUrl("media-detail", new {id = audio.Id, slug = document.Title.ToSlug()}), "?ajaxsrc=audio");
                }
            }
            
            // fix for categories
            if (mainrouteurl == "#")
            {
                mainrouteurl = string.Format("/media/{0}/{1}", media.Id, document.Title.ToSlug());
                overlayrouteurl = mainrouteurl;
                //mainrouteurl = Url.RouteUrl("categories-index", new { id = media.Id, slug = document.Title.ToSlug() });                
            }
            

            /*if ((literature != null) && (mainrouteurl == "#")) {
			overlayrouteurl = mainrouteurl = Url.RouteUrl("media-detail", new { id = literature.Id, slug = document.Title.ToSlug() });
		}*/

        }
        <a title="@document.Title" href="@overlayrouteurl" rel="@mainrel" class="poster @pref" >
            <img alt="@document.Title" src="@thumbnailurl" />
            <span class="play-button"></span>
        </a>
        <ul class="format-icons">
            @{

                if (videocount > 0)
                {
                    desc = String.Format("{0} video", videocount);
                    <li>
                        <a title="@desc" href="@videorouteurl" rel="video" class="video">@desc</a>
                    </li>
                }

                if (audiocount > 0)
                {
                    desc = String.Format("{0} audio", audiocount);
                    <li>
                        <a title="@desc" href="@audiorouteurl" rel="audio" class="audio">@desc</a>
                    </li>
                }

        @*if (literaturecount > 0)
		{
			desc = String.Format("{0} literature", literaturecount);
			<li>@Html.RouteLink(desc, "media-detail", new { id = literature.Id, slug = document.Title.ToSlug() }, new { @class = "literature", title = desc })</li>
		}*@
            }
        </ul>
        <a class="title" title="@document.Title" href="@mainrouteurl">@document.Title</a>
        <p class="date-author">@document.CreatedDate.ToString("D") by @{ Html.RenderPartial("AuthorLinksPartial", document.Authors); }</p>
    </div>
}