﻿@using Mises.Web.ViewModels.Media
@model BrowseViewModel
@{ Layout = null; }
<div class="media-page">
    @{ Html.RenderPartial("Pagination", Model); }
    <ul class="document-list">
        @{ Html.RenderPartial("DocumentSummaryList", Model); }
    </ul>
    @{ Html.RenderPartial("Pagination", Model); }
</div>