@{
    Layout = "../_Layout.cshtml";
    ViewBag.ShowSidebar = true;
    Page.Title = Page.Title ?? ViewBag.Title ?? "Mises Literature";
}
@section head {
    <link href="@Url.Content("~/Content/LiteratureStyles.css")?v=4" rel="stylesheet" type="text/css" />
    <link type="application/rss+xml" rel="alternate" title="Mises Institute : New Documents/Publications"
        href="http://feeds.mises.org/MisesLiterature" />
    @RenderSection("head", required: false)
}
@section Sidebar {
    @Html.PageContent("LiteratureSidebar")
    @*@Html.Action("Literature", "Sidebar")*@
}
<div id="title">
    <h1>
        Literature Library</h1>
    @* @Html.Partial("../Shared/Literature/SearchBox")*@
</div>
<div style="clear: both">
</div>
@(Html.Telerik().Menu()
           .Name("menu")
           .Items(menu =>
           {
               menu.Add().Text("Index").Action("Index", "Literature");
               menu.Add().Text("Author").Action("Authors", "Literature").Content(@Html.Partial("../Shared/Literature/AuthorMenu").ToHtmlString());
               menu.Add().Text("Category").Content(@Html.Partial("../Shared/Literature/CategoryMenu").ToHtmlString());
               menu.Add().Text("Source").Content(@Html.Partial("../Shared/Literature/SourceMenu").ToHtmlString());
               menu.Add().Text("Format").Content(@Html.Partial("../Shared/Literature/FormatMenu").ToHtmlString());
               menu.Add().Text("Books").Action("Source", "Literature", new { id = "Books" })
                    .Items(item =>
                               {
                                   item.Add().Action("Source", "Literature", new { id = "Full Books" });
                                   item.Add().Url("/Literature/Subject/116/Core").Text("Core");
                                   item.Add().Url("/Literature/Format/9/ebook-epub").Text("Epubs");
                               });
               menu.Add().Text("Journal").Url("/page/1450/Books-and-Periodicals-Available-on-Misesorg/")
                   .Items(item =>
                   {
                       item.Add().Url("/periodical.aspx?Id=3").Text("Journal of Libertarian Studies").ImageUrl("//mises.freecapitalists.org/images/jls.gif").ImageHtmlAttributes(new { style = "max-width:60px" });
                       item.Add().Url("/periodical.aspx?Id=4").Text("Quarterly Journal of Austrian Economics").ImageUrl("//mises.freecapitalists.org/images/qjaecover.jpg").ImageHtmlAttributes(new { style = "max-width:60px" });
                       item.Add().Url("/periodical.aspx?Id=1").Text("The Free Market").ImageUrl("//mises.freecapitalists.org/images/FreeMarket.gif").ImageHtmlAttributes(new { style = "max-width:60px" });
                       item.Add().Url("/periodical.aspx?Id=2").Text("The Mises Review").ImageUrl("//mises.freecapitalists.org/images/themisesreview.jpg").ImageHtmlAttributes(new { style = "max-width:60px" });
                       item.Add().Url("/periodical.aspx?Id=6").Text("Austrian Economics Newsletter").ImageUrl("//mises.freecapitalists.org/images/austrianeconomics.gif").ImageHtmlAttributes(new { style = "max-width:60px" });
                       item.Add().Url("/periodical.aspx?Id=5").Text("Review of Austrian Economics").ImageUrl("//mises.freecapitalists.org/jefffiles/rae.jpg").ImageHtmlAttributes(new { style = "max-width:60px" });
                       item.Add().Url("/periodical.aspx?Id=7").Text("Mises Institute Working Papers").ImageUrl("//mises.freecapitalists.org/images/WorkingPapers.gif").ImageHtmlAttributes(new { style = "max-width:60px" });
                       item.Add().Url("/reasonpapers/").Text("Reason Papers");
                       item.Add().Url("http://libertarianpapers.org/").Text("Libertarian Papers").ImageUrl("//mises.freecapitalists.org/images/libertarianpapers_logo.jpg").ImageHtmlAttributes(new { style = "max-width:60px" }); ;
                       item.Add().Url("/journals/left-right.asp").Text("Left and Right");
                       item.Add().Url("/Literature/Source/The%20Freeman").Text("The Freeman");
                       item.Add().Url("/Literature/Source/American%20Affairs").Text("American Affairs");
                       item.Add().Url("/essays.asp").Text("Essays in Political Economy");
                       item.Add().Url("/journals/libertarianforum.asp").Text("The Libertarian Forum");
                   });
               //menu.Add().Text("Advanced Search").Action("Index", "Search");




           }))
@RenderBody()
