﻿/* File Created: December 2, 2011 */

.title, .author {
    border: 1px black;
    box-shadow: 2px 2px 3px #888888;
    width: 100%;
}

#search
{
    float: right;
    border-radius: 4px;    
    top: -40px;
    position: relative;
}

#search input
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#menu
{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
/*    margin-bottom: 10px; */
}

#main
{
     margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /*border: 1px solid blue;*/
    /*box-shadow: 5px 5px 1px #888888;*/
    
}

.BookContainer
{
    background-color: white;
    width: 100%;
    margin: 0px;
    border: 1px solid gray;
    line-height: 150%;
}

.leftColumn
{
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}

.rightColumn
{
    margin-left: 190px;
    border-left: 1px solid gray;
    padding: 1em;
}

.book-img
{
    max-width: 155px;
    max-height: 215px;
}

li.BookContainer
{
    list-style-type: none;
}

#menu .t-link
{
    /*color: white;*/
}



.Pager
{
    background: #f8f8f7;
    border: 1px solid #e9e9e9;
    padding: .5em 1em;
    font: normal .8571em "Trebuchet MS" , Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

.Pager span span
{
    font-weight: bold;
}

.Pager a
{
    margin: 0px 5px;
}
