﻿/* Global Styles */

.headline
{
    background-color: #C4B583;
    background-image: url('images/HeadineBackground.png');
    background-repeat: repeat-x;
    height: 35px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    font-family: Helvetica;
    vertical-align: middle;
}

.daily
{

}



/* About View */
#about
{
    padding: 100px 10px 40px;
    text-shadow: rgba(255, 255, 255, 0.3) 0px -1px 0;
    font-size: 13px;
    text-align: center;
    background: #161618;
}
#about p
{
    margin-bottom: 8px;
}
#about a
{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

/* Home View */