﻿@using BookCatalog.Models
@using Mises.Data
@model BookCatalog.Models.LiteratureViewModel
@{
    ViewBag.Title = @Model.Author + " :: " + @Model.Title;
}
<div class="BookContainer" style="clear: both">
    <div class="leftColumn">
        <img src="@Model.Thumbnail" alt="Alternate Text" class="book-img" />
    </div>
    <div class="rightColumn">
        <h2 class="title">@Model.Title</h2>
        <h3 class="author">@Model.Author</h3>
        <div id="download-links">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th>
                    </th>
                    <th>
                        Kind
                    </th>
                    <th>
                        Size
                    </th>
                </tr>
                @foreach (var file in @Model.Formats)
                {

                    <tr>
                        <td>
                            <img src="//mises.org/@NavigationModels.GetMediaTypeFromId(file.MediaTypeId).MediaIconPath" alt="@NavigationModels.GetMediaTypeFromId(file.MediaTypeId).MediaType" />
                        </td>
                        <td>
                            <a href="@file.URL">@NavigationModels.GetMediaTypeFromId(file.MediaTypeId).MediaType </a>
                        </td>
                        <td>
                            <a href="@file.URL">@(file.fileSize) bytes </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div id="description">
            @Html.Raw(@Model.Description)
            
            @Html.Raw(@Model.PublicationInformation)
        </div>
        <em>Updated @Model.EditDate.ToShortDateString()</em>
    </div>
</div>


@section head{
    
    <meta name="description" value="@DataFormat.StripHTML(Model.Description)" />
}
