﻿@model Mises.Data.PageTable

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PageTable</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.GUID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GUID)
            @Html.ValidationMessageFor(model => model.GUID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Visible)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Visible)
            @Html.ValidationMessageFor(model => model.Visible)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pageTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pageTitle)
            @Html.ValidationMessageFor(model => model.pageTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pageName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pageName)
            @Html.ValidationMessageFor(model => model.pageName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.folder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.folder)
            @Html.ValidationMessageFor(model => model.folder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.content)
            @Html.ValidationMessageFor(model => model.content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.metaKeywords)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.metaKeywords)
            @Html.ValidationMessageFor(model => model.metaKeywords)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.metaDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.metaDescription)
            @Html.ValidationMessageFor(model => model.metaDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreateDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreateDate)
            @Html.ValidationMessageFor(model => model.CreateDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EditDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EditDate)
            @Html.ValidationMessageFor(model => model.EditDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
