﻿@model Mises.Data.PageTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PageTable</legend>

    <div class="display-label">GUID</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GUID)
    </div>

    <div class="display-label">Visible</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Visible)
    </div>

    <div class="display-label">pageTitle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pageTitle)
    </div>

    <div class="display-label">pageName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pageName)
    </div>

    <div class="display-label">folder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.folder)
    </div>

    <div class="display-label">content</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.content)
    </div>

    <div class="display-label">metaKeywords</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.metaKeywords)
    </div>

    <div class="display-label">metaDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.metaDescription)
    </div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">EditDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EditDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
