﻿@using Mises.Data
@model Mises.Data.PageTable
@{
    Page.Title = Model.pageTitle;
}
@section Sidebar
{
    @Html.Action("About", "Sidebar")
}
@section head{
    <meta name="Description" content="@Model.metaDescription" />
    <meta name="Keywords" content="@Model.metaDescription" />
    @*  @if (Model.Authors != null && Model.Authors.Any() != null)
        {
            <link type="application/rss+xml" rel="alternate" title="Feed for @Model.FilterText" href="/Feed/Media/?AuthorId=@Model.Authors.First().Id" />
        }*@ @*<link type="application/rss+xml" rel="alternate" title="Mises Institute : New Media"
        href="http://feeds.mises.org/MisesMedia" />*@
}
<h1>
    @Model.pageTitle
</h1>
@Html.Raw(Model.content)

@if (Model.GUID != Guid.Empty)
{
    <div class="comments">
        <script>
            var idcomments_acct = 'f3b523a2c7233ba02ce890689c979799';
            var idcomments_post_id = '@Model.GUID';
            var idcomments_post_url;

        </script>
        <span id="IDCommentsPostTitle" style="display: none"></span>
        <script type='text/javascript' src='//www.intensedebate.com/js/genericCommentWrapperV2.js'> </script>
    </div>
}
