﻿<script>
    $(document).ready(function() {
        $("#tabs-live").tabs();
        $("#tabs-misesu").tabs();
    });
</script>
<div id="header">
    <h4>
        <a href="http://mises.freecapitalists.org//pdf//events/mu2011schedule.pdf">See the complete schedule
            here (PDF).</a> | <a href="http://mises.freecapitalists.org//events/110">Event Information</a>
    </h4>
</div>
<div id="tabs-misesu">
    <ul>
        <li><a href="#tv1">Mises.TV 1</a> </li>
        <li><a href="#tv2">Mises TV 2</a> </li>
    </ul>
    <div id="tv1">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="296"
                id="utv128228">
            <param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=8307994&amp;v3=1" />
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="always" />
            <param name="movie" value="http://www.ustream.tv/flash/viewer.swf" />
            <embed flashvars="autoplay=false&amp;brand=embed&amp;cid=8307994&amp;v3=1" width="480"
                   height="296" allowfullscreen="true" allowscriptaccess="always" id="utv128228"
                   name="utv_n_180132" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash" /></object><br />
        <a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Live streaming by Ustream</a>
        <iframe width="900" scrolling="no" height="586" frameborder="0" style="border: 0px none transparent;"
                src="http://www.ustream.tv/socialstream/8307994"></iframe>
    </div>
    <div id="tv2">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="296"
                id="utv875330">
            <param name="flashvars" value="autoplay=false&amp;brand=embed&amp;cid=8832180&amp;v3=1" />
            <param name="allowfullscreen" value="true" />
            <param name="allowscriptaccess" value="always" />
            <param name="movie" value="http://www.ustream.tv/flash/viewer.swf" />
            <embed flashvars="autoplay=false&amp;brand=embed&amp;cid=8832180&amp;v3=1" width="480"
                   height="296" allowfullscreen="true" allowscriptaccess="always" id="utv875330"
                   name="utv_n_203481" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash" /></object><br />
        <a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Broadcasting live with Ustream</a>
        <iframe width="900" scrolling="no" height="586" frameborder="0" style="border: 0px none transparent;"
                src="http://www.ustream.tv/socialstream/8832180"></iframe>
    </div>
</div>
</div>