﻿@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_AdminLayout.cshtml";
}

<h2>Admin Index</h2>

<p>
    This section is for new MVC-style admin pages.  It is replace the old section - one day.
</p>

<a href="/Admin/Document/">Doc List </a>

<a href="/Admin/Document/Edit/1010">edit 1010</a>