﻿@model List<BookCatalog.Models.AuthorViewModel>
@{
    ViewBag.Title = "Authors";
}
<h2>
    Authors</h2>
@(Html.Telerik().Grid(Model)
               .Name("Grid")
               .Columns(columns =>
                            {
                                columns.Template(
                                    @<text>
<img 
                                             alt="@item.ToString()" 
                                             src="@item.Photo"
                                             height="120" 
                                             />
</text>).Title("").Width(40);

                                columns.Template(
                                    @<text>
                                        <h4>
                                            @item.ToString()</h4>
                                        <div>
                                            @item.Born - @item.Died</div>
                                        <p>
                                            @Html.Raw(@item.BioText)</p>
                                        <strong><a href="/Home/Author/@item.AuthorId/@item.ToString().ToSlug()">@item.Books
                                            Books</a></strong>
</text>
).Title("Author");

                                //columns.Bound(o => o.authorName).Title("Author").Width(100);
                                //columns.Bound(o => o.DatePosted).Title("Date").Format("{0:MM/dd/yyyy}").Width(100);
                            })
               .Pageable(paging => paging.PageSize(50).Position(GridPagerPosition.Both))
               .DataKeys(keys => keys.Add(o => o.AuthorId))
               .Sortable(c => c.Enabled(true))
        )
@*<table style="border: 1px black solid;">
    <tbody>
        @foreach (dynamic author in @Model)
        {
            <tr>
                <td>
                    <img src="@item.Photo" alt="" class="book-img" />
                </td>
                <td>
                    <h4>
                        @item.ToString()</h4>
                    <div>
                        @item.Born - @item.Died</div>
                    <p>
                        @Html.Raw(@item.BioText)</p>
                    <strong><a href="http://localhost:54665/Home/Author/@item.AuthorId/@item.ToString().ToSlug()">@item.Books
                        Books</a></strong>
                </td>
            </tr>
        }
    </tbody>
</table>
*@