﻿@{
    ViewBag.Title = "Austrian Economics Literature Library";

    ViewBag.Title = @Html.GetTitle();
}
@using BookCatalog.Models
@model List<LiteratureViewModel>
<style type="text/css">
    
</style>
<h6>@ViewBag.Title: @ViewBag.Total records</h6>
@if (ViewBag.Author != null)
{
    <div id="bio" style="border: 1px black solid;">
        @{ var author = ((AuthorViewModel)ViewBag.Author); }
        <div class="leftColumn">
            <img src="@author.Photo" alt="Alternate Text" class="book-img" />
        </div>
        <div class="rightColumn">
            <h4>
                About @author.ToString()</h4>
            <div>
                @author.Born - @author.Died</div>
            <p>
                @Html.Raw(@author.BioText)</p>
        </div>
    </div>
}
<h6 id="pager" class="Pager">
    @Html.Pager((int)@ViewBag.PageSize, (int)ViewBag.CurrentPage, (int)@ViewBag.Total)
</h6>
<ul>
    @foreach (LiteratureViewModel book in @Model)
    {
        <li class="BookContainer" style="clear: both">
            <div class="leftColumn">
                <img src="//mises.org/@book.Thumbnail" alt="Alternate Text" class="book-img" />
            </div>
            <div class="rightColumn">
                <h4>
                    <a href="@Url.Content(@book.URL)" title="more details...">@book.Title</a>
                    @GetLinks(book)
                </h4>
                <h5>
                    @*@Html.ActionLink(@book.Author,"Author",new { id = @book.AuthorId, name = @book.Author.ToSlug()})*@
                    <a href="@Url.Content("~/Home/Author/" + @book.AuthorId + "/" + @book.Author.ToSlug())">@book.Author.ToString()</a>
                </h5>
                <div id="partial">@book.Description.StripHTML().PadRight(250).Substring(0,250).Trim()...</div>
                <em>Updated @book.EditDate.ToShortDateString()</em>
            </div>
        </li>
        
    
    }
</ul>
@helper GetLinks(LiteratureViewModel book)
    {
        foreach (var fileModel in book.Formats)
        {
    <a href="@fileModel.URL" title="@NavigationModels.GetMediaTypeFromId(fileModel.MediaTypeId).MediaType">
        <img src="//mises.org/@NavigationModels.GetMediaTypeFromId(fileModel.MediaTypeId).MediaIconPath" alt="@NavigationModels.GetMediaTypeFromId(fileModel.MediaTypeId).MediaType"  /></a>
        }
        
}