﻿@{
    Layout = null;
}
@using Mises.Data
@model Mises.Web.ViewModels.HomeViewModel

<div class="pod">

    <div class="clearer">
    </div>
    <div class="content">
        <div id="audioleft_arr">
        </div>
        <div id="audioscroll">
            <div id="audioscroll_inner">

                @for (int index = 0; index < @Model.Audio.Count; index++)
                {
                    MediaGetLatestAudioResult item = @Model.Audio[index];


                    <div class="audio_section">

                        <div class="audioindiv">
                            <a class="audioplay" href="@String.Format("/media/{0}/{1}", @item.FileId, @item.Title.ToSlug())"></a><a href="@String.Format("/media/{0}/{1}", @item.FileId, @item.Title.ToSlug())">
                                <img src="@String.Concat("/media/poster/", item.DocumentId)" style="width:133px; margin-bottom:3px;">
                            </a>
                            <p>
                                <a href="@String.Format("/media/{0}/{1}", @item.FileId, @item.Title.ToSlug())" style="font-weight: bold; font-size: 14px;">@item.Title</a>
                            </p>
                            <p class="byline" style="font-size: 12px;">
                                @item.CreateDate.ToLongDateString() by <a href="@String.Format("/media/{0}/{1}", @item.FileId, @item.Title.ToSlug())">@item.Author</a>
                            </p>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>
    <!-- audioscroll -->
    <div id="audioright_arr">
    </div>
    <div class="clearer">
    </div>
</div>
<div class="footer">
</div>
</div>