﻿@{
    Layout = null;
}
@using Mises.Data
@model Mises.Web.ViewModels.HomeViewModel

<!-- upcoming events scroller -->
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        // events
        $('#events_scroller').cycle({
            fx: 'scrollUp',
            speed: 'slow',
            random: 0,
            timeout: 9000,
            pause: 1
        });

        //audio
        $('#audioscroll_inner').cycle({
            fx: 'scrollHorz',
            speed: 'slow',
            random: 0,
            timeout: 0,
            prev: '#audioleft_arr',
            next: '#audioright_arr',
            pause: 1
        });

    });
</script>
<div id="hp_academy">
    <h2 class="hptitle">
        <a href="http://academy.mises.org">Online Courses in the Mises Academy</a> <a class="allcourses"
            href="http://academy.mises.org/courses/" style="margin: 5px 20px 0px 0px !important;">
            <b>See All Courses</b></a></h2>
    @foreach (AcademyCourse item in @Model.Courses)
    {
        <div class="eaa_course">
            <div class="eaa_img">
                <a href="@item.ProductUrl">
                    <img src="@item.ImageUrl" alt="@item.Title" /></a></div>
            <div class="eaa_txt">
                <span class="eaa_date">@item.CreateDate</span><br />
                <span class="course">"@item.Title"</span><br />
                @if(item.Description != null) 
                {
                    <span>
                        @item.Description.PadRight(75).Substring(0, 75)... <a href="@item.ProductUrl">
                                                                               (more)</a> <a class="regnow" title="@item.Price" href="@item.ProductUrl">Register Now</a>
                    </span>
                 }
            </div>
            <div class="clearer">
            </div>
        </div> 
    }
</div>
<div id="upcoming_events">
    <h2 class="hptitle">
        <a href="events">Upcoming Events</a></h2>
    <div id="events_scroller">
        @for (int index = 0; index < @Model.Events.Count; index++)
        {
            var item = @Model.Events[index];


                <div class="events_set">

                <div class="eventsblock">
                    <a href="http://mises.freecapitalists.org//events/@item.EventId/@item.Title.ToSlug()" title="@item.Title">
                        <img src="@item.EventImage" alt="@item.Title" />
                    </a>
                    <p>
                        <span class="eae_event">@item.Title</span><br />
                        <i>@item.EventDate | @item.Location</i><br />
                        @if (@item.IntroText != null)
                        {
                            @Html.Raw(item.IntroText.PadRight(75).Substring(0, 75))<text>...</text>
                        }
                        <a class="readmore_sm2" href="http://mises.freecapitalists.org//events/@item.EventId/@item.Title.ToSlug()">
                            <b>MORE</b>
                        </a>
                </div>
            </div>
            }
        <!-- set -->
    </div>
    <!-- events_scroller -->
</div>
<!-- ea_events -->
