﻿@{
    Layout = null;
}
@using System.ServiceModel.Syndication
@using Mises.Data
@model IEnumerable<SyndicationItem>

<ul>
    @foreach (SyndicationItem item in Model)
    {
        <li><a href="@(item.Links.Any() ? item.Links[0].Uri : null)" title="@(item.Summary != null ? DataFormat.StripHTML(item.Summary.Text).PadRight(500).Substring(0, 500) : "")...">@item.Title.Text</a>
        </li>
    }
</ul>