﻿@using Mises.Web.ViewModels
@model HomeViewModel
@{
    Page.Title = "Ludwig von Mises Institute : The Austrian School Is Advancing Liberty";
}
<div class="container">
    @{Html.RenderPartial("MisesDaily", Model);}
    <div id="hp_leftcol">
        @{Html.RenderPartial("NewContent", Model);}
    </div>
    <div id="hp_rightcol">
        
        <div style="clear: both;"></div>
        @{Html.RenderPartial("NewMedia", Model);}
    </div>
    <div class="clearer">
    </div>
    <br />
    <div id="ea">
        <div id="eatop">
        </div>
        <div id="ea_inner">
            @{Html.RenderPartial("BottomRow", Model);}
        </div>
        <div class="clearer">
        </div>
    </div>
    <!-- ea_inner -->
    <div id="eabot">
    </div>
</div>
</div>
@section head{
    <link type="application/rss+xml" rel="alternate" title="Mises Daily Feed" href="http://feeds.mises.org/misesdailyarticles" />
    <link type="application/rss+xml" rel="alternate" title="Mises Daily Feed - Full Text"
        href="http://feeds.mises.org/MisesFullTextArticles" />
    <link type="application/rss+xml" rel="alternate" title="Mises Institute : New Documents/Publications"
        href="/literature.xml" />
    <link type="application/rss+xml" rel="alternate" title="Mises Institute : New Media"
        href="/media.xml" />
    <link type="application/rss+xml" rel="alternate" title="Mises Institute : Upcoming Events"
        href="/events.xml" />
    <meta name="description" content="The Ludwig von Mises Institute is the research and educational center of classical liberalism and the Austrian School of economics. Working in the intellectual tradition of Ludwig von Mises (1881-1973) and Murray N. Rothbard (1926-1995), with a vast array of publications, programs, and fellowships, the Mises Institute seeks a radical shift in the intellectual climate." />
    <meta name="keywords" content="Austrian Economics, Austrian Biography, Mises, Rothbard, Research in Austrian Economics, Free Market Theory, Libertarianism, Auburn, classical liberalism, capitalism" />
}
