﻿@{ Layout = null; }
@using Mises.Data
@using Mises.Web.ViewModels
@model HomeViewModel
<div id="sl_dates" style="display: none">
</div>
<script id="headlineTemplate" type="text/x-jquery-tmpl">   
    
    <h1><a href="${ArticleUrl}">${Title}</a></h1>
    <div class="clearer">
    </div>
    <div id="hp_dailyf_img">
        <a href="${ArticleUrl}">
            <img alt='${Title}' src="//s3.amazonaws.com/veksler-backup/DailyArticleBigImages/${ArticleId}.jpg" />
        </a>
        <br />
    </div>
    <div id="hp_dailyf_txt">
        <span class="byline">
            ${DatePosted}
            &#149; <a href="/daily/author/${AuthorId}/${AuthorName}">${AuthorName}</a>                   
        </span>
        <p style="margin-top: 7px;">
            ${Description}
            <br />
            <a rel="prefetch" href="${ArticleUrl}" class="readmore">
                </a>
        </p>
    </div>
    <div class="clearer">
    </div>    
    
    
</script>
<script id="featuredTemplate" type="text/x-jquery-tmpl">   
    <div id="hps_1">
        <div class="hp_dailys_img">
            <a href="${ArticleUrl}">
                <img src="//s3.amazonaws.com/veksler-backup/DailyArticleImages/${ArticleId}.jpg" alt="Thumbnail"
                     width="170" height="130" /></a><br />
        </div>
        <div class="hp_dailys_txt">
            <h1>
                <a href="${ArticleUrl}">${Title}</a></h1>
            <span class="byline">${DatePosted} &#149; <a href="/daily/author/${AuthorId}/">${AuthorName}</a>
            </span>
            <p>
                ${Description}
                </p>
        </div>
        <div class="clearer">
        </div>
    </div>
</script>
<div id="hp_daily">
    @foreach (DailyArticlesGetTodaysSummaryResult article in @Model.FeaturedArticle)
    {
        <!-- featured daily -->
        <div id="hp_dailyf">
            <h1>
                <a href="/daily/@article.ArticleId/@article.Title.ToSlug()" rel="prefetch">@Html.Raw(@article.Title)</a></h1>
            <div class="clearer">
            </div>
            <div id="hp_dailyf_img">
                <a href="/daily/@article.ArticleId/@article.Title.ToSlug()">
                    <img alt='@article.Title' src="//s3.amazonaws.com/veksler-backup/DailyArticleBigImages/@(article.ArticleId).jpg" />
                </a>
                <br />
            </div>
            <div id="hp_dailyf_txt">
                <span class="byline">
                    @article.DatePosted.ToString("MMMM d")
                    &#149; <a href="/daily/author/@article.AuthorId/@article.Author.ToSlug()">@article.Author</a>
                    @if (@article.CoAuthorId > 0)
                    {
                        <text>and</text>
                        <a href="/daily/author/@article.CoAuthorId/@article.CoAuthor.ToSlug()">@article.CoAuthor</a>
                    }
                </span>
                <p style="margin-top: 7px;">
                    @Html.Raw(article.Description)                    
                </p>
            </div>
            <div class="clearer">
            </div>
        </div>
    }
    <!-- hp_dailys -->
    <div id="hp_dailys">
        
        @Html.PageContent("HomepageAnnounce")
     
        @foreach (DailyArticlesGetTodaysSummaryResult article in @Model.TodaysArticles)
        {
            <div id="hps_1">
                <h1>
                    <a href="/daily/@article.ArticleId/@article.Title.ToSlug()">
                        @Html.Raw(@article.Title)</a></h1>
                <div class="hp_dailys_img">
                    <a href="/daily/@article.ArticleId/@article.Title.ToSlug()">
                        <img width='170' height='130' alt='@article.Title'
                             src='//s3.amazonaws.com/veksler-backup/DailyArticleImages/@(article.ArticleId).jpg' /></a><br />
                </div>
                <div class="hp_dailys_txt">
               
                   
                    <span class="byline">
                        @article.DatePosted.ToString("MMMM d")
                        &#149; <a href="/daily/author/@article.AuthorId/@article.Author.ToSlug()">@article.Author</a>
                        @if (@article.CoAuthorId > 0)
                        {
                            <text>and</text>
                            <a href="/daily/author/@article.CoAuthorId/@article.CoAuthor.ToSlug()">@article.CoAuthor</a>
                        }
                    </span>
                    <p style="margin-top: 0px; padding-top: 2px;">
                        @Html.Raw(article.Description)
                    </p>
                    
                                        
                </div>
                <div class="clearer">
                </div>
            </div>
        }
        
        
        
    </div>
    <div class="clearer">
    </div>
</div>
<div id="sn">
    <a href="#" class="hpdprev"><b>Previous Day's Articles</b></a> <a href="#" class="hpdnext">
                                                                       <b>Next Day's Articles</b></a> <a href="/daily/" class="hpdarchive"><b>Mises Daily Archive</b></a>
    <div id="snicon_container">
        <ul class="icons">
            <li><a class="icoem" href="/content/elist.asp" title="Sign up for Email Updates"><b>
                                                                                                 Sign Up for Email Updates</b></a></li>
            <li><a class="icofb2" href="http://www.facebook.com/mises.institute" target="_blank"
                   title="Mises Institute on Facebook"><b>Like the Mises Institute on Facebook</b></a></li>
            <li><a class="icotw2" href="http://twitter.com/mises" target="_blank" title="Follow us on Twitter">
                    <b>Follow us on Twitter</b></a></li>
            <li><a class="icoli" href="http://www.linkedin.com/groups?mostPopular=&gid=40850"
                   target="_blank" title="Mises Institute on LinkedIn"><b>Mises Institute on LinkedIn</b></a></li>
            <li><a class="icors2" href="/rss" title="Subscribe to our RSS feeds"><b>Subscribe to
                                                                                     our RSS feeds</b></a></li>
            <li><a class="icoam2" href="http://www.amazon.com/Mises-Economics-Blog/dp/B00336EQLW"
                   target="_blank" title="Mises Blog on Kindle"><b>Mises Blog on Kindle</b></a></li>
            <li><a class="icoyt2" href="http://www.youtube.com/user/misesmedia" target="_blank"
                   title="Mises channel on YouTube"><b>Mises channel on YouTube</b></a></li>
            <li><a class="icopc2" href="http://picasaweb.google.com/MisesInstitute/" target="_blank"
                   title="Mises Gallery"><b>Mises gallery</b></a></li>
            <li><a class="icomk2" href="/markets.asp" title="Markets and Data"><b>Markets and Data</b></a></li>
            <li><a class="icoit2" href="http://itunesu.mises.org" title="Free downloads at ITunes U">
                    <b>Free downloads at iTunes U</b></a></li>
        </ul>
    </div>
</div>
<br />