﻿@{
    Layout = null;
}
@using System.Data
@using BookCatalog.Models
@using Mises.Data
@using Mises.Domain.Feeds
@using Mises.Web.ViewModels
@model HomeViewModel
<div id="tabs">
    <ul>
        <li><a href="#tab-blog">Blog</a></li>
        <li><a href="#tab-store">Store</a></li>
        <li><a href="#tab-books">E-books</a></li>
        @*<li><a href="#tab-forums">Forums</a></li>*@
        @*   <li><a href="#tab-markets">Markets</a></li>*@
        @*<li><a href="#daily-comments">Comments</a></li>*@
    </ul>
    
    
    
    <div id="tab-blog">
        
        <h2 class="header" style="width:400px;">
            <a href="http://bastiat.mises.org/">Mises Economics Blog</a></h2>
        @if (Model.BastiatDataset != null)
        {
            foreach (DataRow row in (Model.BastiatDataset).Rows)
            {
                <div class="storeitem">
                    <h4>
                        <em>@row["author"]</em>: <a href="@row["link"]">@Html.Raw(@row["title"].ToString())</a>
                        <br />
                        <span>
                            @Html.Raw(@DataFormat.StripHTML(@row["Description"].ToString()).Replace("&quot;", "").PadRight(250).Substring(0, 250))
                            ... <a href="@row["link"]"><i>More&nbsp;&#187;</i></a> </span>
                    </h4>
                </div>
            }
        }
        <a class="more" href="http://bastiat.mises.org/">view all&hellip;</a> <a class="rss"
                                                                                 href="http://feeds.mises.org/MisesBlog">mises blog rss</a>
            
      @*  <h2 class="hdrblog header">
            <a href="http://blog.mises.org/">Mises News</a></h2>*@
       @* @if (Model.BlogDataset != null)
        {
            foreach (DataRow row in (Model.BlogDataset).Rows)
            {
                <div class="storeitem">
                    <h4>
                        <em><a href="@row["user_url"]">@row["author"]</a></em>: <a href="@row["link"]">@Html.Raw(@row["title"].ToString())</a>
                        <br />
                        <span>
                            @Html.Raw(@DataFormat.StripHTML(@row["Description"].ToString()).Replace("&quot;", "").PadRight(250).Substring(0, 250))
                            ... <a href="@row["link"]"><i>More&nbsp;&#187;</i></a> </span>
                    </h4>
                </div>
            }
        }
        <a class="more" href="http://blog.mises.org/">view all&hellip;</a> <a class="rss"
                                                                              href="http://feeds.mises.org/MisesBlog">mises blog rss</a>*@
                                                                              
        <!-- / .cont -->
    </div>
    
    <div id="tab-store">
        <h2 class="hdrstore header">
            <b>In the Mises Store</b></h2>
        @foreach (StoreGetBestsellersResult item in Model.StoreItems)
        {
            <div class="storeitem">
                <div class="si_img">
                    <a href="http://store.mises.org/@item.DisplayPage">
                        <img src="@item.ThumbnailUrl.Replace("~", "http://store.mises.org")" alt="@item.Name" width="100" /></a></div>
                <a href="http://store.mises.org/@item.DisplayPage">
                    <h3>@item.Name</h3>
                </a>
                <div class="byline">
                    by:
                    @item.Author<br />
                    @item.Price.ToString("C")</div>
                @if(item.DESCRIPTION != null) {
                <div>
                
                    @DataFormat.StripHTML(item.DESCRIPTION).PadRight(200).Substring(0, 200)... <a href="http://store.mises.org/@item.DisplayPage">

    <i>More&nbsp;&#187;</i>
</a></div>
}                                                                                      
            </div>
        }
    </div>


    <div id="tab-books">
        <h2 class="hdrbooks header">
            <a href="/Literature">Newly Updated E-books</a>
        </h2>
        @foreach (LiteratureViewModel book in @Model.Books)
        {
            <div class="storeitem">
                <div class="si_img">
                    <a href="/document/@book.DocumentId/@book.Title.ToSlug()">
                        <img src="//mises.freecapitalists.org/@book.Thumbnail" alt="@book.Title" width="100" /></a></div>
                <a href="/document/@book.DocumentId/@book.Title.ToSlug()">
                    <h3>@book.Title</h3>
                </a>
                <div class="byline">
                    by: <a href="/Literature/Author/@book.AuthorId/@book.Author.ToSlug()">@book.Author</a>
                    @if (@book.CoAuthorId > 0)
                    {
                        <text>and</text>
                        <a href="/Literature/Author/@book.CoAuthorId/@book.CoAuthor.ToSlug()">@book.CoAuthor</a>
                    }
                    <br />
                    @if (book.Description != null)
                    {
                        <div>
                            @book.Description... <a href="/document/@book.DocumentId/@book.Title.ToSlug()">
                                                     <i>More&nbsp;&#187;</i></a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    
    
    
   @* <div id="tab-forums">
        <h2 class="hdrforums header">
            <a href="/community/forums/">
                <img src="//mises.freecapitalists.org/images/Theme/images/hdr_recentforumact.gif" alt="Community Activity"
                    style="margin: 7px 0px 15px 0px;" /></a></h2>
        @{Html.RenderPartial("FeedViewer", RssFeedReader.GetFeedItems("http://feeds.mises.org/MisesCommunity", Context));}
       <a class="more" href="/Community/forums/">view all&hellip;</a> <a class="rss"
            href="/Community/forums/aggregaterss.aspx">forums rss</a>
        <!-- / .cont -->
    </div>*@
   @* <div id="daily-comments">
        <h2 class="header">
            Latest Mises Daily Comments</h2>
        <script src="//www.intensedebate.com/widgets/acctComment/150587/5" defer="defer"
            type="text/javascript"> </script>
    </div>*@
    @*    <div id="tab-markets">
        <div id="MarketsDiv" style="width: 100%">
            <h2>
                <a href="/markets.asp">
                    <img src="/images/Theme/images/hdr_marketsanddata.gif" alt="Markets and Data" style="margin: 7px 0px 15px 0px;" /></a>
            </h2>
            <script src="https://www.gmodules.com/ig/ifr?url=http://www.macroaxis.com/macro_sectors.xml&amp;synd=open&amp;w=320&amp;h=430&amp;title=Sector+Summary&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"
                class="left"></script>
            <script src="https://www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/101837643375829808609/preciousmetals.xml&amp;up_title=Precious%20Metal%20Values&amp;up_startTab=Gold&amp;up_period=0&amp;up_cur=us&amp;synd=open&amp;w=320&amp;h=210&amp;title=Precious+Metal+Prices&amp;border=%23ffffff%7C0px%2C1px+solid+%23004488%7C0px%2C1px+solid+%23005599%7C0px%2C1px+solid+%230077BB%7C0px%2C1px+solid+%230088CC&amp;output=js"
                class="right"></script>
            <h3>
                <a href="/markets.asp">Complete Markets Page:
                    <img src="/images/Theme/images/icon_mktsanddata.gif" />
                </a>
            </h3>
        </div>
    </div>*@
</div>
<br />

<!-- Wiki -->
<!--
<div id="hp_wiki">
    <h2 class="hptitle">
        <a href="http://wiki.mises.org">In the Mises Wiki</a></h2>
    <ul class="wikilist">
        @{Html.RenderPartial("FeedViewer", RssFeedReader.GetFeedItems("http://feeds.mises.org/MisesWiki", Context, 4));}
    </ul>
</div>
-->
<!-- hp_wiki -->
