﻿@{
    Layout = null;
    string pageUrl = Request.Url.ToString();

    if (Model.Video != null)
    {
        pageUrl = Server.UrlEncode(String.Format("//{0}/media/{1}/{2}", Request.Url.Host, Model.Video.Id, Model.Title.ToSlug()));
    } 
        
}
@using Mises.Domain.Contracts
@using Mises.Web.ViewModels
@using Mises.Web.ViewModels.Media
@model VideoPodViewModel

<div id="VideoPod" class="pod video">

   <!-- <h2><a href="/media/video">Video on mises.org</a></h2> -->
    <div class="content">
        @Html.PageContent("VideoWidget")
        @*
            <ul class="social-toolbar">
            <li>
                <div class="change">
                    change video<span class="icon"></span>
                </div>
            </li>
            <li><a class="social-button digg" target="_blank" href="http://digg.com/submit?phase=3&amp;url=@pageUrl" title="Digg">
                <strong>Digg it</strong></a></li>
            <li><a class="social-button delicious" target="_blank" href="http://del.icio.us/post?title=@Page.Title&amp;url=@pageUrl" title="Del.icio.us">
                <strong>Del.icio.us it</strong></a></li>
            <li><a class="social-button stumbleupon" target="_blank" href="http://www.stumbleupon.com/submit?url=@pageUrl" title="StumbleUpon">
                <strong>StumbleUpon it</strong></a></li>
            <li><a class="social-button reddit" target="_blank" href="http://www.reddit.com/submit?url=@pageUrl" title="Reddit">
                <strong>Reddit</strong></a></li>
            <li>
                <div class="counter page-tweet-count">
                    <iframe src="//platform.twitter.com/widgets/tweet_button.html?url=@pageUrl&text=@Page.Title&via=mises&count=horizontal" frameBorder="0" scrolling="no" style="width: 100px; height: 21px;" allowTransparency="true" scrollbars="no"></iframe>
                </div>
            </li>
            <li>
                <div class="counter page-fb-like-count">
                    <iframe src="//www.facebook.com/plugins/like.php?href=@pageUrl&amp;layout=button_count&amp;show_faces=true&amp;width=150&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 150px; height: 21px;" allowTransparency="true"></iframe>
                </div>
            </li>
        </ul>



     
        <strong><a href="/media/@Model.Media.FirstOrDefault().Id/@Model.Title.ToSlug()" title="@Model.Title">@Model.Authors.FirstOrDefault().FullName:
                @Model.Title</a></strong>
            Html.RenderPartial("Media/VideoPlayer", new VideoPlayerViewModel(Request.Browser, @Model.Video));
        <p>
            <small>@Model.DescriptionHtml.StripHTML().PadRight(500).Substring(0, 500)
                ( @Model.CreatedDate.ToShortDateString() ) </small>
        </p>*@



        <a class="media_button" href="/media/video">More Videos<span class="icon"></span>
        </a><a class="media_button" href="/media">All Media Files<span class="icon"></span>
        </a>

    </div>
    <div class="footer">
    </div>
</div>
