﻿@{
    Layout = null;
}
<div class="bookmark">   
    
    <!-- AddThis Button BEGIN -->


<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
@*<a class="addthis_counter addthis_bubble_style"></a>*@
</div>
<!-- AddThis Button END -->

<span class="reddit">
        <script type="text/javascript" src="http://www.reddit.com/button.js?t=2"> </script>
    </span>    

    
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"> 
		      {
		          "parsetags":;
		          "explicit";
		      }
    </script>
    <div id="content">
        <g:plusone size="medium" href="<%=Request.Url.ToString()%>"></g:plusone>
    </div>
    <script type="text/javascript">
        gapi.plusone.go("content");
    </script>    
    
</div>