﻿@model Mises.Web.ViewModels.Categories.DetailViewModel

@{
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="categories">	
	<h2 class="change">Look up another category <input id="category-lookup" class="autocomplete" data-source="/media/searchcategoriesjson" data-target-base="/media/categories" /></h2>

	@{ Html.RenderPartial("Breadcrumb", Model.Breadcrumb); }
	
	@if (Model.Children.TotalItems > 0) {
		Html.RenderAction("ItemSummaryList", "Categories", Model.Children);
	}
	
	@if (Model.Documents.TotalItems > 0) {
		<h3 class="media">Media<span> (@Model.Documents.GetMediaSummary())</span></h3>
		Html.RenderAction("BrowsePartial", "Media", Model.Documents);
	}
</div>