﻿@model Mises.Web.ViewModels.Categories.IndexViewModel

@{
	Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div id="categories">
	<div class="intro">
		<span class="icon"></span>
		<h1>@Model.Title</h1>
		<p class="summary">Browse below or look up <input id="category-lookup" class="autocomplete" data-source="/media/searchcategoriesjson" data-target-base="/media/categories" /></p>
	</div>
	
	@if (Model.Children.TotalItems > 0) {
		Html.RenderAction("ItemSummaryList", "Categories", Model.Children);
	}
	
	@if (Model.Documents.TotalItems > 0) {
		<h3 class="media">Media<span> (@Model.Documents.GetMediaSummary())</span></h3>
		Html.RenderAction("BrowsePartial", "Media", Model.Documents);
	}
</div>