﻿@model Mises.Web.ViewModels.BrowseViewModel<Mises.Domain.Contracts.CategorySummaryDTO>
<div class="sub-categories">
	<h3>@Model.Title<span> (@Model.TotalItems)</span></h3>
	<ul>
		@{ Html.RenderPartial("ItemSummaryListPartial", Model); }
	</ul>
</div>