﻿@model Mises.Web.ViewModels.BrowseViewModel<Mises.Domain.Contracts.CategorySummaryDTO>

@if (Model.Items.Count > 0) {
	var i = 0;
	while(i < Model.Items.Count) {
		<li>
		@{
			var j = 0;
			while (j < Model.GroupSize && i < Model.Items.Count) {
				Html.RenderPartial(Model.ItemViewName, Model.Items[i]);
				j++;
				i++;
			}
		}
		</li>
	}
}